{{{includes.navbar}}}

<div class="wrapperforfooter">
  <div class="container-fluid monarch-container">

    <div class="content content-bottom">
      <div class="title">How to Cite Monarch</div>
	      <div class="section">
	      <div class="sectiontitle">Citing the whole Monarch Project</div>
		    <div class="text">Navigating the Phenotype Frontier: The Monarch Initiative
        Julie A. McMurry, Sebastian Köhler, Nicole L. Washington, James P. Balhoff, Charles Borromeo, 
        Matthew Brush, Seth Carbon, Tom Conlin, Nathan Dunn, Mark Engelstad, Erin Foster, Jean-Philippe Gourdine,
        Julius O.B. Jacobsen, Daniel Keith, Bryan Laraway, Jeremy Nguyen Xuan, Kent Shefchek, Nicole A. Vasilevsky, 
        Zhou Yuan, Suzanna E. Lewis, Harry Hochheiser, Tudor Groza, Damian Smedley, Peter N. Robinson, Christopher J. Mungall, 
        Melissa A. Haendel GENETICS August 1, 2016 vol. 203 no. 4 1491-1495; DOI: 10.1534/genetics.116.188870
		    </div>
		    <div class="text">
		     
		    </div>
		    <div class="text">
		    MonarchInitiative.org: Integrated data and analyses connecting phenotypes to genotypes
        Mungall, Chris; McMurry, Julie; Köhler, Sebastian; Balhoff, James; Borromeo, Charles; Brush, Matthew; Carbon, Seth; 
        Conlin, Tom; Dunn, Nathan; Engelstad, Mark; Foster, Erin; Gourdine, JP; Jacobsen, Jules; Keith, Daniel; Laraway, Bryan; 
        Lewis, Suzanna; Nguyen Xuan, Jeremy; Shefchek, Kent; Vasilevsky, Nicole; Yuan, Zhou; Washington, Nicole; Hochheiser, Harry; 
        Groza, Tudor; Smedley, Damian; Robinson, Peter; Haendel, Melissa. Nucleic Acids Research, submitted 22 August 2016
        NAR-02458-2016. Accepted pending minor revisions September 21, 2016.
		    </div>
        <div class="clear"></div>
        <div class="sectiontitle">How to cite a specific data page or result in Monarch</div>
		    <div class="text">
		    Most of the association content in Monarch comes from external sources; please cite the original database records 
		    (eg http://www.informatics.jax.org/accession/MGI:1915196) or the original publications (eg. PMID:25605924), 
		    as appropriate. 
		    </div>
		    <div class="text">
		    If you wish to link from your site to a specific data page in Monarch, 
		    or to algorithmic results as presented in Monarch, please do so using our permalinks aka "HTTP URI".
		    The permalink for each data page starts with https://monarchinitiative.org/ followed by the entity's 
		    prefixed accession (eg. OMIM:154700), for instance https://monarchinitiative.org/OMIM:154700.
		    We also support the use of type-specific URLs (eg. https://monarchinitiative.org/disease/OMIM:154700); 
		    however, for consistency, we prefer that typeless URLs be those used on any publicly-facing webpages / APIs etc.
		    </div>
		    
		    <table style="width:100%">
                      <tr>
                        <th>Prefixed Identifier</th>
                        <th>http URI/permalink</th> 
                        <th>Suggested citation</th>
                      </tr>
                      <tr>
                        <td>OMIM:154700</td>
                        <td>https://monarchinitiative.org/OMIM:154700</td> 
                        <td>Monarch Consortium. Accessed 2016-09-22. Marfan Syndrome. https://monarchinitiative.org/OMIM:154700</td>
                      </tr>
                        <tr>
                        <td>HP:0009381</td>
                        <td>https://monarchinitiative.org/HP:0009381</td> 
                        <td>Monarch Consortium. Accessed 2016-09-22. Short Finger Phenotype. https://monarchinitiative.org/HP:0009381</td>
                      </tr>
                      <tr>
                       <td>MGI:1915196</td>
                       <td>https://monarchinitiative.org/MGI:1915196</td> 
                       <td>Monarch Consortium. Accessed 2016-09-22. Spata6 gene (mus musculus). https://monarchinitiative.org/MGI:1915196</td>
                      </tr>
                     </table>
                    
		    <div class="text">
		    The complete set of transformed data for a given source database can be found at http://data.monarchinitiative.org/ttl/
		    </div>
		    <div class="text">
		    Please note that the data in Monarch is constantly expanding and improving. 
		    The data is versioned at the level of the whole database release; archived database releases are available
		    upon request, but have not yet been published.
		    The evolution of individual records in Monarch is not currently tracked.
		    </div>
		    <div class="text">
		    More documentation about our identifiers can be found <a href=https://github.com/monarch-initiative/dipper/blob/master/README.md#identifiers>here on GitHub</a>.
		    </div>
		    <div class="text">
		    As always, we value your feedback. Please <a href="mailto:info@monarchinitiative.org">email
		    us</a> if you have any problems, concerns, or suggestions.
		    </div>
            </div>
	      
        </div>
    </div>


<!-- Close top-level container. -->
</div>

<!-- Footer. -->
{{{includes.footer}}}
