{{{includes.navbar}}}

<div class="wrapperforfooter">
  <div class="container-fluid monarch-container">

    <div class="content content-bottom">
      <div class="title">How to Cite Monarch</div>
	      <div class="section">
	      <div class="sectiontitle">Citing the whole Monarch Project</div>
		    <div class="text">Navigating the Phenotype Frontier: The Monarch Initiative
        Julie A. McMurry, Sebastian Köhler, Nicole L. Washington, James P. Balhoff, Charles Borromeo, 
        Matthew Brush, Seth Carbon, Tom Conlin, Nathan Dunn, Mark Engelstad, Erin Foster, Jean-Philippe Gourdine,
        Julius O.B. Jacobsen, Daniel Keith, Bryan Laraway, Jeremy Nguyen Xuan, Kent Shefchek, Nicole A. Vasilevsky, 
        Zhou Yuan, Suzanna E. Lewis, Harry Hochheiser, Tudor Groza, Damian Smedley, Peter N. Robinson, Christopher J. Mungall, 
        Melissa A. Haendel GENETICS August 1, 2016 vol. 203 no. 4 1491-1495; DOI: 10.1534/genetics.116.188870
		    </div>
		    <div class="text">
		    MonarchInitiative.org: Integrated data and analyses connecting phenotypes to genotypes
        Mungall, Chris; McMurry, Julie; Köhler, Sebastian; Balhoff, James; Borromeo, Charles; Brush, Matthew; Carbon, Seth; 
        Conlin, Tom; Dunn, Nathan; Engelstad, Mark; Foster, Erin; Gourdine, JP; Jacobsen, Jules; Keith, Daniel; Laraway, Bryan; 
        Lewis, Suzanna; Nguyen Xuan, Jeremy; Shefchek, Kent; Vasilevsky, Nicole; Yuan, Zhou; Washington, Nicole; Hochheiser, Harry; 
        Groza, Tudor; Smedley, Damian; Robinson, Peter; Haendel, Melissa. Nucleic Acids Research, submitted 22 August 2016
        NAR-02458-2016
		    </div>
        <div class="clear"></div>
        <div class="sectiontitle">How to cite a specific Monarch page</div>
		    <div class="text">
		    Most of the G2P content in Monarch comes from external sources; where appropriate, please cite the original sources; 
		    If you wish to linkout to a specific set of associations, or algorithmic results as presented in Monarch, 
		    this should be done using the permalink aka "HTTP URI". The permalink for each data page starts with 
		    https://monarchinitiative.org/ followed by the accession of the entity, for instance https://monarchinitiative.org/OMIM:154700. 
		    It is not necessary to include the type of entity in the URL; however this too can be used reliably if desired, for instance 
		    https://monarchinitiative.org/disease/OMIM:154700.
		    </div>
		    
		    
		    <div class="text">
		    As always, we value your feedback. Please <a href="mailto:info@monarchinitiative.org">email
		    us</a> if you have any problems, concerns, or suggestions.
		    </div>
            </div>
	      
        </div>
    </div>


<!-- Close top-level container. -->
</div>

<!-- Footer. -->
{{{includes.footer}}}
