<!DOCTYPE html>
<html>
<head>
    <title>About Monarch</title>
    
    {{{includes.analytics}}}
    
    <!-- CSS. -->
    {{#pup_tent_css_libraries}}
    <link rel="stylesheet" type="text/css" href="{{{.}}}">
	<link rel="stylesheet" type="text/css" href="/monarch-specific.css"/>
    {{/pup_tent_css_libraries}}
    
    <!-- JS variables. -->
    {{#pup_tent_js_variables}}
    <script type="text/javascript">var {{name}} = {{{value}}};</script>
    {{/pup_tent_js_variables}}
    
    <!-- JS libraries. -->
    {{#pup_tent_js_libraries}}
    <script type="text/javascript" src="{{{.}}}"></script>
    {{/pup_tent_js_libraries}}
    
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
    <meta charset="utf-8"/> 
</head>
<body>
    <div class="monarch-container">
        {{{includes.navbar}}}
        <div class="content" id="about">
            <div class="wrapperforfooter">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" id="partners">
                        <div class="panel-heading" href="#partners">
                            <h4 class="panel-title">
                                Collaborations
                            </h4>
                        </div>
                        <div id="partner-text" class="panel-collapse collapse in">
                            <div class="panel-body">
								<div class="text">
								<p>
								We are proud to work with several organizations to develop ontologies, 
								drive community standards, research rare disease, and influence publishers 
								and the research community to make research results more identifiable and 
								reproducible, including:  
								</p>
								<table class="collab-table">
									<tr>
										<td><a href="http://www.rarediseases.info.nih.gov/research/pages/27/undiagnosed-diseases-program"><img src="/image/partner-udp.png" alt="NIH Undiagnosed Disease Program"></a></td>
										<td><a href="http://genomicsandhealth.org/"><img src="/image/partner-globalalliance.jpg" alt="Global Alliance"></a></td>
										<td><a href="http://www.irdirc.org/"><img src="/image/partner-irdirc.png" alt="International Rare Diseases Research Consoritum"></a></td>
										<td><a href="http://phenomecentral.org"><img src="/image/partner-phenomecentral.png" alt="Phenome Central"></a></td>
										<td><a href="http://bio-lark.org/"><img src="/image/partner-biolark.png" alt="BioLARK"></a></td>
									</tr>
                                   <tr>
                                        <td><a href="http://www.geneontology.org"><img src="/image/partner-go.png" alt="Gene Ontology"></a></td>
                                        <td><a href="http://www.disease-ontology.org"><img src="/image/partner-do.png" alt="Disease Ontology"></a></td>
                                        <td><a href="http://www.neuinfo.org"><img src="/image/partner-nif.png" alt="Neuroscience Information Framework"></a></td>
                                        <td><a href="http://scicrunch.com/resources"><img src="/image/partner-rii.png" alt="Resource Identification Initiative"></a></td>
                                        <td><a href="https://www.force11.org"><img src="/image/partner-force11.png" alt="Force11"></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="https://phenotips.org/"><img src="/image/partner-phenotips.jpg" alt="PhenoTips"></a></td>
                                        <td><a href="http://dumontierlab.stanford.edu/"><img src="/image/partner-dumontier.png" alt="Domontier Lab"></a></td>
                                        <td><a href="http://www.appistry.com/"><img src="/image/partner-appistry.jpeg" alt="Appistry"></a></td>
                                        <td><a href="http://bgee.org/"><img src="/image/partner-bgee.png" alt="Bgee"></a></td>
                                        <td><a href="https://www.clinicalgenome.org/"><img src="/image/partner-clingen.jpeg" alt="ClinGen"></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://www.mousephenotype.org/"><img src="/image/partner-impc.png" alt="IMPC"></a></td>
                                        <td><a href="http://www.genomicsengland.co.uk/"><img src="/image/partner-genomicsengland.jpg" alt="Genomics England"></a></td>
                                        <td><a href="http://www.ebi.ac.uk/"><img src="/image/partner-EBI.png" alt="EBI"></a></td>
                                        <td><a href="https://rarediseases.info.nih.gov/gard"><img src="/image/partner-GARD.png" alt="GARD"></a></td>
                                        <td><a href="http://www.geneinsight.com/"><img src="/image/partner-geneinsight.png" alt="Gene Insight"></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://www.genome.gov/27550959"><img src="/image/partner-udn.png" alt="UDN"></a></td>
                                        <td><a href="http://omia.angis.org.au/home/"><img src="/image/partner-omia.png" alt="OMIA"></a></td>
                                        <td><a href="http://www.omim.org/"><img src="/image/partner-omim.jpeg" alt="OMIM"></a></td>
                                        <td><a href="https://reeldx.com/"><img src="/image/partner-reeldx.png" alt="ReelDx"></a></td>
                                        <td><a href="https://www.phenx.org/"><img src="/image/partner-phenx.jpg" alt="PhenX"></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://zfin.org/"><img src="/image/partner-zfin.jpeg" alt="ZFIN"></a></td>
                                    </tr>
								</table>
                            </div> <!--text -->
                            </div> <!--panel-body-->
                        </div> <!--panel-collapse-->
                    </div><!--panel -->
                </div> <!--panel-group accordion -->
                
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" id="partners">
                        <div class="panel-heading" href="#collaborations">
                            <h4 class="panel-title">
                                 Partners
                            </h4>
                        </div>
                        <div id="partner-text" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="text">
                                <p>
                                
                                </p>
                                <table class="collab-table">
                                    <tr>
                                        <td><a href="http://www.ohsu.edu/xd/"><img src="/image/team-ohsu.gif" alt="OHSU"></a></td>
                                        <td><a href="http://www.lbl.gov/"><img src="/image/team-lbnl.svg" alt="LNBL"></a></td>
                                        <td><a href="http://pitt.edu"><img src="/image/team-pitt.png" alt="University of Pittsburgh"></a></td>
                                        <td><a href="http://ucsd.edu"><img src="/image/team-ucsd.png" alt="University of California, San Diego"></a></td>
                                        <td><a href="http://www.charite.de/en/charite/"><img src="/image/team-charite.png" alt="Charité - Universitätsmedizin Berlin"></a></td>
                                    </tr>
                                   <tr>
                                        <td><a href="http://www.sanger.ac.uk/"><img src="/image/team-sanger.png" alt="Sanger Institute"></a></td>
                                        <td><a href="http://www.garvan.org.au/"><img src="/image/team-garvan.png" alt="Garvan Institute"></a></td>
                                    </tr>
                                </table>
                            </div> <!--text -->
                            </div> <!--panel-body-->
                        </div> <!--panel-collapse-->
                    </div><!--panel -->
                </div> <!--panel-group accordion -->

<!--  template for collapsable panels
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" id="template">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#template" href="#template" class="collapsed">Template</a>
                            </h4>
                        </div>
                        <div id="template" class="panel-collapse collapse">
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                </div>

-->
            </div> <!-- closes wrapperforfooter -->
        </div>
    </div>
</body>
</html>
