{{{includes.navbar}}}

<div class="wrapperforfooter">
  <div class="container-fluid monarch-container">

    <div class="content content-bottom">
      <div class="title">Monarch Disclaimer</div>
	      <div class="section">
	      <div class="sectiontitle">Intended use</div>
		    <div class="text">MonarchInitiative.org is not intended for direct diagnostic use or medical decision-making. 
		    If you have any health questions about the information contained on this website, 
		    please contact a medical professional.
		    </div>
            <div class="clear"></div>
            <div class="sectiontitle">Variant interpretation</div>
		    <div class="text">The Monarch Initiative sources variant interpretations as provided by the original source, 
		    with no consolidation of results, and always has a link out to the original reference.
		    </div>  
		    <div class="text">While we display the variants and interpretations as originally reported in the variant databases, 
		    some variants in the same genes have been reported on different transcripts. Whenever possible, Monarch will attempt 
		    to map all variants in a particular gene to a common transcript to aid in viewing and organizing the variants. 
		    However, to aid in variant searches, we will also continue to report the original mapping information.
		    </div>
		    <div class="text">All interpretations were performed by the original submitters and have not been modified in any 
		    way. As such, there might be discordant interpretations for the same variant from different archives. 
		    For further information or to request a review of the variant, please contact the submitter of the original 
		    reference.
		    </div>
		    <div class="text">Variant interpretations are not static as they are based on the current understanding of the 
		    variant at the time it was observed in a patient or in the literature. Any reported interpretation may not be 
		    up-to-date, and some information may not be reported. Many interpretations will change over time as more information 
		    about the variant becomes available. If you have any questions about a variant interpretation or would like use any 
		    variant interpretations for publication purposes, please contact the submitter of the original reference.
                    </div>
		    <div class="text">
		    As always, we value your feedback. Please <a href="mailto:info@monarchinitiative.org">email
		    us</a> if you have any problems, concerns, or suggestions.
		    </div>
            </div>
	      
        </div>
    </div>


<!-- Close top-level container. -->
</div>

<!-- Footer. -->
{{{includes.footer}}}
