{{{includes.navbar}}}

<div class="wrapperforfooter">
  <div class="container-fluid monarch-container">

    <div class="content content-bottom">
            <div class="title">Monarch Exomes</div>
            <div class="section">
                <div class="sectiontitle">Exomiser</div>
                <div class="block">
                    <div class="text">
                        <a href="https://www.sanger.ac.uk/resources/databases/exomiser/query/">Exomiser</a>
                        is a Java program that functionally annotates variants
                        from whole-exome sequencing data starting from a VCF file (version 4).
                        The functional annotation code is based on Jannovar and uses UCSC
                        KnownGene transcript definitions and hg19 genomic coordinates.<br/>
                        Variants are prioritized according to user-defined criteria on variant
                        frequency, pathogenicity, quality, inheritance pattern, and model
                        organism phenotype data. Predicted pathogenicity data was extracted
                        from the dbNSFP resource. Cross-species phenotype comparisons are
                        powered by the <a href="http://owlsim.org">OWLSim algorithm</a>.<br/>
                        Exomiser is currently using mouse phenotypes and will soon be leveraging
                        the zebrafish phenotype data. Worm and fly phenotype data will be
                        available later this year.<br/>
                        Exomiser is available from the Sanger Institute. A paper describing Exomiser
                        is available <a href="http://genome.cshlp.org/content/24/2/340.long">here</a>.
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="sectiontitle">PhenIX</div>
                <div class="block">
                    <div class="text">
                        <a href="http://compbio.charite.de/PhenIX/">Phenotypic Interpretation of eXomes</a>,
                        is a pipeline for prioritizing candidate genes in exomes or NGS panels with
                        comprehensive coverage of human Mendelian disease genes. It ranks genes
                        based on predicted variant pathogenicity as well as phenotypic similarity
                        of diseases associated with the genes harboring these variants to the
                        phenotypic profile of the individual being investigated. PhenIX requires
                        a VCF file mapped to hg19/Gchr37, as well as a list of HPO terms representing
                        the phenotype observed in the patient. PhenIX is available <a href="http://compbio.charite.de/PhenIX/">here</a>
                        from Peter Robinson's group at Charité.
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="sectiontitle">ExomeWalker</div>
                <div class="block">
                    <div class="text">
                        <a href="http://compbio.charite.de/ExomeWalker/">ExomeWalker</a>
                        is a computational method to prioritize a set of candidates
                        in exome sequencing projects that aim to identify novel Mendelian
                        disease genes. This approach involves filtering a Variant Call Format
                        (VCF) file according to a number of user-definable criteria.<br/>
                        Genes are prioritized according to a variant score (predicted pathogenicity,
                        rarity, pattern of variants compatible with the assumed mode of
                        inheritance) and to their vicinity to other genes that belong to the
                        same phenotypic disease family within a protein protein interaction
                        (PPI) network, using the Random-Walk method as described in
                        <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2427257/">Köhler</a>
                        et al. (2008) to determine similarity within the PPI network on the basis
                        of the global characteristics of the network.
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<!-- Footer. -->
{{{includes.footer}}}
