{{{includes.navbar}}}

<div class="wrapperforfooter">
  <div class="container-fluid monarch-container">
    HELLO
  </div>

  <section class="data-dashboard text-center">
    <div class="container">
    <div class="row">
      <div class="col-sm">
        <i class="fa fa-child fa-fw" style="color: #15556A; font-size: 2em;"></i>
        <span class="network-name"><br><b>218,313</b><br>Disease-Phenotype Associations</span>
      </div>
      <div class="col-sm">
        <i class="fa fa-tint fa-fw" style="color: #15556A; font-size: 2em;"></i>
        <span class="network-name"><br><b>793,526</b><br>Gene-Phenotype Associations</span>
      </div>
      <div class="col-sm">
        <i class="fa fa-paw fa-fw" style="color: #15556A; font-size: 2em;"></i>
        <span class="network-name"><br><b>20,870</b><br>Model Associations</span>
      </div>
    </div>
    </div>
  </section>
</div>

<!-- Footer. -->
{{{includes.footer}}}

<script>

</script>
