<!DOCTYPE html>
<html>
<head>
    <title>Monarch Phenotype Grid Widget</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}	
    
    <script src="/js/tabs.js"></script>
	<script src="/widgets/modeltype/js/jquery-1.11.0.min.js"></script>
    <script src="/widgets/modeltype/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/widgets/modeltype/js/d3.min.js"></script>
    {{{includes.analytics}}}
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"/>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="/css/tour.css"/>
	<link rel="stylesheet" type="text/css" href="/css/monarch-main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/monarch-specific.css"/>
    <link rel="stylesheet" type="text/css" href="/css/imagehover.css"/>	
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
    <meta charset="utf-8"/> 

</head>
<body id="phenogrid">
    <div class="monarch-container">
        {{{includes.navbar}}}
        <div class="content">
            <div class="wrapperforfooter">
	         <IFRAME src="../widgets/modeltype/index.html"
	         width="1500" frameBorder="0" height="1000"></iframe>
            </div> <!-- closes wrapperforfooter -->
        </div>	
	</div>
	{{{includes.footer}}}
	
	
</body>
</html>
