{{{includes.navbar}}}

  <div class="container-fluid monarch-container">

    <div class="content content-bottom" id="about">
	         <IFRAME src="../node_modules/phenogrid/index.html"
	         style="position:absolute;left:0px;top:0;width:100%;height:100%;" frameBorder="0"></iframe>
    </div>
  </div>

{{{includes.footer}}}
