<!DOCTYPE html>
<html>
<head>
    <title>Monarch Publications</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"/>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="/css/tour.css"/>
    <meta charset="utf-8"/> 
</head>
<body>
    <div class="monarch-container">
        {{{includes.navbar}}}
        <div class="sidebar">
            {{{includes.navlist}}}
        </div>
        <div class="content">
            <div class="title">Monarch Publications</div>
            <div class="section">
              <div class="text">
                <div style="padding:0;margin:0;text-align:left">
                  <iframe src="http://www.mendeley.com/groups/3858641/monarch/embed/000000/"
                          style="height:1000px;width:580px;border:none;">
                  </iframe>
                </div>


              </div>
            </div>
            {{{includes.footer}}}
        </div>
    </div>
</body>
</html>
