<div class="wrapperforfooter">
    <div class="monarch-container container-fluid" style="margin-top:2.8em;padding:0;">
        {{{includes.navbar}}}
        <div class="content content-bottom">
            <div class="wrapperforfooter">
              <div class="title">Monarch Releases</div>
	      <div class="section">
              <div class="sectiontitle">Monarch 1.0 Release (July 2014)</div>
		    <div class="text">Our first official release went &quot;live&quot;
                    on July 12, 2014. This release builds on the
                    features provided in the sneak release, adding a
                    number of new data sources, including data from:
		    <UL>
		      <LI> <A HREF="http://wwww.flybase.org">Flybase</a></LI>
		      <LI> <A HREF="http://www.wormbase.org">Wormbase</a></LI>
		      <LI> <A HREF="http://www.zfin.org">Zebrafish
		      Information Network</a></LI>
		      <LI> <A HREF="http://rgd.mcw.edu">Rat Genome
			  Databse</a></LI>
		      <LI> <A
			      HREF="http://www.ncbi.nlm.nih.gov/clinvar/">ClinVar</a></LI>
		      <LI>Phenotypes from
		      the <A HREF="http://rarediseases.info.nih.gov/research/pages/27/undiagnosed-diseases-program">NIH
			  Undiagnosed Disease Program</a></LI>
		      <LI><A HREF="http://bgee.unil.ch/bgee/bgee">Bgee
			  gene expression data</A></LI>
		    </UL>
		    </div>

		    <div class="text">
		      The 1.0 release also includes the first
		      production release
		      of <A HREF="http://www.monarchinitiative.org/page/phenogrid">Phenogrid</a>
		      - our tool for visualizing the relationships
		      between phenotype profiles and model
		      systems. Phenogrid is available from disease
		      pages under the &quot;compare&quot;
		      tag. The Phenogrid widget is written as a
		      jQuery widget, suitable for inclusion on
		      third-party web sites. See the <A HREF="http://www.monarchinitiative.org/page/phenogrid">Phenogrid
		      documentation</a> for information on how to
		      download and configure the widget.
		    </div>

		    <div class="text">
		      As always, we value your feedback. Please
		      <A HREF="mailto:info@monarchinitiative.org">email
		      us</a> if you have any problems, concerns, or
		      suggestions.
		    </div>

            </div>
	      <div class="clear"></div>
            <div class="section">
                <div class="sectiontitle">Sneak Peek Release (April 2014)</div>
                <div class="text">
                    We welcome user testers! please use the <a href="mailto:info@monarchinitiative.org">feedback button</a>,
                    email info@monarchinitiative.org, or use the <a href="https://github.com/monarch-initiative/monarch-app/issues">git tracker</a>
                    to relay your suggestions.
                </div>
                <div class="text">
                    Why are we calling this a Sneak Peek? Because we plan to incrementally add
                    functionality over the next few months based on your feedback.
                </div>
                <div class="text">
                    The Sneak Peek currently includes data from human, mouse, and zebrafish.
                    The system allows comparison of phenotype profiles (either a disease related
                    set or a user-defined set) across organisms using the <a href="https://code.google.com/p/owltools/wiki/OwlSim">OWLsim algorithm</a>
                    and a suite of integrated phenotype, and disease ontologies, all of which
                    have been enhanced for this purpose.
                </div>
                <div class="text">
                    Functionality includes the ability to explore the relationships between models,
                    diseases, genes, and phenotypes, the ability to compare phenotypes across models
                    to investigate the degree to which they recapitulate a disease, and a KEGG
                    Pathway view by which one can see how the phenotypes related to a given disease
                    are distributed in a network.
                </div>
                <div class="text">
                    <a href="/page/services">Services</a> include an <a href="/docs/files/api-js.html">API</a>
                    to retrieve the models most related to any given set of phenotypes, as well
                    as an API call for an annotation sufficiency score for the given set. These
                    services are being used within Phenotips and by the NIH Undiagnosed Disease Program
                    to compare human undiagnosed disease phenotype profiles against model systems to
                    aid in prioritization of gene candidates.
                </div>
            </div>
        </div>
    </div>


<!-- Close top-level container. -->
</div>

<!-- Footer. -->
{{{includes.footer}}}
