{{{includes.navbar}}}

<div class="wrapperforfooter">
  <div class="container-fluid monarch-container">

    <div class="content content-bottom">
      <h1 class="text-center">Monarch Releases</h1>
      <div class="well well-sm">
        <h3>Fall 2017</h3>
	      <p>
          The Monarch interface, data, ontologies, and API are rapidly evolving.
		      All of our repositories are on GitHub at <a href="https://github.com/monarch-initiative">https://github.com/monarch-initiative</a>.
		      A cross-repo view of all recent issues, open and closed can be found
		      <a href=https://github.com/issues?q=is:issue+user:monarch-initiative+sort:updated-desc>here</a>.
		      Recent issues specifically related to the Monarch Web App can be found
		      <a href=https://github.com/monarch-initiative/monarch-app/issues?q=is:issue:sort:updated-desc>here</a>.
		      As always, we value your feedback. If you have any problems, concerns, or suggestions, please
		      <a href="https://github.com/monarch-initiative/monarch-app/issues/new">log a new GitHub issue</a>,
		      comment on an existing one, or
		      <a href="mailto:info@monarchinitiative.org">email us</a> anytime.
	      </p>
      </div>

      <div class="well well-sm">
              <h3>September 2017 Data and App Release</h3>
              <p>The Monarch Database was updated in September to include
                  the latest data from our <a href="/about/sources">sources</a>.

                  This release includes the following new data sources:
                <ul>
                  <li>StringDB protein-protein interactions for all interaction types with confidence >.7</li>
                  <li>Gene expression in anatomical entities from Bgee</li>
                  <li>Gene to phenotype associations from the Rat Genome Database (RGD)</li>
                </ul>

                  In addition, the web application has been updated to provide additional views of our data, including:
                <ul>
                  <li>Disease inheritance, clinical modifiers, phenotype frequency, and phenotype onset from the HPO annotation dataset</li>
                  <li>Anatomy pages, and gene-anatomy tables</li>
                  <li>Gene function tables</li>
                </ul>

                  Raw data, our databases, and index from this release are available for
                  download from our <a href="https://archive.monarchinitiative.org/201709/">archive</a>.

              </p>
          </div>

          <div class="well well-sm">

            <h3>April 2017 Data Release</h3>
            <p>The Monarch Database was updated in April to include
            the latest data from our <a href="/about/sources">sources</a>.

            This release includes bug fixes and improvements, including:
            <ul>
              <li>StringDB protein-protein interactions with experimental/assay evidence</li>
              <li>Haplotype trait associations from the GWAS Catalog</li>
              <li>Chemical pathway associations from Reactome</li>
            </ul>

            Raw data, our databases, and index from this release are available for
                download from our <a href="https://archive.monarchinitiative.org/201704/">archive</a>.

            </p>
          </div>

          <div class="well well-sm">
          <h3>August 2016 Data Release</h3>
            <p>The Monarch Database was updated in August to include
            the latest data from our <a href="/about/sources">sources</a>.

            This release includes bug fixes and improvements, including:
            <ul>
              <li>OWLSim and Phenogrid 1.3.8 now with fruit fly and nematode data</li>
              <li>New and improved <a href="/analyze/phenotypes"> analyze phenotypes widget</a></li>
              <li>Ortholog-phenotype association data tabs, which is useful when data for a human gene is unavailable, for example for the <a href="/NCBIGene:144195#ortholog-phenotypes"> SLC2A14 gene</a>.</li>
              <li>Improved modeling of genotypes in the <a href="https://github.com/monarch-initiative/GENO-ontology"> GENO Ontology</a>, and merging of multiple disease ontologies with the <a href="https://github.com/monarch-initiative/monarch-disease-ontology"> Monarch Disease Ontology</a>.</li>
            </ul>

            </p>
          </div>

          <div class="well well-sm">
              <h3>Monarch 1.0 Release (July 2015)</h3>
		    <p>Our first official release went &quot;live&quot;
                    on July 12, 2015. This release builds on the
                    features provided in the sneak release, adding a
                    number of new data sources, including data from:
		    <ul>
              <li> <a href="http://www.informatics.jax.org/">MGI</a></li>
		      <li> <a href="http://wwww.flybase.org">Flybase</a></li>
		      <li> <a href="http://www.wormbase.org">Wormbase</a></li>
		      <li> <a href="http://www.zfin.org">Zebrafish
		      Information Network</a></li>
		      <li> <a href="http://www.ncbi.nlm.nih.gov/clinvar/">ClinVar</a></li>
		    </ul>
		    </p>

		    <p>
		      The 1.0 release also includes the first
		      production release
		      of <a href="http://www.monarchinitiative.org/page/phenogrid">Phenogrid</a>
		      - our tool for visualizing the relationships
		      between phenotype profiles and model
		      systems. Phenogrid is available from disease
		      pages under the &quot;compare&quot;
		      tag. The Phenogrid widget is written as a
		      jQuery widget, suitable for inclusion on
		      third-party web sites.
		      See the <a href="http://www.monarchinitiative.org/page/phenogrid">Phenogrid
		      documentation</a> for information on how to
		      download and configure the widget.
		    </p>

		    <p>
		      As always, we value your feedback. Please
		      <a href="mailto:info@monarchinitiative.org">email
		      us</a> if you have any problems, concerns, or
		      suggestions.
		    </p>

        </div>

            <div class="well well-sm">
                <h3>Sneak Peek Release (April 2014)</h3>
                <p>
                    We welcome user testers! please use the <a href="mailto:info@monarchinitiative.org">feedback button</a>,
                    email info@monarchinitiative.org, or use the <a href="https://github.com/monarch-initiative/monarch-app/issues">
                    	git tracker</a> to relay your suggestions.
                </p>
                <p>
                    Why are we calling this a Sneak Peek? Because we plan to incrementally add
                    functionality over the next few months based on your feedback.
                </p>
                <p>
                    The Sneak Peek currently includes data from human, mouse, and zebrafish.
                    The system allows comparison of phenotype profiles (either a disease related
                    set or a user-defined set) across organisms using the
                    <a href="https://github.com/monarch-initiative/owlsim-v3">OWLsim algorithm</a>
                    and a suite of integrated phenotype, and disease ontologies, all of which
                    have been enhanced for this purpose.
                </p>
                <p>
                    Functionality includes the ability to explore the relationships between models,
                    diseases, genes, and phenotypes, the ability to compare phenotypes across models
                    to investigate the degree to which they recapitulate a disease, and a KEGG
                    Pathway view by which one can see how the phenotypes related to a given disease
                    are distributed in a network.
                </p>
                <p>
                    <a href="/page/services">Services</a> include an <a href="/docs/files/api-js.html">API</a>
                    to retrieve the models most related to any given set of phenotypes, as well
                    as an API call for an annotation sufficiency score for the given set. These
                    services are being used within Phenotips and by the NIH Undiagnosed Disease Program
                    to compare human undiagnosed disease phenotype profiles against model systems to
                    aid in prioritization of gene candidates.
                </p>
            </div>
        </div>
    </div>

</div>

<!-- Footer. -->
{{{includes.footer}}}
