{{{includes.navbar}}}

<div class="wrapperforfooter">
  <div class="container-fluid monarch-container">

    <div class="content content-bottom">
            <div class="title">Monarch Services</div>
            <div class="section">
                <div class="sectiontitle">Overview</div>
                <div class="block">
                    <div class="text">
                    <p>
                      The Monarch site is driven by multiple APIs, including:
                        <ul>
                          <li><a href="https://api.monarchinitiative.org/api/">https://api.monarchinitiative.org/api/</a> -- Monarch BioLink API</li>
                          <li><a href="http://owlsim3.monarchinitiative.org/api/docs/">http://owlsim3.monarchinitiative.org/api/docs/</a> -- OwlSim</li>
                          <li><a href="https://scigraph-ontology.monarchinitiative.org/scigraph/docs/">https://scigraph-ontology.monarchinitiative.org/scigraph/docs/</a> -- SciGraph Ontology Services</li>
                          <li><a href="https://scigraph-data.monarchinitiative.org/scigraph/docs/">https://scigraph-data.monarchinitiative.org/scigraph/docs/</a> -- SciGraph Data-Graph Services</li>
                        </ul>
                        The architecture can be seen here:
                        <br/>
                        <img height="500px" src="/image/architecture-2017.png"/>
                    </p>
                    <p>
                      For more information on these APIs, consult the
                      relevant github projects:
                        <ul>
                          <li><a href="https://github.com/biolink/biolink-api">biolink/biolink-api</a></li>
                          <li><a href="https://github.com/monarch-initiative/owlsim-v3">monarch-initiative/owlsim-v3</a></li>
                          <li><a href="https://github.com/SciGraph/SciGraph">SciGraph/SciGraph</a></li>
                        </ul>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Footer. -->
{{{includes.footer}}}
