<!DOCTYPE html>
<html>
<head>
    <title>Monarch Development Team</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"/>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="/css/team.css"/>
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
    <meta charset="utf-8"/> 
</head>
<body>
    <div class="monarch-container">
        {{{includes.navbar}}}
        <div class="content">
            <div class="wrapperforfooter">
            <div class="title">Monarch Development Team</div>
            <div class="team">
                <div class="teamname">Oregon Health &amp; Science University</div>
                <img class="teamlogo" src="/image/team-ohsu.gif"/>
                <div class="teammember">
                    <div class="membername">Melissa Haendel</div>
                    <div class="membertitle">Monarch PI</div>
                    <div class="memberbio">
                        Dr. Haendel is currently a PI of the Monarch Initiative.
                        She has a BA from Reed College in Chemistry and a Ph.D.
                        in Neuroscience from the University of Wisconsin, Madison. She
                        is currently a PI of the Monarch Initiative, with the aim of
                        providing integrated access to model systems phenotype-genotype
                        data for the purposes of disease hypothesis exploration. She
                        also participates in development of the eagle-i and CTSAconnect
                        ontologies, designed to collect and disseminate information
                        about biomedical resources and enable research profiling. Her
                        research interests are in using ontologies to promote synthetic
                        science though connections within biomedical data, to utilize
                        information science during the course of research and its
                        publication, and to enable scientific reproducibility.
                    </div>
                </div>
                <div class="teammember">
                    <div class="membername">Nicole Vasilevsky</div>
                    <div class="membertitle">Project Manager</div>
                    <div class="memberbio">
                        Dr. Vasilevsky has a BA in Biology from Reed College and a
                        Ph.D. in Cell Biology from OHSU. Nicole is the project
                        manager of the OHSU Ontology Development Group and works on
                        the Monarch project as the project manager and as a data
                        curator. In addition, Nicole works on the eagle-i Network and
                        the CTSAconnect project.
                    </div>
                </div>
                <div class="teammember">
                    <div class="membername">Matthew Brush</div>
                    <div class="membertitle">Ontologist</div>
                    <div class="memberbio">
                        Dr. Brush has a BS from Notre Dame and a Ph.D.in Cell Biology
                        from Duke University, and is a former Biomedical Informatics
                        Fellow at Oregon Health and Science University. He is the lead
                        developer of the Genotype Ontology (GENO) for Monarch, and
                        coordinates its use in ingest of genotype and phenotype data.
                        In addition, he has contributed to development of several
                        other ontologies that will be employed in the Monarch system,
                        including the Reagent Ontology (ReO), the Ontology of Biomedical
                        Investigations (OBI), the Cell Line Ontology (CLO), and the
                        eagle-i Ontology (ERO).
                    </div>
                </div>
                <div class="teammember">
                    <div class="membername">Bryan Laraway</div>
                    <div class="membertitle">Data Wrangler</div>
                    <div class="memberbio">
                        Bryan has a BA from Reed College in Biology, post-bac training
                        in MIS from Oregon Institute of Technology, and is currently a
                        Master’s student in Bioinformatics &amp; Computational Biology at
                        Oregon Health &amp; Science University. He is currently a Data
                        Wrangler for the Monarch Initiative, assisting with data
                        ingestion.
                    </div>
                </div>
                <div class="teammember">
                    <div class="membername">Kent Shefchek</div>
                    <div class="membertitle">Bioinfomatics Engineer</div>
                    <div class="memberbio">
                        Kent is a Bioinformatics Engineer with 5 years experience in
                        the medical and academic fields. He is involved in a variety
                        of research efforts, including whole genome comparative
                        analysis of bacterial pathogens, transcriptomic profiling of
                        humans and microbes, and 16S analysis of host-associated
                        microbes. Kent has a BS in Biology from the University of
                        Maryland, College Park and a MS in Biotechnology with a
                        specialization in Bioinformatics from the University of
                        Maryland, University College.
                    </div>
                </div>
            </div>
            <div class="team">
                <div class="teamname">Lawrence Berkeley National Laboratory</div>
                <div class="teamlogo"><img class="teamlogo" src="/image/team-lbnl.svg"/></div>
                <div class="teammember">
                    <div class="membername">Chris Mungall</div>
                    <div class="membertitle">Monarch PI</div>
                    <div class="memberbio">
                        Dr. Mungall is currently a PI of the Monarch Initiative.
                        He has a BSc in Computer Science from the University
                        of Edinburgh and a Ph.D. from University of Edinburgh in
                        Biological Sciences. He is currently the PI of the Monarch
                        Initiative and his current research focuses on the use of
                        informatics techniques and tools to integrate and interpret
                        life science data across a variety of domains. In particular,
                        he is interested in connecting biological models at multiple
                        scales: the biochemical, molecular, cellular, organismal and
                        ecological.
                    </div>
                </div>
                <div class="teammember">
                    <div class="membername">Suzanna Lewis</div>
                    <div class="membertitle">Genomics</div>
                    <div class="memberbio">
                        Suzi has an MS in Biology and MS in Computer Science. She is a
                        scientist and Principal Investigator at the Berkeley
                        Bioinformatics Open-source Project (BBOP) based at Lawrence
                        Berkeley National Laboratory. She is one of the pioneers of
                        developing open standards and software for genome annotation
                        and ontologies.
                    </div>
                </div>
                <div class="teammember">
                    <div class="membername">Nicole Washington</div>
                    <div class="membertitle">Lead Bioinformatician</div>
                    <div class="memberbio">
                        Dr. Washington has a BS in Biology from Harvey Mudd College
                        and a Ph.D. in Molecular and Cellular Biology from The
                        University of Arizona where she focused on the study of the
                        C. elegans as a model for human disease. She is interested in
                        the intersection of computers with biological research, in
                        particular making tools to realize hidden connections in
                        diverse types of biological data and integrating large-scale
                        experiments.
                    </div>
                </div>
                <div class="teammember">
                    <div class="membername">Sarah Kim</div>
                    <div class="membertitle">Web Developer/Designer</div>
                    <div class="memberbio">
                        Sarah is currently a undergraduate Computer Science student
                        at UC Berkeley. She is working on the front-end of the Monarch
                        website.
                    </div>
                </div>
            </div>
            <div class="team">
                <div class="teamname">University of California, San Diego</div>
                <div class="teamlogo"><img id="ucsd" class="teamlogo" src="/image/team-ucsd.png"/></div>
                <div class="teammember">
                    <div class="membername">Maryann Martone</div>
                    <div class="membertitle">Monarch PI</div>
                    <div class="memberbio">
                        Dr. Martone is currently a PI of the Monarch Initiative.
                        She has a BA from Wellesley College in biological
                        psychology and a Ph. D. in neuroscience from the University of
                        California, San Diego, where she is currently a Professor in
                        the Department of Neuroscience. Her background is in
                        neuroanatomy, particularly light and electron microscopy, but
                        she spends most of her time now in the field of neuroinformatics.
                        She is the principal investigator of the Neuroinformatics
                        Framework project, a national project to establish a uniform
                        resource description framework for neuroscience. Her recent work
                        has focused on building ontologies for neuroscience for data
                        integration. She heads the International Neuroinformatics
                        Coordinating Facility (INCF) program on ontologies. She is the
                        executive director of FORCE11, an organization dedicated to
                        advancing scholarly communication and e-scholarship.
                    </div>
                </div>
                <div class="teammember">
                    <div class="membername">Anita Bandrowski</div>
                    <div class="membertitle">Bioinformatician</div>
                    <div class="memberbio">
                        Dr. Bandrowski trained as a neurophysiologist at UC Riverside
                        and Stanford, however moved to bioinformatics with the human
                        genome project at Celera. Currently working at the Center of
                        Research in Biological Systems at UCSD, Dr. Bandrowski builds
                        systems that attempt to make sense of the vast information being
                        produced by biologists.
                    </div>
                </div>
                <div class="teammember">
                    <div class="membername">Jeffrey Grethe</div>
                    <div class="membertitle">Architect</div>
                    <div class="memberbio">
                        Dr. Grethe has a BS from the University of California Irvine
                        in Applied Mathematics and a Ph.D. in Neuroscience, with a
                        focus on bioinformatics, from the University of Southern
                        California. Throughout his career, his primary focus has been
                        on enabling collaborative research, data sharing and discovery
                        through the application of advanced informatics approaches.
                        Before coming to UCSD he was one of the core members responsible
                        for bringing the fMRI Data Center online, the first publicly
                        accessible repository of peer-reviewed fMRI studies. He is
                        currently leading a number of large scale biological and
                        biomedical informatics projects (i.e. PI for the NIDDK
                        Interconnectivity Network Coordinating Center, co-PI for the
                        Neuroscience Information Framework, and Technical Lead for the
                        Community Cyberinfrastructure for Advanced Microbial Ecology
                        Research and Analysis) in the Center for Research in Biological
                        Systems at the University of California, San Diego.
                    </div>
                </div>
                <div class="teammember">
                    <div class="membername">Amarnath Gupta</div>
                    <div class="membertitle">Lead Semantic Architect</div>
                    <div class="memberbio">
                        Dr. Gupta received his Bachelor of Technology from the Indian
                        Institute of Technology, Kharagpur, a Master of Science in
                        Biomedical Engineering from University of Texas, Arlington, and
                        his Ph.D. (Engineering) degree in Computer Science from Jadavpur
                        University, India. He is a Research Scientist at the San Diego
                        Supercomputer Center (SDSC) of the University of California San
                        Diego. He leads the Advanced Query Processing Laboratory in the
                        Data and Knowledge Systems group at SDSC. His research interests
                        include scientific data modeling, information integration,
                        multimedia databases and spatiotemporal data management.
                    </div>
                </div>
                <div class="teammember">
                    <div class="membername">Larry Lui</div>
                    <div class="membertitle">Systems Support</div>
                    <div class="memberbio">
                        Larry is a systems engineer working for the Center for Research
                        in Biological Systems at the University of California, San
                        Diego. He has 10+ years of experience working on linux system
                        integration as well as deploying, configuring, and administering
                        high performance compute clusters. He is currently involved
                        with the Neuroscience Information Framework project,
                        International Neuroinformatics Coordinating Facility (UCSD node),
                        and The Cell: An Image Library.
                    </div>
                </div>
            </div>
            <div class="team">
                <div class="teamname">University of Pittsburgh</div>
                <div class="teamlogo"><img id="pitt" class="teamlogo" src="/image/team-pitt.gif"/></div>
                <div class="teammember">
                    <div class="membername">Harry Hocheiser</div>
                    <div class="membertitle">Monarch PI</div>
                    <div class="memberbio">
                        Dr. Hocheiser is currently a PI of the Monarch Initiative.
                        He has BS and MS in Computer Science and Engineering
                        from MIT and a Ph.D. in Computer Science from University of
                        Maryland. His research interests lie at the intersection of
                        biomedical informatics and human-computer interaction (HCI).
                        His ongoing research efforts involve the application of
                        contextual inquiry, human-centered design, information
                        visualization, and other HCI techniques to challenges in
                        collaborative bioinformatics and clinical informatics.
                    </div>
                </div>
                <div class="teammember">
                    <div class="membername">Chuck Borromeo</div>
                    <div class="membertitle">Interface Architect</div>
                    <div class="memberbio">
                        Chuck is a programmer on a wide range of projects (e.g. FaceBase,
                        Monarch, Ontology for Craniofacial Development and Malformations)
                        in the Department of Biomedical Informatics. His responsibilities
                        include leading the FaceBase development team and providing
                        technical solutions on other projects. In the past, Chuck led
                        the development of the Resource Discovery System (RDS) an
                        application tracking 1500 scientific resources from several
                        NIH research programs.
                    </div>
                </div>
                <div class="teammember">
                    <div class="membername">Jeremy Espino</div>
                    <div class="membertitle">Senior Research Scientist, Department of Biomedical Informatics</div>
                    <div class="memberbio">
                        Jeremy is trained in General Medicine, Medical Informatics and
                        Intelligent Systems.  His claim to fame is programming the first
                        real-time disease surveillance system in 1999—the Real-time
                        Outbreak and Disease Surveillance System (RODS).  RODS and its
                        open source derivatives have subsequently been deployed in over
                        16 states and a couple of countries.  He has also managed the IT
                        infrastructure of the National Retail Monitor which provides
                        over-the-counter medication sales data from over 33,000 retail
                        stores to health departments across the U.S..  In his free time
                        he enjoys hacking micro controllers, piano and 3d printing.
                    </div>
                </div>
            </div>
            <div class="team">
                <div class="teamname">Charité - Universitätsmedizin Berlin</div>
                <div class="teamlogo"><img class="teamlogo" src="/image/team-charite.gif"/></div>
                <div class="teammember">
                    <div class="membername">Peter Robinson</div>
                    <div class="membertitle">Clinical Bioinformatician</div>
                    <div class="memberbio">
                        Dr. Robinson has a BA in Mathematics as well as an MSC. in
                        computer science from Columbia University, and an MD from
                        University of Pennsylvania. He has been working as a clinician
                        and a research at the Charité Universitätsmedizin Berlin,
                        Germany, since 1996, and has obtained certification (“Facharzt”)
                        in pediatrics, as well as a Habilitation (“Privatdozent”) in
                        Human Genetics. He is currently Professor for Medical Genomics
                        at the Charité and leads a mixed group of bioinformaticians,
                        biologists, and MDs. Much of Peter’s work has involved the
                        development of computational resources and algorithms for the
                        study of human hereditary diseases, including the development
                        of the Human Phenotype Ontology (HPO) as well as the bioinformatics
                        analysis of next-generation sequencing data including exome,
                        genome, RNA-Seq, ChIP-Seq, and TCR sequencing experiments.
                        Recent wetlab highlights include the identification of the
                        disease genes CA8, PIGV, PIGO, and PGAP2 as well as the
                        development of a novel therapy for Marfan syndrome based on
                        inhibition of a class of GxxPG-containing fragments of the
                        extracellular matrix.
                    </div>
                </div>
            </div>
            <div class="team">
                <div class="teamname">Sanger Institute</div>
                <div class="teamlogo"><img class="teamlogo" src="/image/team-sanger.png"/></div>
                <div class="teammember">
                    <div class="membername">Damian Smedley</div>
                    <div class="membertitle">Senior Scientific Manager</div>
                    <div class="memberbio">
                        Dr. Smedley has a BSc in Biochemistry from the University of
                        Bristol and a Ph.D. from the University of Cambridge, also in
                        Biochemistry. His lab research focused on the effect of mutation
                        on protein structure and function and the identification and
                        characterisation of cancer-associated chromosomal changes. He
                        switched to a purely computational approach after completing an
                        MSc in Bioinformatics from Birbeck College and was a developer
                        of the BioMart distributed data integration solution. He
                        currently leads a team investigating the use of model organism
                        phenotype data to better understand the role of gene mutation
                        in human disease.
                    </div>
                </div>
            </div>
            </div> <!-- closes wrapperforfooter -->
            {{{includes.footer}}}
        </div>
    </div>
</body>
</html>
