{{{includes.navbar}}}

<div class="wrapperforfooter">
  <div class="container-fluid monarch-container">

    <div class="content content-bottom">
      <h1 class="text-center xteamtitle">Monarch Development Team</h1>

    <div class="well well-sm">
      <h3>
        Participating Institutions
      </h3>
      <div class="teamtoc">
        <dl>
          {{#conf.monarch-team.institutions}}
          <dt><a href="#{{id}}">{{name}}</a></dt>
          <dd>
            {{#people}}
            {{^alumni}}
            {{name}}&nbsp;
            {{/alumni}}
            {{/people}}
          </dd>
          {{/conf.monarch-team.institutions}}
        </dl>
      </div>
    </div>

    {{#conf.monarch-team.institutions}}
      <div id="{{id}}" class="well well-sm">
        <h3 class="teamname">
        <a href="{{website}}">{{name}}</a>
      </h3>
      <img class="teamlogo" src="{{logo}}" />
      {{#people}}
      {{^alumni}}
      <div class="teammember">
        <div class="memberhead">
    <div class="membername">{{name}}</div>
    <div class="membertitle">{{title}}</div>
        </div>
        <!-- <div class=""> -->
        {{#picture}}
        <img class="memberpicture" src="{{picture}}" />
        {{/picture}}
        {{^picture}}
        <!-- <img class="memberpicture" src="/image/person-unknown.png" /> -->
        {{/picture}}
        <!-- </div> -->
        <div class="clear"></div>
        <div class="memberbio">
    {{bio}}
        </div>
        {{#contact}}
        <div class="membercontact">
    {{#email}}
    <a title="email" href="mailto:{{email}}"><img class="contactlogo" src="/image/logo-email.png" /></a>
    {{/email}}
    {{#website}}
    <a title="website" href="{{website}}"><img class="contactlogo" src="/image/logo-website.png" /></a>
    {{/website}}
    {{#twitter}}
    <a title="twitter" href="{{twitter}}"><img class="contactlogo" src="/image/logo-twitter.png" /></a>
    {{/twitter}}
    {{#facebook}}
    <a title="facebook" href="{{facebook}}"><img class="contactlogo" src="/image/logo-facebook.png" /></a>
    {{/facebook}}
        </div>
        {{/contact}}
      </div>
      {{/alumni}}
      {{#alumni}}
      <div class="teammember">
        <div class="membername">{{name}} (alumni {{title}})</div>
      </div>
      {{/alumni}}
      {{/people}}
    </div>
    {{/conf.monarch-team.institutions}}
      </div>
    </div>
  </div>
</div>


{{{includes.footer}}}
