<!DOCTYPE html>
<html>
  <head>
    <title>Monarch Development Team</title>
    
    {{{includes.analytics}}}
    
    <!-- CSS. -->
    {{#pup_tent_css_libraries}}
    <link rel="stylesheet" type="text/css" href="{{{.}}}">
    {{/pup_tent_css_libraries}}
    
    <!-- JS variables. -->
    {{#pup_tent_js_variables}}
    <script type="text/javascript">var {{name}} = {{{value}}};</script>
    {{/pup_tent_js_variables}}
    
    <!-- JS libraries. -->
    {{#pup_tent_js_libraries}}
    <script type="text/javascript" src="{{{.}}}"></script>
    {{/pup_tent_js_libraries}}

    <link rel="stylesheet" type="text/css" href="/team.css"/>
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
    <meta charset="utf-8"/> 
  </head>
  <body>
    <div class="monarch-container">
      {{{includes.navbar}}}

      <div class="content">
        <div class="wrapperforfooter">
          <div class="title">Monarch Development Team</div>

	  <!-- Participating orgs. -->
	  <div class="team">
            <div class="teamname">
	      Participating Institutions
	    </div>
	    {{#conf.monarch-team.institutions}}
	    <div>
	      <a href="#{{id}}">{{name}}</a>
	      {{#people}}
	      {{name}}
	      {{/people}}
	    </div>
	    {{/conf.monarch-team.institutions}}
	  </div>

	  <!-- Detail lists. -->
	  {{#conf.monarch-team.institutions}}
          <div id="{{id}}" class="team">
            <div class="teamname">
	      <a href="{{website}}">{{name}}</a>
	    </div>
	    <img class="teamlogo" src="{{logo}}" />
	    {{#people}}
	    {{^alumni}}
	    <div class="teammember">
	      <div class="membername">{{name}}</div>
	      <div class="membertitle">{{title}}</div>
	      <div class="memberbio">
		{{bio}}
	      </div>
	    </div>
	    {{/alumni}}
	    {{#alumni}}
	    <div class="teammember">
	      <div class="membername">{{name}} (alumni {{title}})</div>
	    </div>
	    {{/alumni}}
	    {{/people}}
	  </div>
	  {{/conf.monarch-team.institutions}}
        </div> <!-- closes wrapperforfooter -->
        {{{includes.footer}}}
      </div>
    </div>
  </body>
</html>
