$navbar-height: 32px !default;

$font-size-base: 0.875rem;		// 14px !default;
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$grid-float-breakpoint: 700px;

$link-color: #0088ce;

