$navbar-height: 32px !default;
$grid-float-breakpoint: 700px;

$enable-gradients: 					true !default;
$navbar-padding-y: 					0 !default;
$nav-link-padding-y: 				0 !default;
$nav-link-padding-x: 				0 !default;
$font-size-base:              		0.875rem !default;
$enable-grid-classes: true !default;

// $font-path: "~bootstrap-sass/assets/fonts/" !default;
// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/" !default;
