
.band:hover
{
	opacity: 0.6;
	cursor: pointer;
}

.band {
	stroke: #d9d9d9;
	stroke-width: 1;
}

.acen {
	fill:#708090;
}

.gneg {
	fill: #ffffff;
}

.gneg:hover {
	fill: #d9d9d9;
}

.gpos, .gpos100, .tip  {
	fill: #000000;
}

.gpos25 {
	fill: #d9d9d9;
}

.gpos33 {
	fill: #bfbfbf;
}

.gpos50 {
	fill:#999999;
}

.gpos66 {
	fill: #7f7f7f;
}

.gpos75 {
	fill: #666666;
}

.gvar {
	fill: #e0e0e0;
}

.mark {
	fill: #0000ff;
}

.stalk {
	fill: #708090;
}

/**
*
*/

fieldset{
	visibility: hidden;
	margin: 20px;
}

input[type="checkbox"] {
	margin-right: 3px;
}


#myTable, th, td{
	font-size: 10pt;
	border: 1px solid black;
	padding: 5px;
}

#Table{
	visibility: hidden;
	margin: 30px;
	background-color:#999;
	height: 200px;
	z-index: 1;
	overflow: auto;
}


.bp-axis path,
.bp-axis line {
	fill: none;
	stroke: #666666;
	shape-rendering: crispEdges;
}


.band-lbl {
	font: 12px sans-serif;

}

.selector rect{
	fill: #0000ff;
	fill-opacity: 0.2;
	stroke: #666666;
	stroke-width: 0.5;

}

.centromere {
    fill: #ff5962;
}
