#markeduptext {
    line-height: 30px;
}
.linkedspan {
    color: #428bca;
    position: relative;
}
.linkedterms {
    position: absolute;
    background-color: #DDD;
    bottom: 15px;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 3px;
    min-width: 180px;
    max-width: 250px;
    color: black;
    display: none;
    line-height: 16px;
    font-size: 13.5px;
}
#longestcheck {
    margin-top: 10px;
    margin-right: 10px;
}
.btn.btn-annotate {
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 3px;
}
