/* Section 3: Content */
.content {
    width: 90%;
    padding: 20px 20px 20px 0px;
}
/* Description */
.jumbotron {
    border-radius: 2px;
    padding: 10px 40px 0px;
    margin-top: -25px;
    margin-bottom: 20px;
    border-bottom: black solid 1px;
}
.jumbotron h1 {
    font-size: 30px;
}
p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0px;
}
.ids {
    margin-top: 5px;
    font-size: 15px;
    line-height: 22px;
}
/* Category Tabs */
#categories {
    margin-top: 20px;
    margin-bottom: -3px;
}
@media (min-width: 1200px) {
    .tab {
        display: inline-block;
        background: white;
        color: #777;
        padding: 2px;
        width: 100px;
        text-align: center;
        border-radius: 5px 5px 0px 0px;
        margin-right: 5px;
        font-weight: 400;
        cursor: pointer;
        font-size: 14px;
        border: black solid 1px;
    }
}
@media (max-width: 1200px) {
    .tab {
        display: inline-block;
        background: white;
        color: #777;
        padding: 2px;
        width: 100px;
        text-align: center;
        border-radius: 4px;
        margin-right: 10px;
        font-weight: 400;
        cursor: pointer;
        font-size: 14px;
        border: black solid 1px;
    }
}
#initialtab {
    color: white;
    background-color: #666;
}
@media (min-width: 1200px) {
    .second-row-divider {
        display: none;
    }
}
@media (max-width: 1200px) {
    .second {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}
/* Rest of Content */
.category {
    padding-left: 40px;
    display: none;
}
.first {
    display: block;
}
.btn.btn-info {
    padding: 5px 10px;
    width: 80px;
}
.downloadline {
    display: inline-block;
}
.btn.btn-info.downloadline {
    margin-bottom: 10px;
    margin-left: 20px;
}
