* { margin: 0; border: 0; padding: 0; }

body { margin: 5px 0; font: 100%/1.6 verdana, arial, helvetica, sans-serif; color: #000; background: #fff; }

h1, h2, h3, h4, table caption { font-family: "trebuchet ms", "lucida grande", arial, sans-serif; }

p, table, h2, h3, h4, dl, .contents div { margin: 10px 0; }

hr { height: 0px; visibility: hidden; }

ul { list-style: none; }

table { width: 100% }

tbody { background: #fff }

td, th { vertical-align: top; padding: 2px; border-width: 0; }

.bluebg, tfoot tr, thead tr, tr.thead { background:  #e9effa; }

th { padding: 0 2px; font-size: 90%; }

.gp dt, .term-info dt, .seq dt { font-weight: bold; width: 7em; }

.gp dd, .term-info dd, .seq dd { position: relative; left: 0; top: -1.2em; margin: 0 0 0 8em; }

.gp dd + dt, .term-info dd + dt, .seq dd + dt { margin: -1em 0 0 0; }

h1 { text-align: center; padding: 10px 20px; }

h2 { line-height: 1.0; }

.block h2 { border-bottom: 1px solid #3875D7; background: #e9effa; color: #000; margin: 0 -10px 5px; padding: 5px 10px; }

.block h2 a { display: block; border: none; padding: 5px 10px; margin: -5px -10px }

h3 { color: #006; }

.block h3 { margin: 0 -10px; border-top: 1px solid #3875D7; padding: 5px 10px; }

.block h2 + h3, h3.first { border: 0; margin: -5px -10px 0; }

var, em { font-style: normal; }

em { font-weight: bold; }

div.block { border: 1px solid #3875D7; padding: 0 10px; }

div.result { font-size: 90%; border-bottom: 1px solid #3875D7; }

div.result p { font-size: 90%; }

a, a:link, a:visited { padding: 0 2px; text-decoration: none; color: #006; border-bottom: 1px dotted #006; }
/* a, a:link, a:visited { padding: 0 2px; text-decoration: none; color: #006; border-bottom: 1px dotted #006; } */

a:visited { border-bottom: 1px dotted #99F;}

a:hover, a:focus, a:active { color: #fff; background: #3875D7; border-bottom: 1px solid #3875D7; }

a.clear-link, a.clear-link:link, a.clear-link:visited { padding: 0 2px; text-decoration: none; color: #000; border-bottom: 0px; }
a.clear-link:hover, a.clear-link:focus, a.clear-link:active { color: #000; background: #fff; border-bottom: 0px; }

a.img, a.help-link { border: none; }

a.logo { background: #e9effa; border: none; }

a.img img, a.help-link img { border: 1px solid #fff; background: #fff; }

a.help-link { padding: 0; }

a.help-link, a.help-link img { background: #fff }

a.help-link img { margin: 0 0 -3px 0; padding: 2px }

a.help-link:hover img, a.help-link:active img { color: #006; background: #cddcf3; border: 1px solid #3875d7; }

a.logo img { border: 1px solid #e9effa; padding-top: 5px; }

a.obsolete { border: none; background: #ddd; color: #666; }

.hilite { border: 1px dotted #000; color: #000; background: #A9FFA1; /* background: #ff0; */ padding: 0 1px; }

a:hover .hilite, a:active .hilite { color: #fff; background: #3875D7; /* border: none; border: 1px solid #3875D7; */ }

a.blast-link { font-size: 90%; padding: 1px 2px; border: 1px dotted #366; color: #366; background: #bee; }

a.blast-link:hover, a.blast-link:active { border: 1px solid #366; background: #366; color: #fff; }

p.toTop { font-size: 80%; text-align: right; background: #e9effa; margin: 0 -10px; padding: 0.1em 0; clear: right; }

p.toTop a { background: #cddcf3; color: #000; padding: 0.2em 5px; border: none; }

p.toTop a:hover, p.toTop a:active { background: #3875D7; color: #fff; }

.options { font-size: 90%; margin-top: 0 }

h3.toggle { border-top: none; font-size: 90%; }

.treeview ul { list-style: none; padding: 0; margin: 0; line-height: 1.5; }

.treeview li { margin: 0.1em 0; /* border: 1px solid green; */ }

.treeview ul ul { padding-left: 20px; }

.treeview li li { margin: 0; }

.treeview a { text-decoration: none; color: #006; padding: 0; border: 1px solid #fff; }

.treeview a:hover, .treeview a:active { color: #006; background: #cddcf3; border: 1px solid #3875d7; }

.treeview img { margin: 0 0 -3px 0; padding: 2px; border: 1px solid #fff; }
/* .treeview img, .block img { margin: 0 0 -3px 0; padding: 2px; border: 1px solid #fff; } */

.treeview a.img, .block a.img { background: #fff; border: none; }

.treeview a.img:hover img, .treeview a.img:active img, .block a.img:hover img, .block a.img:active img { color: #006; background: #cddcf3; border: 1px solid #3875d7; }

.treeview .obsolete { color: #666; background: #fff; }

.treeview .action a { font-weight: 600 }

.treeview .focus { font-weight: bold; }

.treeview .focus a { color: #3875d7; }

.treeview .seen a { color: #40408c; }

.treeview .seen a:hover, .treeview .seen a:active { color: #009; }

.treeview a.gp { border: 1px dotted #366; color: #366; background: #bee; padding: 1px 2px; }

.filters { color: #000; background: #e9effa; border: 1px solid #000; padding: 0 10px; }

.filters p, .filters dl, .filters div, .filters ul { margin: 5px 0; }

.filters dt { font-weight: bold; }
.filters dd { font-size: 90%; }

div.links { float: right; font-size: 80%; margin: 0 0 10px 10px; padding: 5px; border: 1px solid #000; background: #cddcf3; width: 12em; }

.links li { margin: 0; }

.links a /*, .links a:link, .links a:visited */ { padding: 1px 2px; border: none; }

.links a:hover, .links a:active { padding: 1px 2px; color: #fff; background: #3875D7; border: none; }

.arrow-img, .arrow-img img { border: 0; margin: 0; padding: 0; }
.arrow-img img { padding: 2px; }
.arrow-img, .arrow-img:link, .arrow-img:visited { border: 1px solid #e9effa }
.arrow-img:hover, .arrow-img:focus, .arrow-img:active { border: 1px solid #3875d7; background: #fff }

.download li { display: inline; }

/* styling form elements */
.radio, .cbox { margin: 0 3px 0 10px; }

.txt, .textBox { margin: 0 5px; }

/* input.textBox { font: 90% arial, sans-serif; } */
input.textBox { }

.button { padding: 2px; margin: 5px; font-size: 90%; }

textarea, .txt, .textBox, .button { border: 1px solid #000; }

.table-options { font-size: 80%; vertical-align: top; }

fieldset.block { border: 1px solid #3875D7; padding: 0 5px; margin: 0 10px 0 0; }
.block fieldset { display: inline; padding: 0 5px; }
fieldset.noPad { padding: 0; }
fieldset .cbox { margin: 0 5px 0 0; }
fieldset ul { margin: 5px; }
fieldset.block fieldset.block { margin-bottom: 5px; }

#searchType { margin: 0; }
#searchType div { float: left; width: 30%; margin: 0 0 5px 0; }
#searchType h4 { margin: 0 0 5px 0; }
#searchType fieldset { background: #e9effa; }
#searchType .deselected fieldset { background: #fff; }

div.or { float: left; margin: 0 0 5px 0; }
.or h4 { margin: 0 0 5px 0; }

select { min-width: 1.5em; border: 1px solid #3875D7; }

p select { margin-left: 5px; }

#graph li { padding-right: 5px; }

.odd_row { background: #e9effa; }
.even_row { }
.crossed_row { background: #d3dff5; }

.select { display: block; }

.contents { padding: 10px; font-size: 90%; }

.indent { padding-left: 20px; }

.floatL { float: left; }

.floatR { float: right; }

.clearboth { clear: both; height: 0; }

.clearR { clear: right; }

.clearL { clear: left; }

.hidden { visibility: hidden; }

.noDisplay { display: none; }

.C { text-align: center; }

.R { text-align: right; }

.L { text-align: left; }

.b, .type { font-weight: bold; }

.blast-results .name { font-weight: bold; }

.sequence { font: 85%/1.6 monaco, "andale mono", courier, fixed-width; }

.spp { font-style: italic; }

.assoc .not { padding: 2px; background: #fff; border: 1px solid #F00; color: #F00; font-weight: bold }

.qual { background: #D0FFEE; padding: 0 1px; border: 1px solid #000; }

.evidence ul { /*padding-left: 1.5em;*/ font-size: 90%; }

.ext-ref dd { padding-left: 5em; }

.evCode { color: #4D2797; font-weight: bold; }

.evidence .code { color: #4D2797; font-weight: bold; }

.evidence a.code:hover, .evidence a.code:focus, .evidence a.code:active { color: #fff; background: #4D2797 }

th.input { width: 1.5em; }

th.ontCol { width: 10em; }

.refCol { width: 10em; }

.assCol { width: 8em; }

.gp-comp .evCol { width: 8em; }

.qualCol { width: 6em; }

.synlist { /* font-size: 80%; line-height: 1.2; padding: 2px 0; */ }

tr.obsolete { background: #ddd; color: #666; }

div.obsolete { border: 1px solid #666; }

div.obsolete h2 { background: #eee; border-bottom: 1px solid #666; }

.assoc-link, .def-link { font-size: 75%; margin-left: 5px; font-weight: normal }

.paging { margin: 10px 0; }

.paging li { display: inline; font-size: 90%; }

.paging li a { padding: 2px 5px; border: 1px dotted #3875d7; }

.paging li a:visited { border: 1px dotted #006; }

.paging li a:hover, .paging li a:active { border: 1px solid #3875d7; }

.horiz { margin: 5px 0; padding: 5px; background: #ddd; border: 1px solid #3875D7; }

.inline, .inline li { display: inline; }

ul.inline { display: block; }

img.pie { margin: 20px auto; }

.selected { background: #ccf; }

ul.fatal { padding: 10px 0 10px 35px; background: url(../images/fatal.png) 0 0 no-repeat; }
ul.warning { padding: 10px 0 10px 35px; background: url(../images/warning.png) 0 0 no-repeat; }
ul.info { padding: 10px 0 10px 35px; background: url(../images/info.png) 0 50% no-repeat;}
ul.dot { list-style-type: disc; margin-left: 20px; }

#footer, #header { width: 100%; background: #e9effa; border-width: 3px 0 3px 0; border-color: #3875D7; border-style: solid; margin: 0; overflow: hidden; }

#header h1 { font: italic 200% "trebuchet ms", "lucida grande", arial, sans-serif; margin: 0; padding: 15px 5px 5px 125px; color: #3875D7; text-align: left; }

#header h1 a { color: #3875D7; border: none; }

#header h1 a:hover, #header h1 a:active { background: #3875D7; color: #fff; }

#topSrchDiv { font-size: 85%; margin-right: 5px; }

#topSrchInput { width: 12em; }

#footer p { margin: 5px 10px; font-size: 70%; text-align: right; line-height: 1.5; }
#footer .left { float: left; font-size: 80%; line-height: 1.5; }

#shout { color : #7538D7; text-align : center; text-decoration : underline; font-weight : bold; font-style : italic; }

#results .search .term .name, #results .search .term .acc, #results .search .gp .symbol, #results .search .gp .full_name { font-weight: bold; }

#results p, #results ul { font-size: 90%; }
#results ul.inline li { padding-right: 5px }

#results h3 { margin: 10px 0 5px 0; padding: 0; border: 0 }

#searchbar {
    color: #fff;
    background: #3875D7;
    padding: 3px;
    margin: 0;
    text-align: center;
}

#searchbar ul, #searchbar div { margin: 0 }

#searchbar ul { padding: 0 0 3px 0; font-size: 90% }

#searchbar li { display: inline; border: 1px solid #3875D7; padding: 3px 5px; color: #ccc; }

#searchbar li a { color: #fff; padding: 3px 5px; border: 1px solid #3875D7; background: #3875D7; }

#searchbar li a:hover, #searchbar li a:active { border: 1px solid #006; background: #fff; color: #006; }

#searchbar li.here { border: 1px solid #006; background: #e9effa; color: #006; }

#searchbar p {
    font-size: 90%;
    color: #000;
    background: #cddcf3;
    padding: 1px;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid #000;
    margin: 3px 5px;
}

#searchbar .button { font-size: 90%; margin: 3px 5px; }


/*  searchbarlabs is the same as above except a different color */
#searchbarlabs {
    color: #fff;
    background: #7538D7;
    padding: 3px;
    margin: 0;
    text-align: center;
}

#searchbarlabs ul, #searchbarlabs div { margin: 0 }

#searchbarlabs ul { padding: 0 0 3px 0; font-size: 90% }

#searchbarlabs li { display: inline; border: 1px solid #7538D7; padding: 3px 5px; color: #ccc; }

#searchbarlabs li a { color: #fff; padding: 3px 5px; border: 1px solid #7538D7; background: #7538D7; }

#searchbarlabs li a:hover, #searchbarlabs li a:active { border: 1px solid #006; background: #fff; color: #006; }

#searchbarlabs li.here { border: 1px solid #006; background: #e9effa; color: #006; }

#searchbarlabs p {
    font-size: 90%;
    color: #000;
    background: #cddcf3;
    padding: 1px;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid #000;
    margin: 3px 5px;
}

#searchbarlabs .button { font-size: 90%; margin: 3px 5px; }

/*  searchbartrouble is the same as above except a different color */
#searchbartrouble { color: #fff; background: #FF0000; padding: 3px; margin: 0; text-align: center; }

#searchbartrouble ul, #searchbartrouble div { margin: 0 }

#searchbartrouble ul { padding: 0 0 3px 0; font-size: 90% }

#searchbartrouble li { display: inline; border: 1px solid #FF0000; padding: 3px 5px; color: #ccc; }

#searchbartrouble li a { color: #fff; padding: 3px 5px; border: 1px solid #FF0000; background: #FF0000; }

#searchbartrouble li a:hover, #searchbartrouble li a:active { border: 1px solid #006; background: #fff; color: #006; }

#searchbartrouble li.here { border: 1px solid #006; background: #e9effa; color: #006; }

#searchbartrouble p { font-size: 90%; color: #000; background: #FF0000; padding: 1px; border: 1px solid #000; margin: 3px 5px; }

#searchbartrouble .button { font-size: 90%; margin: 3px 5px; }

cite { font-style: normal; }

#amigo-logo { padding: 100px 0 0; background-image: url(../images/go-logo.png); background-repeat: no-repeat; background-position: center top; overflow: hidden; /* WIN IE5 hack */ height: 0px; }

#frontForm fieldset { margin: 10px; }

#frontForm legend { display: none; }

#frontForm input { margin-right: 5px; }

#frontForm span { margin: 0 2px; padding: 2px 5px; border: 1px solid #fff; }

#frontForm .textBox, #frontForm .button { margin: 10px 0; border: 1px solid #3875D7; }

#frontForm .formHilite { background: #e9effa; border: 1px solid #3875D7; }

#footer ul, #footer div { font-size: 70%; }

#footer { clear: right; }

#navPage { border: 2px solid #ccc; background: #EBF1FC; font-size: 90%; line-height: 1.5; }

#navPage a { border: solid 1px #ebf1fc; }

#navPage a:hover, #navPage a:active { border: solid 1px #3875D7; background: #fff; color: #006; }

#id-bar-query { margin: 0 5px; }

#messages { padding: 0 10px; }

.w50 { width: 50% }

.floating-links { float: right; text-align: right; font-size: 90%; padding-left: 5px; }
.floating-links a img, .download a img { border: none; }

.transparent { padding: 0 !important; border: 0 !important; margin: 0 !important; }

.clearall {
    clear: both;
}

.error_text {
/* color: #7c7cff;*/
color: #da3030;
}

/* info_keys */
.info_keys ul {
    list-style-position: inside;
    /* list-style-type: disc; */
}
.info_keys li {
    padding-left: 20px;
}

/* General purpose: */
.nowrap {
    white-space: nowrap;
}

/* Sideways...really? You bet! */
.climbing {
    /* FF */
    -moz-transform: rotate(-90deg);
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* IE */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* Opera */
    -o-transform: rotate(-90deg);
}

.cart-rules {
    font-weight: bold;
    position: fixed;
    right: -2.5em;
    bottom: 2em;
    background-color: #cddcf3;
    border-style: solid;
    border-width: 2px;
    border-color: #3875d7;
    padding: 0.5em;
    padding-bottom: 3em;
}

.cart-image {
    width: 32px;
    height: 25px;
}

/* Anchor pseudo-class overrides to take care of when you don't want
defaults to jam JS layouts. */
a.override, a.override:link, a.override:visited {
    padding: 0 0px;
    text-decoration: none;
    /* color: transparent; */
    background: transparent;
    border-bottom: 0px;
    border: 0px;
}
a.override:hover, a.override:focus, a.override:active {
    padding: 0 0px;
    text-decoration: none;
    color: #3875d7;
    background: transparent;
    border-bottom: 0px;
    border: 0px;
}

/* Override some standard textbox properties with an additional
class. */
.textBoxLighten {
    margin: 0 0px;
}

/* Stuff necessary for nice two column layout. */
/* BUG: why do inline styles work, but classes don't sometimes. */
.twocol-wrapper{
    margin-top: -10px;
    padding-top: -10px;
    /* border-style: solid; */
    /* border-width: 2px; */
    /* border-color: #3875d7; */
    float: left;
    width: 100%;
}
.twocol-leftcolumn {
    float: left;
    width: 25em;
    /* margin-left: -100%; */ /* what was this doing!? */
    /* background: #cccccc; */
}

/*
 * This is a slight correction for the large size give by jQuery's
 * ui-accordion when in the context of our two-column live search
 * layout.
 */
.twocol-leftcolumn .ui-accordion {
    font-size: 100%;
}
.twocol-leftcolumn .ui-accordion-header {
    margin-left: 0px; /* was 10px */
    margin-right: 0px; /* was 10px */
}
.twocol-leftcolumn .ui-accordion-header a {
    border-bottom-style: none; /* was dotted */
}
.ui-accordion div {
    /* margin-top: none; */
    /* margin-bottom: none; */
    margin-top: 0;
    margin-bottom: 0;
}

.twocol-content {
    /* margin-left: 25em; */
}

.dark-cell {
    background-color: #cddcf3;
}
.light-cell {
    background-color: #ffffff;
}

/* Warning block. */
.warning { color: #000; background: #ffcfcf; border: 1px solid #000; padding: 0 10px; }
.warning h2 { background: #ff7f7f; }
.warning p, .warning dl, .warning div, .warning ul { margin: 5px 0; }
.warning dt { font-weight: bold; }
.warning dd { font-size: 90%; }

/* Notice block. */
.notice { color: #000; background: #ffffab; border: 1px solid #000; padding: 0 10px; }
.notice h2 { background: #ffff7f; }
.notice p, .notice dl, .notice div, .notice ul { margin: 5px 0; }
.notice dt { font-weight: bold; }
.notice dd { font-size: 90%; }

.disabled-normal {
    /* size: 100%; */
    /* font-size: 100%; */
    font-color: #000000;
    color: #000000;
    background: #ffffff;
    /* background: #cddcf3; */
}

/*
 * Some stuff for GOlr
 */

/* Filter box issues. */
.golr-embiggen {
    height: 40em;
}

/* Filter box issues. */
.golr-filter-selectable .ui-selecting {
    background: #FECA40;
}
.golr-filter-selectable .ui-selected {
    background: #F39814; color: white;
}
.golr-filter-selectable .ui-selectee {
    color: blue;
}
.golr-filter-selectable {
    /* list-style-type: none; margin: 0; padding: 0; width: 60%; */
}
.golr-filter-selectable li {
    /* margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; */
}

/*
 * Items for the various message queue (mq) communications.
 */

/* Warning block. */
div .mq_message {
    padding: 0 .5em;
    margin-left: 15%;
    margin-right: 15%;
}
.mq_message img {
    width: 1em;
    height: 1em;
}
.mq_error { background: #ffcfcf; border: 1px solid #ff0000; }
.mq_warning { background: #ffffab; border: 1px solid #ffa000; }
.mq_notice { background: #acffac; border: 1px solid #007000; }

/*
 * Make the ajax a little more pleasant if available.
 */
.ui-autocomplete-loading {
    background: white url('../images/waiting_ac.gif') right center no-repeat;
}
.ui-ajax-loading {
    background: white url('../images/waiting_ajax.gif') right center no-repeat;
}
.ui-poll-loading-right {
    background: white url('../images/waiting_poll.gif') right center no-repeat;
}
.ui-poll-loading-left {
    background: white url('../images/waiting_poll.gif') left center no-repeat;
}

/* /\* Hint for jQuery UI progressbar. *\/ */
/* .ui-progressbar { */
/*     position: relative; */
/* } */

.logo-img-left {
    height: 50px;
}
.logo-img-right {
    height: 50px;
}

/*
 * Pad out the landing box to make it a little more appealing.
 */
.amigo-landing-navigation {
    width: 80%;
    padding-left: 3em;
    padding-right: 3em;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3em;
}
.amigo-landing-navigation td {
    width: 33%;
    padding: 0em;
    /* padding-left: 1em; */
    /* padding-right: 1em; */
}
.amigo-landing-navigation tr td a img {
    height: 36px;
    float: left;
    padding-right: .5em;
    /* border: 1px solid blue; */
}
.amigo-landing-navigation tr td {
    border: 1px solid #3875D7;
    background-color: #e9effa;
    vertical-align: middle;
}
.amigo-landing-navigation tr td a {
    display: block;
    border-bottom-style: none;
    padding: .5em 1em;
}

/* Darken the beta items. */
/* .amigo-landing-navigation-beta { */
/*     size: 80%; */
/* } */
/* .amigo-landing-navigation-beta tr td { */
/*     border: 1px solid #3875D7; */
/*     background-color: #e9effa; */
/* } */

.amigo-grebe-action-icon {
    cursor: pointer;
    height: 25px;
    vertical-align:middle;
}

/*
 * Wrapper for the new standard informational rollup sections.
 */
.amigo-ui-rollup-info {
}
.amigo-ui-rollup-info h3 a {
    border-bottom-style: dotted;
    /* border-bottom-style: solid; */
}
.amigo-ui-rollup-info div {
    background-color: #eeeeee;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}
.amigo-ui-rollup-header {
}

/*
 * Make text buttons seem a little bit more like real buttons when
 * we can.
 */
.bbop-js-text-button-sim {
    cursor: pointer;
    background-color: #d3dff5;
    border-style: solid;
    border-color: #3875d7;
    border-width: 1px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    /* padding-top: 0em; */
    /* padding-bottom: 0em; */
}
.bbop-js-text-button-sim-inactive {
    background-color: #e3efff;
    /* border-style: solid; */
    border-color: #0845a7;
    /* border-width: 1px; */
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.bbop-js-text-button-sim:hover {
    background-color: #d0ffee;
}

/*
 * Get a span to the right side of a div.
 * General purpose class to help when creating pop-up dialogs.
 */
.bbop-js-ui-dialog-button-right span {
    float: right;
}

/*
 * bbop.widget.spinner classes.
 */
.bbop-js-spinner {
    height: 18px;
}
.bbop-js-spinner-hidden {
    visibility: hidden;
    display: none;
}

/*
 * Some work on the ubiquitous search header.
 */
.amigo-autocomplete-explanation-info {
    text-align: left;
}

/*
 * Hints from AmiGO 2 for internal and external terms in anchors.
 * May be added in amigo.linker.
 */
.amigo-ui-term-internal {
    /* background-color: green; */
}
.amigo-ui-term-external {
    background-color: #ffffab;
    border: 1px solid #ffa000;
    /* background-color: #ddddcc; */
    /* outline: solid 1px yellow; */
}

.amigo-ui-progress-label {
    position: absolute;
    left: 50%;
    /* margin-top: 0; */
    /* top: 4px; */
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

/* A special fix on some pages to prevent the usual margins from
 * throwing off some UI elements (see the progress bar in Facet Matrix).
 */
.amigo-ui-margin-top-zero { margin-top: 0; }
.amigo-ui-margin-top-zero div { margin-top: 0; }
.amigo-ui-margin-top-zero div div { margin-top: 0; }

/*
 * Reserved for tooltip stuff (that we farm out).
 */
.bbop-js-ui-tooltip {}

/*
 * Hints to make things that we might want to hover
 * over catch the eye better.
 */
.bbop-js-ui-hoverable {
    cursor: pointer;
}

/*
 * bbop.widget.message classes.
 */
.bbop-js-message {
    z-index: 100;
    position: fixed;
    /* width: 25em; */
    /* margin-top: 3px; */
    /* margin-right: 3px; */
    margin-top: 1em;
    margin-right: 1em;
    /* width: 100%; */
    top: 0%;
    right: 0em;
    font-weight: bold;
    background-color: white;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    /* color: blue; */
}
.bbop-js-message-notice {
    outline: blue solid 3px;
}
.bbop-js-message-warning {
    outline: yellow solid 3px;
}
.bbop-js-message-error {
    outline: red solid 3px;
}

/* Actually make the input box visible given all of the stuff above. */
/* To some extent, this needs to be relative */
/* to the size of .twocol-leftcolumn */
.bbop-js-search-pane-textarea {
    border: 1px;
    border-style: solid;
    /* width: 24em; */
    width: 100%;
}
/*
 * BBOP-JS search_pane results count div handle.
 * Want to make this low priority item rather smaller...
 */
.bbop-js-search-pane-sticky-filters {
    clear: both;
}
.bbop-js-search-pane-meta {
    /* font-size: 85%; */
    display: inline-block;
    padding-right: 2em;
}
.bbop-js-search-pane-results-count {
    /* font-size: 85%; */
    display: inline-block;
}
.bbop-js-search-pane-results-count select {
    font-size: 85%;
}
.bbop-js-search-pane-query-label {
    /* position: relative; */
    /* top: 5px; */
}
.bbop-js-search-pane-query-label div {
    margin-top: 0px;
    margin-bottom: 0px;
}
.bbop-js-search-pane-clear-button {
    float: right;
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
}
