/*provides on hover images for pathway section*/

span.dropt {}
span.dropt:hover {text-decoration: none; background: #ffffff; z-index: 6; }
span.dropt span {position: absolute; left: -99999px;
    margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
    border-style:solid; border-color:black; border-width:1px; z-index: 6;}
span.dropt:hover span {left: 20%; top:20%; background: #ffffff;}
span.dropt span {position: absolute; left: -99999px;
    margin: 4px 0 0 0px; padding: 3px 3px 3px 3px;
    border-style:solid; border-color:black; border-width:1px;}
span.dropt:hover span {margin: 20px 0 0 170px; background: #ffffff; z-index:6;}