body{
	margin-left:25px;
	width:70%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.title, .sectiontitle, h1, .subsectiontitle, .header{
	font-weight:bold;
	color:#44A293;
} 
.header{
	font-size:2.0em;
	margin-left:15px;
	margin-bottom:15px;
}			
.subsectiontitle{
	font-size:1.0em;
}		
.sectiontitle{
	font-size:1.2em;
}
#title{
	float:left;

}
#title b{
  position:absolute;
  top:100px;
  left:73px;
}

#title2{
	
	float:left;
	position: absolute;
	top:130px;
	left:72px;
}
#organism_div {  
	position:absolute;
	top:97px;
	left:610px;
}
.wrapperforfooter .title{
    font-size: 32px;
}

#calculation_div {
	position:absolute;
	top:130px;
	left:620px; 
}

.headtitle img{
	vertical-align:bottom;
}
#phen_vis svg{
  margin-top:20px;
  padding-bottom: 30px;
}

li{ padding-bottom: 7px;}

div .title{
	margin-top:-30px;
}