/* Section 3: Content */
/* Jumbotron */
.jumbotron {
    margin-bottom: 20px;
}
.buttonline {
    display: inline-block;
}
.right-butn {
    float: right;
    margin: 15px 20px;
}
.clear {
    clear: both;
}
.tagline {
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px;
    padding-bottom: 10px;
}
.description {
    font-size: 14px;
    line-height: 26px;
}

/* Boxes */
@media (min-width: 1200px) {
    .column {
        display: inline-block;
        width: 48%;
        margin-left: 20px;
    }
}
@media (min-width: 1000px) {
    .column {
        display: inline-block;
        width: 47%;
        margin-left: 20px;
    }
}
@media (max-width: 1000px) {
    .column {
        display: inline-block;
        margin: 0px 10px 0px 20px;
    }
}
#column1 {
    float: left;
}
.entry {
    background-color: #EEE;
    border: #AAA solid 1px;
    margin-bottom: 20px;
    padding: 15px 20px 5px;
}
.entryheader {
    font-weight: 500;
    font-size: 18px;
}
.entrydescript {
    margin-top: 10px;
    font-weight: 200;
    line-height: 24px;
}
