#title{
	float:left;
}

#title2{
	
	float:left;
	position: absolute;
	top:240px;
	left:28px;
}
#organism_div {
	position:absolute;
	top:215px;
	left: 590px;
}

#calculation_div {
	position:absolute;
	top:240px;
	left:600px; 
}