
/* Override bootstrap for font-family and color */
body, h1, h2, h3, a {
    font-family: "Kelson Sans";
}

a {
    color: #44A293;
}

/* Section 1: Navbar */
.nav>li>a {
    padding: 0px;
}
.dropdown-toggle {
    margin: 15px 15px 10px;
}
.navbar-link {
    font-size: 14px;
}
.navbar-text {
    margin-top: 13px;
    margin-bottom: 14px;
}

/* Section 2: Sidebar */
.sidebar {
    display: inline-block;
    float: left;
    height: 100%;
    position: fixed;
    border-right: 1px solid black;
    width: 160px;
    padding-top: 20px;
}
.nav.nav-list {
    margin-top: 10px;
}
/* Search Bar */
#search {
    width: 145px;
}

/* Search Button */
.btn {
  background-color: #44A293;
}

.btn.btn-primary {
    padding: 4px 51px;
    font-size: 13px;
    margin-top: 3px;
}
.nav-header {
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
}

/* footer */

#footer {
    clear:both;
    display:block;
    float:center;
    text-align:center;
}