/* Section 3: Content */

/* Main Spotlight */
.jumbotron {
    margin-top: 0px;
    border-radius: 2px;
    padding: 10px 30px 20px;
}
.jumbotron h1 {
    font-size: 30px;
    margin: 10px 0px;
}
.jumbotron p {
    font-size: 16px;
    line-height: 26px;
}
#monarch-logo {
    margin-right: 20px;
}
.btn-monarch-main {
    padding: 10px 15px;
    font-weight: 400;
    font-size: 16px;
}
/* Rest of Content */
.col-lg-9 {
    padding-left: 30px;
    margin-top: -20px;
}
.col-lg-9 h1 {
    font-size: 22px;
}

 .ui-autocomplete        {
     position:absolute;
     cursor:default;
     z-index:4000 !important
 }