body {
  padding-top: 70px; /* Body padding for fixed navbar */
}

.graph-container{
    position: relative;
    float:left;
    border-style:solid;
    border-width:1px;
}
.disease-gene-container{
    position: relative;
    float:left;
    border-style:solid;
    border-width:1px;
}
.disease-pheno-container{
    position: relative;
    float:left;
    border-style:solid;
    border-width:1px;
}
.pheno-geno-container{
    position: relative;
    float:left;
    border-style:solid;
    border-width:1px;
}

