/**
 * CSS for items still in labs.
 */

.bbop-js-spinner {
    height: 18px;
}
.bbop-js-spinner-hidden {
    visibility: hidden;
    display: none;
}

#main-container {
    width: 1586px;
    margin: 0px auto;
}

/* Graphic */
#graphic-test {
    position: relative;
    width: 760px;
    height:750px;
    padding-top: 50px;
    float:left;
    background-color: #FCFCFE;
   /*margin: 0px auto;*/
}
#graphic-test > img {
    width: 100%;
}

.graph-container{
    position: relative;
    width: 826px;
    float:left;
}
