/**
 ** Additional CSS to make the home page specific things look nice.
 **/


.test-image {
    background-image: url(../image/partner-do.png) !important;
    margin:0;
    padding:0;
    height:54px;
    width:130px;
    position:absolute;
    top:80px;
    left:10px;
    z-index:9999;
    border:5px solid green;
}

#monarch-home-container .panel-default {
    margin:0;
    margin-bottom: 7px;
    margin-left:auto;
    margin-right:auto;
}

#monarch-home-container .panel-heading {
    padding: 5px;
    padding-left: 10px;
}

#monarch-home-container .panel-title {
  font-size:14px;
}

#monarch-home-container .container {
    max-width:100%;
}
/*
 * Compact the news list just a little. Assumes dl.
 */
.news-list {
  margin:0;
  margin-top: -15px;
  padding-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
}
.news-more {
  text-align: center;
}
.news-panel {
}

.news-item {
  margin-bottom: 5px;
}

.news-item-date {
  font-size: 0.9em;
  color: darkgray;
}

.news-item-title {
  font-weight: 500;
}

/*
 * Carousel and tabber.
 */

.monarch-carousel {
    position: relative;
    height:100% !important;
    margin-left:-22px;
    margin-right:-8px;
    padding:0;
}

.monarch-carousel-item {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100% !important;
}

.monarch-home-carousel-separator-hr {
    height: 10px;
    margin: 0.3em;
    border: none;
    clear:both;
}

.monarch-home-carousel-item-hr {
    height: 1px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.monarch-home-carousel-item-text {
    padding: 0.3em;
    margin: 25px;
    margin-top:2px;
    margin-bottom:5px;
    font-size: 1.1em;
    font-weight: 500;
    height:90px;
    text-align:center;
    vertical-align:text-top;
}

/* Reserved for the largest item to get layout sizing correct. */
.monarch-carousel-item-largest {
    position: relative;
    margin-bottom:20px;
}

.monarch-carousel-item-selected {
    opacity: 1.0;
    z-index: 1;
}

.monarch-carousel-item-unselected {
    opacity: 0.0;
    z-index: 0;
}

.monarch-carousel-item-image {
  width: 100%;
  height: auto;
  padding: 0 35px 0 35px;
  margin: 0;
  margin-left:12px;
  margin-top: -5px;
  //margin-bottom:10%;
  display:inline-block;
  border:none;
}



/* CAMEO */


div#cameocontainer {
  width: 100%;
  margin-right:-10px;
}

#cameocontainer .row.monarch-home-cameo-row {
  padding: 0;
  margin: 0;
}

#cameocontainer .monarch-home-cameo-image {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#cameocontainer .btn.btn-primary.monarch-home-cameo-button {
  margin: 0;
  padding: 2px;
  padding-left:4px;
  padding-right:4px;
}

#cameocontainer .monarch-home-cameo-text {
  margin: 0;
  padding: 0.5em;
  margin-bottom: 0.3em;
}


#cameocontainer .flex > div[class*='col-'] {
  margin: 0;
  padding: 0;
}

#cameocontainer .flex,
#cameocontainer .flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

#cameocontainer .flex .panel {
  width: 100%;
  margin: 3px;
  padding: 0;
  display: flex;
  flex-direction:column;
  align-content:stretch;
}

#cameocontainer .flex .panel-body {
   display: flex;
   flex-grow:1;
   padding-bottom: 3px;
}

#cameocontainer .monarch-home-cameo-row .panel-footer {
  border:none;
   padding: 0;
   margin: 0;
   background: transparent;
}


.monarch-home-hpo-logo-image {
  width:81px;
  height:81px;
  vertical-align: text-top;
  display:inline-block;
  padding:0;
  margin:-3px -3px 0 5px;
}


.monarch-home-hpo-image {
  padding:0;
  margin:0;
  border:1px solid #afafaf; /* #a4a4a4; */
  border-radius:2px;
}


.monarch-home-hpo-button {
  margin: 0;
  padding: 2px;
  padding-left:6px;
  padding-right:6px;
}

.monarch-home-phenotype-image {
  padding: 0;
  margin: 0;
}


.monarch-home-phenotype-button {
  margin: 0;
  padding: 2px;
  padding-left:4px;
  padding-right:4px;
}

.monarch-carousel-explore-title {
    font-weight: 500;
    font-size: 1.1em;
    text-align:center;
    margin:auto;
    padding:5px;
    color: black;
    background-color:#f5f5f5;
    width:90% !important;
    border:none;
}


.monarch-nav-embedded-image {
    width: 100%;
    padding:0;
    margin:auto;
    margin-top:4px;
    max-width:70px;
}

.monarch-nav-item-title {
    text-align:center;
    margin:auto;
    padding:0;
    width: 100%;
    color:black;
    font-weight: 500;
    border:3px solid transparent;
}

.monarch-tabber-on-item .monarch-nav-item-title {
    border-bottom:3px solid darkgray;
}

#monarch-home-container .monarch-home-splash {
    background-image: url(../image/home-splash.png) !important;
    margin:0;
    margin-bottom: 17.5px;
    padding:0;
    padding-top: 35px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 60px;
    height:114px;
}
.monarch-home-splash-text {
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    /* Attempt at outline. */
   /* -webkit-text-fill-color: white; */
   /* -webkit-text-stroke-width: 1px; */
   /* -webkit-text-stroke-color: black; */
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.monarch-tabber {
    margin:0;
    padding:0;
}
.monarch-tabber-controls {
    margin:0;
    padding:0;
}
.monarch-tabber-control {
    padding:0;
    margin: 0;
    width:20%;
    float:left;
}
.monarch-tabber-control-btn {
    padding: 0;
    margin: 0;
    font-size: 1.0em;
}

/* These are essentially overrides for btn-*. */
.monarch-tabber-on-item {
    background: none;
    color: #000;
    padding:0;
}
.monarch-tabber-off-item {
    padding:0;
    background: none;
    color: #000;
}
.monarch-tabber-on-item:hover {
    background-color: #e5e5e5;
    color: #000;
}
.monarch-tabber-off-item:hover {
    background-color: #e5e5e5;
    color: #000;
}


a.monarch-tabber-control-prev, a.monarch-tabber-control-next {
    position: absolute;
    top:0;
    left:10px;
    z-index: 1;
    display: inline-block;
    padding: 0;
    color: #fff;
    text-decoration: none;
    opacity: 0.5;
    cursor: pointer;
    width:25px;
}
a.monarch-tabber-control-prev:hover, a.monarch-tabber-control-next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}
a.monarch-tabber-control-prev {
}
a.monarch-tabber-control-next {
    left:initial;
    right: -12px;
}

.monarch-tabber-chevron {
  position: relative;
  padding: 0px;
  height:80px;
  width: 8px;
  margin:auto;
  margin-top:0px;
}

.monarch-tabber-chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: gray;
  -webkit-transform: skew(25deg, 0deg);
  -moz-transform: skew(25deg, 0deg);
  -ms-transform: skew(25deg, 0deg);
  -o-transform: skew(25deg, 0deg);
  transform: skew(25deg, 0deg);
}

.monarch-tabber-chevron:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  height: 50%;
  width: 100%;
  background: gray;
  -webkit-transform: skew(-25deg, 0deg);
  -moz-transform: skew(-25deg, 0deg);
  -ms-transform: skew(-25deg, 0deg);
  -o-transform: skew(-25deg, 0deg);
  transform: skew(-25deg, 0deg);
}


.monarch-tabber-left-chevron {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.monarch-tabber-right-chevron
{
}


#home_search{
    line-height:20px;
}

/* Datagraph */
.graph-container{
    position: relative;
    border-style:solid;
    border-width:1px;
    border-radius:4px;
    border-color:#ddd;
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);
    box-shadow:0 1px 1px rgba(0,0,0,0.05)
}
.configure input{
    vertical-align: bottom;
    position: relative;
    top: -1px;
}