// @import "monarch.scss";
@import "_prelude-patternfly.scss";
@import "_prelude.scss";
@import "../ui/style/main.scss";

// @import "~patternfly/dist/sass/_patternfly.scss";
// @import "~patternfly/dist/css/patternfly-additions.min.css";
@import "~bootstrap/scss/bootstrap";

@import '~jquery-ui/themes/base/all.css';

.wrapperforfooter {
  min-height: 100%;
  width: 100%;
  margin: ($navbar-height + 3) 0 2px 0;
  padding: 0;
}

.wrapperforfooter .container-fluid.monarch-container {
  height: 100%;
  width: 100%;
  margin: 0;
	padding: 0;
}

[v-cloak] {
  display: none;
}
