$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$navbar-height: 34px;
$grid-float-breakpoint: 900px;

@import "themes/monarchclassic/_variables.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "themes/monarchclassic/_bootswatch.scss";

// Themes:
// 		monarchclassic
//
// 		cerulean
// 		cosmo
// 		cyborg
// 		darkly
// 		flatly
// 		journal
// 		lumen
// 		paper
// 		readable
// 		sandstone
// 		simplex
// 		slate
// 		solar
// 		spacelab
// 		superhero
// 		united
// 		yeti


@import '~jquery-ui/themes/base/all.css';

@import "navbar.scss";

.wrapperforfooter {
	min-height: 100%;
	width: 100%;
    margin: ($navbar-height + 3) 0 2px 0;
    padding: 0;
}

.wrapperforfooter .container-fluid.monarch-container {
	height: 100%;
	width: 100%;
	margin: 0;
    padding: 0;
}

.content-bottom {
	border:5px solid red !important;
}

[v-cloak] {
display: none;
}
