/* Section 3: Content */
/* Description */
.jumbotron {
    border-radius: 2px;
    padding: 0px 30px 0px;
    margin-bottom: 20px;
    border-bottom: black solid 1px;
}
.jumbotron h1 {
    font-size: 30px;
}
p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0px;
}

.ids {
    margin-top: 5px;
    font-size: 15px;
    line-height: 22px;
}
/* Category Tabs */
#categories {
    margin-top: 35px;
    margin-bottom: -3px;
}
@media (max-width: 1170px) {
    #categories {
        margin-bottom: 10px;
    }
}
.tabcontainer {
    position: relative;
    display: inline-block;
}
.tabhover {
    position: absolute;
    bottom: 45px;
    font-size: 12px;
    line-height: 14px;
    width: 170px;
    left: 5px;
    display: none;
}
@media (min-width: 1170px) {
    .tab {
        display: inline-block;
        padding: 2px 15px;
        text-align: center;
        border-radius: 5px 5px 0px 0px;
        margin-right: 3px;
        font-weight: 400;
        cursor: pointer;
        font-size: 14px;
        border: black solid 1px;
    }
}
@media (max-width: 1170px) {
    .tab {
        display: inline-block;
        padding: 2px 15px;
        text-align: center;
        border-radius: 4px;
        margin-right: 5px;
        font-weight: 400;
        cursor: pointer;
        font-size: 14px;
        border: black solid 1px;
    }
}
.contenttab {
    background-color: #999;
    color: white;
}
.greyed-out {
    background-color: #DDD;
    color: #AAA;
}
#initialtab {
    color: black;
    background-color: white;
    border-bottom: 1px solid white;
}
#longtab {
    width: 120px;
}
#longertab {
    width: 140px;
}
@media (min-width: 1170px) {
    .second-row-divider {
        display: none;
    }
}
@media (max-width: 1170px) {
    .second-row-divider {
        margin-bottom: 35px;
    }
}
/* Rest of Content */
.category {
    padding-left: 30px;
    display: none;
}
.first {
    display: block;
}
.btn.btn-info {
    padding: 5px 10px;
    width: 80px;
}
.downloadline {
    display: inline-block;
}
.btn.btn-info.downloadline {
    margin-bottom: 10px;
    margin-left: 20px;
}
.source {
    height: 18px;
}
.inlinesource {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
/* Tables */
.table-condensed thead>tr>th {
    padding: 5px 15px 5px 3px;
}
.table-condensed tbody>tr>td {
    padding: 3px;
}
td {
    word-wrap: break-word;
}
/* Annotation Score Stars */
#annotationscore {
    margin-bottom: 10px;
    position: relative;
}
#annotationscore > span.annotatetext {
    margin-right: 10px;
    float: left;
}
span.stars, span.stars > * {
    display: inline-block;
    background: url(../image/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.stars > *{
    max-width:80px;
    background-position: 0 0;
}
#annotationscore > span.annotatequestion {
    margin-left: 10px;
    padding: 1px 6px;
    background-color: #53AED7;
    color: white;
    border-radius: 2px;
}
#annotationscore > span.annotatehelp {
    position: absolute;
    left: 285px;
    top: -5px;
    font-size: 12px;
    line-height: 12px;
    background-color: white;
    border: 1px solid #AAA;
    border-radius: 3px;
    padding: 5px 7px;
    display: none;
}
