html {
    width: auto;
    height: auto;
}

body#monarch-body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 0px;
}

p.bigfont {
    font-size: 16px;
    line-height: 26px;
}
.clear {
    clear: both;
}

#accordion .panel-title {
    color: #428bca;
    font-size: 18px;
}

.toggleitems > .fewitems {
    color: #EA763B;
    cursor: pointer;
}
.moreitems {
    display: none;
}
.toggleitems > .hideitems {
    color: #EA763B;
    display: none;
    cursor: pointer;
}

/* Logos */
/* These styles standardize the size of logos over all Monarch pages. */

#monarch-logo {
    height: 45px;
    float: left;
    margin-right: 20px;
}
#monarch-logo-horizontal {
    height: 50px;
}

.downloadline {
    display: inline-block;
}

/*
 node.mustache support
*/

#monarch-node .monarch-node-jumbotron {
    padding: 10px 15px 0 15px;
    margin: 0;
}


#monarch-node img.node-logo {
    margin: 0 0 0 0;
    padding: 0;
    height: 30px !important;
}

#monarch-node .node-type-label {
    margin: 5px 0 0 0;
    font-weight: 300;
    font-size: 1.1em;
    white-space: nowrap;
    padding: 0;
}

#monarch-node .node-label {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1.7em;
}

#monarch-node .node-content {
    display: block;
    height: 100%;
    width: 100%;
    margin:0;
}

#monarch-node .node-description {
    background: #f0f0f0;
    border-radius:3px;
    padding: 8px;
    margin: 5px 0;
    font-size: 1.1em;
    font-weight: 400;
}

#monarch-node .node-info {
    margin: 0;
    padding: 0 15px;
}

div#mygene-container {
    display: none;  /* hidden by default, revealed if data is obtained by fetchGeneDescription */
}

@media (max-width: 840px) {
#monarch-node .node-content {
    margin-top: 40px;
}
}


.btn.downloadline {
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 3px;
    margin-left: 5px;
}
.btn.downloadline-left {
    margin-left: 20px;
}

/* Footer */

#footer {
    color: #333;
    padding: 5px 10px;
    margin: 1px;
    text-align: left;
    font-weight: 200;
    font-size: 12px;
    color: black;
    line-height:1.3em;
    border-top:1px solid lightgray;
    background: #FAFAFA;
}

#footer div {
    clear: both;
    margin: 0;
    padding: 0;
}
#footer ul {
    margin: 0;
    padding: 0;
}

#footer ul li {
    margin: 0;
    padding-left: 20px;
    width: 50%;
    float:left;
    display:inline;
    font-weight: 300;
}

#footer.fadeable {
    color: white;
    transition: initial;
    -webkit-transition: initial;
    -moz-transition: initial;
}

#footer.fadeable:hover {
    color: #777;
}

/* Search Bar */

#monarch-body .ui-autocomplete {
    position:absolute;
    line-height: 22px;
    cursor:default;
    white-space: nowrap;
    font-size: 100%;
    color: #888888;
    z-index:8000 !important;
    padding: 0;
    background: #DDD;
    list-style-type: none;
    text-decoration: none !important;
}

#monarch-body .form-control.ui-autocomplete-input.ui-autocomplete-loading {
    background: white url('../image/waiting_ac.gif') 95% center no-repeat !important;
}

#monarch-body .ui-autocomplete .autocomplete-tag-item {
    white-space: nowrap;
    color: #888888;
}

.bbop-js-ui-hoverable{
    cursor: text;
}

.ui-score-spinner {
    background: white url('/image/waiting_ac.gif') right center no-repeat;
    padding-right: 15px;
}

/* Analyze Page */

.analyze-delete-button {
    cursor: pointer;
    color: white;
    background-color: red;
}
.example {
    font-size: 80%;
    font-weight: normal;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#monarch-home-container.monarch-container {
    margin: 0;
    padding: 0;
}

/* Alerts */
/* This is the styling for alerts about development that appear at the tops of dev
 * pages throughout the Monarch site. */

.monarch-container .top-alert
{
    position:absolute;
    right:5px;
    top:-1px;
    border: none;
    font-size: 0.8em;
    line-height: 0.9em;
    padding: 1px 10px 1px 10px;
    margin: auto;
}

/*
 * This is a common setting for the new BS3 base attempt.
 */

.branding-logo {
    height: 30px;
    width: 60px;
    margin: 0;
    margin-top: -4px;
    margin-left: -7px;
    margin-right: 5px;
    padding: 0;
}

/* BS3 Pager from bbop.live_pager widget */
.bs3pager .btn {
    margin-right: 2px;
    padding: 2px 12px;
}

.bs3pager-bottom .btn {
    margin-right: 2px;
    padding: 2px 12px;
}

/* BS3 Filter from bbop.live_filter widget */

.bs3filter .panel {
    margin-bottom: 10px;
}

.bs3filter .table .btn-xs {
    padding: 0px 6px 2px 6px;
}

.bs3filter .panel {
    padding: 0;
    border:3px solid lightgray;
    margin-bottom: 0px;
    margin-top: .08em !important;
}

.bs3filter .panel .panel-heading{
    padding:5px;
}

.bs3filter .panel .panel-heading .panel-title {
    font-size: 17px !important;
}

.bs3filter .panel .panel-heading .panel-title a {
    color: #337ab7;
}

.bs3filter .panel .panel-body {
    margin: 0;
    padding: 3px;
}

div.bs3filter {
}

div.bs3pager {
    padding: 0;
    margin: 0;
}

div.bs3table {
    margin: 0;
    padding: 0;
}

.monarch-container #results-area .row {
  padding:0;
  margin: 0;
}

.monarch-container #results-area .results-area-filter {
  padding:0;
  padding:0 5px 0 0;
  margin: 0;
}

.monarch-container #results-area .results-area-pager {
  padding:0;
  margin:0;
  padding:5px;
}

.monarch-container #results-area {
  word-wrap:break-word;
  padding: 0;
  margin: 0;
}

.monarch-container div#r3 {
  word-wrap:break-word;
  margin: 2px 0 0 0;
  padding: 0;
}

.monarch-container div.category #results-area {
  word-wrap:break-word;
  padding: 0;
  margin: 0;
  height: 100%;
}

.monarch-container #results-area table.table-condensed {
  padding:0;
  margin: 0;
  box-sizing: content-box;
  table-layout:fixed;
}
.monarch-container #results-area table.table-condensed thead>tr {
  padding:0;
  margin: 0;
  font-size:0.95em;
}
.monarch-container #results-area table.table-condensed tbody>tr {
  padding:0;
  margin: 0;
}


/*
    Begin Filter Hack

    The following 4 styles are used to work around the facts:
    1) Much of the Filter Results area of the #genes tab of the /phenotype page is constructed
        within BBOP
    2) CSS3 does not allow us to pick out a parent based upon its child.
    3) There is no CSS class associated with the text 'No current user filters.' and we want to be able to pad this text.

    So the hacky fix is to pad/widen/center the containing panel-body by default, so that when 'No current user filters.' and 'Nothing to filter.' are displayed they look right. But when they are replaced by <table> elements, there is an overriding style on the table that mostly undoes the effect of the pad/widen/center operation.

    I can't believe this works and suspect it may not work on all browsers.
*/

.filter-area .bs3filter > div > div {
    padding:0;margin:0;
}

#results-area .bs3filter .panel.panel-default .panel-body[id*="filter_ui_element_"] {
    padding: 5%;
    font-weight: 500;
    text-align: center;
}

#results-area .bs3filter .panel.panel-default .panel-body[id*="filter_ui_element_"] > table {
    margin: -5%;
    min-width:110%;
    font-weight: 400;
    text-align: left !important;
}

#results-area .bs3filter .panel.panel-default .panel-body[id*="filter_ui_element_"] > table > thead > tr > th:first-child {
    width:10%;
}

#results-area .bs3filter .panel.panel-default .panel-body[id*="filter_ui_element_"] > table > thead > tr > th:nth-child(2) {
    width:75%;
}


#results-area .bs3filter .panel.panel-default .panel-body[id*="subject_taxon_label"] {
    padding: 5%;
    margin: 0;
    font-weight: 500;
    text-align: center;
}

#results-area .bs3filter .panel.panel-default .panel-body[id*="subject_taxon_label"] > table {
    margin: -5%;
    min-width:110%;
    font-weight: 400;
    text-align: left;
}

#results-area .bs3filter .panel.panel-default .panel-body[id*="subject_taxon_label"] > table > tbody {
    font-size: 0.9em;
}

#results-area .bs3filter .panel.panel-default .panel-body[id*="subject_taxon_label"] > table > tbody > tr > td:first-child {
    width:50%;
}

#results-area .bs3filter .panel.panel-default .panel-body[id*="subject_taxon_label"] > table > tbody > tr > td:nth-child(2) {
    width:25%;
}
#results-area .bs3pager > div[id*="gen_id-bbop-html"] > div[id*="gen_id-bbop-html"]:first-child,
#results-area .bs3pager-bottom > div[id*="gen_id-bbop-html"] > div[id*="gen_id-bbop-html"]:first-child {
    width: 360px;
    margin: 0;
    padding: 4px;
    font-weight: 500;
}


#results-area .bs3pager > div[id*="gen_id-bbop-html"] > div[id*="gen_id-bbop-html"]:nth-child(2),
#results-area .bs3pager-bottom > div[id*="gen_id-bbop-html"] > div[id*="gen_id-bbop-html"]:nth-child(2) {
    /*width: 360px;*/
    padding: 5px;
    font-weight: 500;
}


#results-area .bs3table > table > tbody > tr > td {
    line-height: 1.3em;
}

#results-area .bs3table > table > tbody > tr > td:nth-last-child(2) {
    font-size: 0.9em;
}

#results-area #case-variant-table > table > tbody > tr > td:nth-last-child(2) {
    font-size: 14px !important;
}

#results-area #case-variant-table > table > thead > tr > th:nth-last-child(2) {
    min-width:60px !important;
    width:60px !important;
}

#results-area #case-variant-table > table > thead > tr > th {
    padding-left:5px;
    padding-right:5px;
}

#results-area .bs3table > table > thead > tr > th:nth-last-child(2) {
    min-width:120px;
    width:120px;
}
#results-area .bs3table > table > thead > tr > th:last-child {
    min-width:70px;
    width:70px;
}

/* End of Filter Hack */

/* BBOP overrides and additions */
.bbop-js-ui-browse {
    list-style-type: none;
    /* margin: 5px; */
    padding-left: 0;
}

.bbop-js-ui-browse li {
    margin-top: 2px;
}

.bbop-js-text-button-sim:hover {
    background-color: #BCE3F2 !important;
}

.sibling-form label {
    margin-left : 20px;
}

#overview .col-xs-12, #overview .col-sm-12, #overview .col-md-12, #overview .col-lg-4{
    padding-left: 0px;
    padding-top: 10px;
}


.sibling-form label {
    font-weight: normal;
}

/* Amigo Styling needed for golr views, need to update to fit the monarch site
 */

.hidden { visibility: hidden; }
.odd_row { background: #ffffff; }
.even_row { }
.crossed_row { background: #d3dff5; }
.nowrap { white-space: nowrap; }
.dark-cell { background-color: #cddcf3; }
.light-cell { background-color: #ffffff; }
em.hilite {
    font-weight: bold;
    font-style: normal;
}


.qualifier-not {
    padding: 2px;
    /* background: #fff; */
    border: 1px solid #F00;
    color: #F00;
    font-weight: bold;
}

.amigo-logo-img-link {
    float: left;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.amigo-logo-img {
    height: 45px;
}

/*
 * Pad out the landing box to make it a little more appealing.
 */
.amigo-landing-img {
    /* margin-right: 5px; */
    /* margin-bottom: 5px; */
}

/* .amigo-facet-matrix-bookmark-list { */
/* } */

/*
 * Wrapper for the new standard informational rollup sections.
 */
.amigo-ui-rollup-info {
}
.amigo-ui-rollup-info h3 a {
    border-bottom-style: dotted;
    /* border-bottom-style: solid; */
}
.amigo-ui-rollup-info div {
    background-color: #eeeeee;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}
.amigo-ui-rollup-header {
}

/*
 * Some work on the ubiquitous search header.
 */
.amigo-autocomplete-explanation-info {
    text-align: left;
}

/*
 * Hints from AmiGO 2 for internal and external terms in anchors.
 * May be added in amigo.linker.
 */
.amigo-ui-term-internal {
    /* background-color: green; */
}
.amigo-ui-term-external {
    background-color: #ffffab;
    border: 1px solid #ffa000;
    /* background-color: #ddddcc; */
    /* outline: solid 1px yellow; */
}

.amigo-ui-progress-label {
    position: absolute;
    left: 50%;
    /* margin-top: 0; */
    /* top: 4px; */
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

/* A special fix on some pages to prevent the usual margins from
 * throwing off some UI elements (see the progress bar in Facet Matrix).
 */
.amigo-ui-margin-top-zero { margin-top: 0; }
.amigo-ui-margin-top-zero div { margin-top: 0; }
.amigo-ui-margin-top-zero div div { margin-top: 0; }

/*
 * BS3 overrides.
 */

/* Allow wider layouts for search than bs3's default. */
.amigo-ui-wide-max {
    max-width: 1800px;
    /* WARNING: while this addition prevents some weirdness in sizing at
       different levels (e.g. no snapping to size at different screen
       sizes), but I'm worried that it may cause other layout issues
       elsewhere. Keep an eye out for situations where the top-level
       container is not off. */
    width: auto;
}

.page-header { text-align: center; }
.page-header { text-align: center; }
.page-header { text-align: center; }
.amigo-detail-info dt { width: 80px; }
.amigo-detail-info dd { margin-left: 90px; }
.amigo-detail-tab-spacer { margin-top: 1em; }
.amigo-searchbar-tooltip-style {
    font-size: 80%;
    color: #2d6987;
    background: #d9edf7;
    background-color: #d9edf7;
    border-color: #bce8f1;
    /* margin-right: 1em; */
}

/* Turn down the jumbotron from 11. */
.amigo-jumbotron-override {
    /* padding-bottom: 32px; */
    /* padding-top: 32px; */
    padding-bottom: 5px;
    padding-top: 5px;
}
.amigo-jumbotron-override .lead {
    font-size: 16px;
}

.main-content {
  background-color:#EEEEEE;
}


.beta-badge {
    margin-left: 5px;
    font-size: 10px;
    color: #d9534f !important;
}

.pheno-info {
    vertical-align:text-top;
}


.links-page .section {
    padding-top: 0;
}


.links-page .section th,
.links-page .section td {
    padding: 3px 5px;
}


.graph-container,
.disease-gene-container,
.disease-pheno-container,
.pheno-geno-container,
.gene-disease-container,
.dove-container
 {
    position: relative;
    border:1px solid lightgray;
    border-radius: 4px;
}



/* jqueryUI autocomplete widget control
 */

#monarch-body .ui-widget-content {
    border: 1px solid #dddddd;
    background: #eeeeee;
    color: #333333;
    padding: 1px;
}
#monarch-body .ui-widget-content a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 0 3px;
}

#monarch-body .ui-state-active,
#monarch-body .ui-widget-content .ui-state-active,
#monarch-body .ui-widget-header .ui-state-active {
    border: 1px solid lightblue;
    background: ghostwhite;
}


/* phenogrid Info Box */

#monarch-body .ui-widget-content {
    border: 1px solid #dddddd;
    background: white;
    color: #333333;
}

#monarch-body .ui-widget-header {
    border: 1px solid #e78f08;
    background: #f6a828;
    color: #ffffff;
    font-weight: bold;
}
#monarch-body .ui-widget-header a {
    color: #ffffff;
}
