/**
 * CSS for items still in labs.
 */

.bbop-js-spinner {
    height: 18px;
}
.bbop-js-spinner-hidden {
    visibility: hidden;
    display: none;
}

/**
 * Data Graph
**/

.graph-container{
    position: relative;
    background-color: #EBEBEB;
}

#graph {
    margin: 0px 0px 0px 300px;
    padding: 50px 0px 0px 0px;
}
.title{
	margin-left: 480px;
	font-size : 25px;
	font-weight: bold;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}