/* Section 0: General */
html, body {
    height: 100%;
}
p {
    font-family: Helvetica, Arial, sans-serif;
}
/* Info Buttons */
.btn-info {
    background-color: #53AED7;
    border-color: #53AED7;
}

/* Section 1: Navbar */
@media (min-width: 815px) {
    .monarch-navbar-container {
        padding: 0px 10px;
    }
}
@media (min-width: 768px) {
    .navbar {
        min-height: 30px;
    }
    .nav>li>a {
        padding: 0px;
    }
    .dropdown-toggle {
        margin: 5px 10px 5px 10px;
    }
    .dropdown {
        padding: 4px 0px 0px;
    }
    .navbar-brand {
        padding: 8px 20px 0px 20px;
    }
    .navbar-link {
        font-size: 14px;
    }
    .navbar-text {
        margin-top: 2px;
        margin-bottom: 2px;
        font-weight: 400;
        margin-right: 5px;
    }
    .searchspace {
        float: right;
    }
    .form-group {
        margin-bottom: 0px;
    }
    .form-control {
        padding: 0px 10px;
        height: 28px;
        border-radius: 2px;
    }
}
@media (max-width: 800px) {
    .monarch-navbar-container {
        margin: 0px -3px;
    }
    .navbar-brand {
        padding: 8px 10px 0px 20px;
    }
}
@media (max-width: 767px) {
    .navbar-brand {
        padding: 15px;
    }
}
/* Section 2: Sidebar/Navlist */
.sidebar {
    display: inline-block;
    height: 100%;
    position: fixed;
    left: 0px;
    border-right: 1px solid black;
    width: 155px;
    padding: 15px 0px 0px 20px;
    background-color: white;
    z-index: 10;
}
@media (max-width: 768px) {
    .sidebar {
        padding: 20px 0px 0px 20px;
    }
}
.nav.nav-list {
    margin-top: 10px;
}
.nav-header {
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
}

/* Section 3: Content */
.monarch-container {
    padding: 40px 20px 0px 155px;
    padding-right: 20px;
    height: 100%;
}
.content {
    display: inline-block;
    height: 100%;
}

/* Footer */
#footer {
    clear: both;
    padding: 10px 40px 10px;
    text-align: center;
    font-weight: 200;
    font-size: 12px;
}
@media (min-width: 1110px) {
    .wrapperforfooter {
        min-height: 100%;
        padding-bottom: 80px;
    }
    #footer {
        margin-top: -80px;
    }
}
@media (max-width: 1110px) {
    .wrapperforfooter {
        min-height: 100%;
        padding-bottom: 90px;
    }
    #footer {
        margin-top: -90px;
    }
}
@media (max-width: 840px) {
    .wrapperforfooter {
        min-height: 100%;
        padding-bottom: 110px;
    }
    #footer {
        margin-top: -110px;
    }
}

/* Search Bar */
#search {
    width: 180px;
}
.autocomplete-tag-item {
    white-space: nowrap;
    font-size: 75%;
    color: #888888;
}
/* Get a spinner for jQuery autocomplete wait. */
.ui-autocomplete-loading {
    background: white url('/image/waiting_ac.gif') right center no-repeat;
} 

/* Analyze Page */
.analyze-delete-button {
    cursor: pointer;
    color: white;
    background-color: red;
}
