/* Section 0: General */
p {
    font-family: Helvetica, Arial, sans-serif;
}
/* Info Buttons */
.btn-info {
    background-color: #53AED7;
    border-color: #53AED7;
}
/* Footer */
#footer {
    clear: both;
    padding: 20px 40px 0px;
    text-align: center;
    font-weight: 200;
}

/* Section 1: Navbar */
.navbar {
    min-height: 30px;
}
.nav>li>a {
    padding : 0px;
}
.dropdown-toggle {
   margin: 5px 10px 5px 10px;
}
.dropdown {
    padding: 4px 0px 0px;
}
.navbar-brand {
    padding: 8px 30px 0px 20px;
}
.navbar-link {
    font-size: 14px;
}
.navbar-text {
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 400;
    margin-right: 5px;
}
#spacer {
    height: 35px;
}

/* Section 2: Sidebar */
.sidebar {
    display: inline-block;
    float: left;
    height: 100%;
    position: fixed;
    border-right: 1px solid black;
    width: 130px;
    padding-top: 20px;
}
.nav.nav-list {
    margin-top: 10px;
}
/* Search Bar */

#search {
    width: 200px;
}

/* Search Button */
.btn.btn-primary {
    padding: 4px 51px;
    font-size: 13px;
    margin-top: 3px;
}
.nav-header {
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
}

/* Section 3: Content */
.content {
    display: inline-block;
    margin-left: 130px;
    margin-bottom: 20px;
}

/* Analyze Page */
.analyze-delete-button {
    cursor: pointer;
    color: white;
    background-color: red;
}
