body {
  padding-top: 70px; /* Body padding for fixed navbar */
}

.graph-container{
    position: relative;
    width: 826px;
    float:left;
    border-style:solid;
    border-width:1px;
}
.disease-container{
    position: relative;
    width: 826px;
    float:left;
    border-style:solid;
    border-width:1px;
}
.disease-pheno-container{
    position: relative;
    width: 826px;
    float:left;
    border-style:solid;
    border-width:1px;
}
.pheno-geno-container{
    position: relative;
    width: 826px;
    float:left;
    border-style:solid;
    border-width:1px;
}

