/* This file controls all main pages (disease, phenotypes, genes, genotype/model).
 * Every main page should reference this file. Use it to customize the main spotlight
 * and the content layout. */

/* Main Spotlight */


/*#monarch-logo {
    margin-right: 20px;
}
*/
.btn-monarch-main {
    padding: 10px 15px;
    font-weight: 400;
    font-size: 14px;
}

/* Rest of Content */
/* This overrides Bootstrap content styles. */

.ui-autocomplete {
    position:absolute;
    cursor:default;
    z-index:4000 !important
}
.bbop-js-ui-hoverable{
	cursor: text;
}
