body {
  /* padding-top: 50px; /* Body padding for fixed navbar */
}

.graph-container{
    position: relative;
    border-style:solid;
    border-width:1px;
}
.disease-gene-container{
    position: relative;
    border-style:solid;
    border-width:1px;
}
.disease-pheno-container{
    position: relative;
    border-style:solid;
    border-width:1px;
}
.pheno-geno-container{
    position: relative;
    border-style:solid;
    border-width:1px;
}
.dove-container{
    position: relative;
    border-style:solid;
    border-width:1px;
    margin:0;padding:0;
}
.gene-disease-container{
    position: relative;
    border-style:solid;
    border-width:1px;
}

