/* This file controls all styling on disease, phenotype, gene, or genotype/model specific
 * pages. Every specific data page should link to this stylesheet. */

/* Description */
/* This styles the jumbotron (information spotlight) at the top of all specific pages. */

.jumbotron {
    border-radius: 2px;
    padding: 0px 30px 0px;
    margin-bottom: 20px;
    border-bottom: black solid 1px;
}
.jumbotron h1 {
    font-size: 30px;
}
#monarch-logo {
    margin-top: 10px;
    margin-right: 20px;
}
p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0px;
}
.ids {
    margin-top: 5px;
    font-size: 15px;
    line-height: 22px;
}

/* Category Tabs */
/* This styles the tab bar, individual tabs, and tooltip hovers. */

#categories {
    margin-top: 10px;
    margin-bottom: -3px;
}
.tabcontainer {
    display: inline-block;
}
.tabhover {
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    display: none;
    background-color: white;
    padding: 2px 5px;
    border: 1px solid black;
    max-width: 150px;
    z-index: 10;
}
.tab {
    display: inline-block;
    padding: 2px 12px;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    margin-right: 2px;
}
#initialtab {
    color: black;
    background-color: white;
    border-bottom: 1px solid white;
}
.contenttab {
    background-color: #999;
    color: white;
}
.greyed-out {
    background-color: #DDD;
    color: #AAA;
}

/* Rest of Content */
/* This styles the content within tab categories. */

#complete-info {
    padding: 0px 30px;
}
.category {
    display: none;
}
.first {
    display: block;
}
.source {
    height: 18px;
}
.inlinesource {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* Tables */

.table-condensed thead>tr>th {
    padding: 5px 15px 5px 3px;
}
.table-condensed tbody>tr>td {
    padding: 3px;
}
td {
    word-wrap: break-word;
}

/* Annotation Score Stars */
/* This styles the stars that appear on some tabs to demonstrate the annotation
 * sufficiency score of some data. For example, there are stars on the phenotype
 * tab of the disease specific pages. */

#annotationscore {
    margin-bottom: 10px;
    position: relative;
}
#annotationscore > span.annotatetext {
    margin-right: 10px;
    float: left;
}
span.stars, span.stars > * {
    display: inline-block;
    background: url(../image/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.stars > *{
    max-width:80px;
    background-position: 0 0;
}
#annotationscore > span.annotatequestion {
    margin-left: 10px;
    padding: 1px 6px;
    background-color: #53AED7;
    color: white;
    border-radius: 2px;
}
#annotationscore > span.annotatehelp {
    position: absolute;
    left: 285px;
    top: -5px;
    font-size: 12px;
    line-height: 12px;
    background-color: white;
    border: 1px solid #AAA;
    border-radius: 3px;
    padding: 5px 7px;
    display: none;
}

/* Literature Pages & Tabs */

.littabmoreauthors > .etal {
    color: #53AED7;
    cursor: pointer;
}
.moreauthors {
    display: none;
}
.littabmoreauthors > .hideauthors {
    color: #53AED7;
    display: none;
    cursor: pointer;
}


/* Analyze */

#analyze-profile > ul#analyze_auto_list > li.list-group-item {
    background-color: #acd8ec;
}
#analyze-profile > ul#analyze_auto_list > li#analyze-empty-item {
    background-color: white;
}

/* About */

figure {
    display:table;
    padding: 15px;
}

.panel-body {
    overflow: hidden;
}

.right {
  float:right;
}

.left {
  float:left;
}
.center {
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
    text-align:center;
}

.bottomright {
    float:right;
    position:relative;
    bottom:0;
    right:0;
}

figcaption {
    text-align:justify;
    font-size:12px;
    word-wrap:normal;
    display:table-caption;
    caption-side: bottom;
    padding: 0 10px 5px;
    line-height: 16px;
}

.collab-table {
  table-layout: fixed;
  width: 100%;
}

.collab-table td {
  width: 125px;
  vertical-align: middle;
  text-align: center;
}

.collab-table img {
    margin-left: auto;
    margin-right: auto;
    max-height: 125px;
    max-width: 125px;
    padding: 5px 20px"
}

.no-results{
	font-size:16px;
}

/* Global Ajax */

/* spinner code from http://tobiasahlin.com/spinkit */
#spinner {
	display:none;
    width: 50%;
    margin: 0 auto;
}

.cube1, .cube2 {
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 100;
  left: 300;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
