/* This file controls the elements common to all monarch pages. Every webpage
 * references this file. Use it to style the navbar, buttons, colors. */

/* General Styles */

html, body {
    height: 100%;
}
p {
    font-family: Helvetica, Arial, sans-serif;
}
.clear {
    clear: both;
}



/* Navbar */
/* These are navbar styles that depend heavily on media queries to determine the
 * width of the user's browser window. Make sure that you are adding styles to the
 * correct media query section.
 *
 * The default Bootstrap behavior makes the navbar quite different from regular
 * browser width to smaller (e.g. smartphone browsers). */

.navbar.monarch-navbar {
    padding:0;
    padding-left: 5px;
    padding-right: 5px;
    margin:0;
}

@media (min-width: 815px) {
    .monarch-navbar-container {
        padding: 0px 10px;
    }
}
@media (min-width: 768px) {
    .navbar {
        min-height: 30px;
    }
    .nav>li>a {
        padding: 0px;
    }
    .dropdown-toggle {
        margin: 5px 10px 5px 10px;
    }
    .dropdown {
        padding: 4px 0px 0px;
    }
    .navbar-brand {
        padding: 8px 20px 0px 20px;
    }
    .navbar-link {
        font-size: 14px;
    }
    .navbar-text {
        margin-top: 2px;
        margin-bottom: 2px;
        font-weight: 400;
        margin-right: 5px;
    }
    .searchspace {
        float: right;
    }
    .input-group {
        margin-bottom: 0px;
    }
    .form-control {
        padding: 0px 10px;
        height: 28px;
        border-radius: 2px;
    }
    .nav-search-btn{
        width:auto;
    }
    .input-group-btn .btn {
        padding: 0px 10px;
        height: 28px;
        border-radius: 2px;
    }
    #search {
        width: 180px;
        font-size: 13px;
    }
}
@media (max-width: 800px) {
    .monarch-navbar-container {
        margin: 0px -3px;
    }
    .navbar-brand {
        padding: 8px 5px 0px 20px;
    }
}
@media (max-width: 768px) {
    .navbar-brand {
        padding: 15px;
    }
    .nav.navbar-nav {
        margin: 0px 0 10px;
    }
    .nav>li>a {
        padding: 5px 10px;
        margin: 0 10px;
        border-radius: 0px;
    }
    .navbar-nav>li>.dropdown-menu {
        margin-top: 0px;
        margin-left: 10px;
    }
    .navbar-form {
        margin-top: 0px;
    }
    #search_form{
        width: 90%;
    }
    #search { 
        margin: 0 20px;
        font-size: 13px;        
    }
}

/* Content Containers */

@media (min-width: 768px) {
    .monarch-container {
        padding: 40px 0px 0px;
        height: 100%;
    }
}
@media (max-width: 768px) {
    .monarch-container {
        padding: 50px 0px 0px;
        height: 100%;
    }
    
    .input-group-btn .btn {
        padding: 5px 10px;
        line-height: 26px;
        border-radius: 2px;
    }
}
.content {
    display: inline-block;
    height: 100%;
}

.toggleitems > .fewitems {
    color: #EA763B;
    cursor: pointer;
}
.moreitems {
    display: none;
}
.toggleitems > .hideitems {
    color: #EA763B;
    display: none;
    cursor: pointer;
}

/* Logos */
/* These styles standardize the size of logos over all Monarch pages. */

#monarch-logo {
    height: 45px;
    float: left;
}
#monarch-logo-horizontal {
    height: 50px;
}

/* Colors */

/* This blue color is used on Monarch pages and buttons that are _not_ related to the
 * four core types of pages: diseases, phenotypes, genes, and genotypes.
 * For example, the analyze phenotypes page's search button uses monarch-blue. */
.monarch-blue {
    background-color: #53AED7;
}
/* This monarch-blue-light is an alternative blue color that is lighter and used for
 * non-category specific pages/buttons. */
.monarch-blue-light {
    background-color: #acd8ec;
}

/* This light brown color is used for jumbotron content related to disease pages.
 * For example, it is use for the disease spotlight on the disease main page and
 * for disease information on disease specific pages. */
.monarch-disease-light {
    background-color: #ECE8E3;
}
/* This darker brown color is used for the buttons related to disease pages. */
.monarch-disease-dark {
    background-color: #d0bda1;
}

/* This light blue color is used for jumbotron content related to phenotype pages.
 * For example, it is use for the phenotype spotlight on the phenotype main page and
 * for phenotype information on phenotype specific pages. */
.monarch-phenotype-light {
    background-color: #dcf7f9;
}
/* This darker blue color is used for the buttons related to phenotype pages. */
.monarch-phenotype-dark {
    background-color: #72d5f5;
}

/* This light green color is used for jumbotron content related to gene pages.
 * For example, it is use for the gene spotlight on the gene main page and for gene
 * information on gene specific pages. */
.monarch-gene-light {
    background-color: #dbebe8;
}
/* This darker green color is used for the buttons related to gene pages. */
.monarch-gene-dark {
    background-color: #44A293;
}

/* This light orange color is used for jumbotron content related to genotype/model pages.
 * For example, it is use for the model spotlight on the model main page and for model
 * information on model specific pages. */
.monarch-model-light {
    background-color: #F4EEEB;
}
/* This darker orange color is used for the buttons related to model pages. */
.monarch-model-dark {
    background-color: #EA763B;
}

/* This light color is used for jumbotron content related to literature pages. */
.monarch-literature-light {
    background-color: #fff6c4;
}
/* This darker color is used for the buttons related to literature pages. */
.monarch-literature-dark {
    background-color: #ffd700;
}

/* This color is lighter than monarch-model-dark and is used for the feedback button
 * located throughout the site. */
.monarch-feedback-dark {
    background-color: #AAA;
}

/* Buttons */
/* These styles override some bootstrap button styles to make the buttons slimmer
 * and less skeuomorphic. */

.btn {
    padding: 5px 15px;
}
.btn-info {
    background-color: #53AED7;
    border-color: #53AED7;
}
.downloadline {
    display: inline-block;
}
.btn.downloadline {
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 3px;
    margin-left: 5px;
}
.btn.downloadline-left {
    margin-left: 20px;
}

/* Footer */

#footer {
    clear: both;
    padding: 10px 40px 10px;
    text-align: center;
    font-weight: 200;
    font-size: 12px;
    color: #777;
}

#footer.fadeable {
    color: white;
    transition: initial;
    -webkit-transition: initial;
    -moz-transition: initial;
}

#footer.fadeable:hover {
    color: #777;
}

.wrapperforfooter {
    min-height: 100%;
}

/* Search Bar */

.autocomplete-tag-item {
    white-space: nowrap;
    font-size: 75%;
    color: #888888;
}
/* Get a spinner for jQuery autocomplete wait. */
.ui-autocomplete-loading {
    background: white url('/image/waiting_ac.gif') right center no-repeat !important;
}

.ui-score-spinner {
    background: white url('/image/waiting_ac.gif') right center no-repeat;
    padding-right: 15px;
}

.form-control {
    padding: 5px 10px;
    line-height: 13px;
    border-radius: 2px;
}

/* Analyze Page */

.analyze-delete-button {
    cursor: pointer;
    color: white;
    background-color: red;
}
.example {
    font-size: 80%;
    font-weight: normal;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/* Alerts */
/* This is the styling for alerts about development that appear at the tops of dev
 * pages throughout the Monarch site. */
 
.alert {
    margin: 0px;
    padding: 0px 20px;
    border: 1px solid black;
    border-radius: 0px 0px 3px 3px;
    border-top: none;
}

/*
 * This is a common setting for the new BS3 base attempt.
 */

.branding-logo {
    height: 30px;
    width: 60px;
    margin: 0;
    margin-top: -3px;
    margin-left: -5px;
    margin-right: 4px;
    padding: 0;
}

.navbar-brand {
    font-size: 18px;
    margin-top: -2px;
}

/* BS3 Pager from bbop.live_pager widget */
.bs3pager .btn {
	margin-right: 2px;
	padding: 2px 12px;
}

.bs3pager-bottom .btn {
    margin-right: 2px;
    padding: 2px 12px;
}

/* BS3 Filter from bbop.live_filter widget */
.bs3filter .well-sm {
    padding: 7px;
    margin-bottom: 10px;
   /* display: none; */
}

.bs3filter .panel {
    margin-bottom: 10px;
}

.bs3filter .table .btn-xs {
    padding: 0px 6px 1px 6px;
}

.bs3filter .panel-group .panel {
    margin-bottom: 3px;
}

.bs3filter .panel-group .panel .panel-heading{
    margin: -15px -15px -15px;
}

.bs3filter .panel-group .panel .panel-heading .panel-title{
    font-size: 17px;
}

.bs3filter .panel-group .panel .panel-collapse .panel-body{
    padding-top: 30px;
}

/* BBOP overrides and additions */
.bbop-js-ui-browse li {
	margin-top: 2px;
}

.bbop-js-text-button-sim:hover {
    background-color: #BCE3F2 !important;
}

.sibling-form label {
    margin-left : 20px;
}

#overview .col-xs-12, #overview .col-sm-12, #overview .col-md-12, #overview .col-lg-4{
	padding-left: 0px;
	padding-top: 10px;
}


.sibling-form label {
	font-weight: normal;
}

/* Amigo Styling needed for golr views, need to update to fit the monarch site
 */
 
.hidden { visibility: hidden; }
.odd_row { background: #ffffff; }
.even_row { }
.crossed_row { background: #d3dff5; }
.nowrap { white-space: nowrap; }
.dark-cell { background-color: #cddcf3; }
.light-cell { background-color: #ffffff; }
.hilite {
    border: 1px dotted #000;
    color: #000;
    background: #A9FFA1;
    /* background: #ff0; */
    padding: 0 1px;
}
.qualifier-not {
    padding: 2px;
    /* background: #fff; */
    border: 1px solid #F00;
    color: #F00;
    font-weight: bold;
}
a:hover .hilite, a:active .hilite {
    color: #fff;
    background: #3875D7;
/* border: none; border: 1px solid #3875D7; */
}

/* Sideways...really? You bet! */
/* In order: FF, Safari, IE, Opera */
/* .climbing { */
/*     -moz-transform: rotate(-90deg); */
/*     -webkit-transform: rotate(-90deg); */
/*     filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); */
/*     -o-transform: rotate(-90deg); */
/* } */

/* Cart. */
/* .cart-rules { */
/*     font-weight: bold; */
/*     position: fixed; */
/*     right: -2.5em; */
/*     bottom: 2em; */
/*     background-color: #cddcf3; */
/*     border-style: solid; */
/*     border-width: 2px; */
/*     border-color: #3875d7; */
/*     padding: 0.5em; */
/*     padding-bottom: 3em; */
/* } */
/* .cart-image { */
/*     width: 32px; */
/*     height: 25px; */
/* } */

.amigo-logo-img-link {
    float: left;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.amigo-logo-img {
    height: 45px;
}

/*
 * Pad out the landing box to make it a little more appealing.
 */
.amigo-landing-img {
    /* margin-right: 5px; */
    /* margin-bottom: 5px; */
}

/* .amigo-facet-matrix-bookmark-list { */
/* } */

/*
 * Wrapper for the new standard informational rollup sections.
 */
.amigo-ui-rollup-info {
}
.amigo-ui-rollup-info h3 a {
    border-bottom-style: dotted;
    /* border-bottom-style: solid; */
}
.amigo-ui-rollup-info div {
    background-color: #eeeeee;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}
.amigo-ui-rollup-header {
}

/*
 * Some work on the ubiquitous search header.
 */
.amigo-autocomplete-explanation-info {
    text-align: left;
}

/*
 * Hints from AmiGO 2 for internal and external terms in anchors.
 * May be added in amigo.linker.
 */
.amigo-ui-term-internal {
    /* background-color: green; */
}
.amigo-ui-term-external {
    background-color: #ffffab;
    border: 1px solid #ffa000;
    /* background-color: #ddddcc; */
    /* outline: solid 1px yellow; */
}

.amigo-ui-progress-label {
    position: absolute;
    left: 50%;
    /* margin-top: 0; */
    /* top: 4px; */
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

/* A special fix on some pages to prevent the usual margins from
 * throwing off some UI elements (see the progress bar in Facet Matrix).
 */
.amigo-ui-margin-top-zero { margin-top: 0; }
.amigo-ui-margin-top-zero div { margin-top: 0; }
.amigo-ui-margin-top-zero div div { margin-top: 0; }

/*
 * BS3 overrides.
 */

/* Allow wider layouts for search than bs3's default. */
.amigo-ui-wide-max {
    max-width: 1800px;
    /* WARNING: while this addition prevents some weirdness in sizing at
       different levels (e.g. no snapping to size at different screen
       sizes), but I'm worried that it may cause other layout issues
       elsewhere. Keep an eye out for situations where the top-level
       container is not off. */
    width: auto;
}
.navbar { z-index: 100; } /* Default of 1000 interferes with popups etc. */
.navbar { padding: 3px;}
.page-header { text-align: center; }
.page-header { text-align: center; }
.page-header { text-align: center; }
.amigo-detail-info dt { width: 80px; }
.amigo-detail-info dd { margin-left: 90px; }
.amigo-detail-tab-spacer { margin-top: 1em; }
.amigo-searchbar-tooltip-style {
    font-size: 80%;
    color: #2d6987;
    background: #d9edf7;
    background-color: #d9edf7;
    border-color: #bce8f1;
    /* margin-right: 1em; */
}

/* Turn down the jumbotron from 11. */
.amigo-jumbotron-override {
    /* padding-bottom: 32px; */
    /* padding-top: 32px; */
    padding-bottom: 5px;
    padding-top: 5px;
}
.amigo-jumbotron-override .lead {
    font-size: 16px;
}
