#monarch-navbar .searchspace {
    margin: 0;
    margin-top:3px;
    padding: 0;
}

#search {
    margin: 0;
    margin-left: 2px;
    margin-right: 5px;
    width:180px;
    font-size: 13px;
    height:30px;
}

#monarch-navbar .nav-search-btn {
    padding: 0px 10px;
    font-weight:500;
    width:40px;
    height: 30px;
    margin:0;
    margin-left:-3px;
}

#monarch-navbar.navbar {
    min-height: 36px;
    max-height: 36px;
}
#monarch-navbar .nav>li>a {
    padding: 0px;
}
#monarch-navbar .dropdown-toggle {
    margin: 5px 10px 5px 10px;
}
#monarch-navbar .dropdown {
    padding: 4px 0px 0px;
}
#monarch-navbar .navbar-brand {
    padding: 8px 20px 0px 20px;
}
#monarch-navbar .navbar-link {
    font-size: 14px;
}
#monarch-navbar .navbar-text {
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 400;
    margin-right: 5px;
}



#feedback-window-container {

}

#feedback-window-container #simple-menu.dropdown-menu.simple-menu.modal.ui-draggable {
  box-shadow: none;
}

#feedback-window-container .form-group {
  margin: 0;
  padding: 0;
}

#feedback-window-container .form-group label {
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

#feedback-window-container .form-group textarea {
  margin: 0;
  //padding: 0;
  border:1px solid black;
}

#feedback-window-container .form-group .checkbox label {
  margin: 0;
  padding: 0;
}


#feedback-window-container .form-group .checkbox span {
  margin: 0;
  padding: 0;
}

.feedback-close {
  margin-top:3px;
  margin-right:-15px;
}

.feedback-drag-instructions {
    margin:0;
    margin-left:20% !important;
    margin-right:20% !important;
    font-size:0.8em;
    font-weight:500;
    font-style: italic;
    text-align:center;
    margin:auto;
    //background-color: white;
}

#feedback-window-container .modal
{
    overflow: hidden;
}

#feedback-window-container .modal-dialog{
    position:relative;
    margin: auto;
    margin-right: 0;
    margin-left: 0;
    width:100%;
    border:none;
}

#alert_template {
    border:2px solid darkgray;
    border-radius: 10px;
}

#alert_template #feedback-response {
    text-align: center;
    font-weight: 500;
    color: black;
}

/*#monarch-navbar .navbar-brand {
    height: 35px;
    padding: 9px 10px 0px 14px;
    font-size: 18px;
    font-weight: 500;
    margin:0;
    margin-left:-17px;
    margin-top:-2px;
}
*/

#monarch-navbar #feedback-main {
  border:4px solid darkgray !important;
  border-radius: 15px !important;
  padding:20px;
  padding-top: 0;
  margin: auto;
  background: #EEEEEE;
}

#monarch-navbar #feedback-trigger {
  // height:30px;
  // margin: 0;
  padding: 0;
  background: transparent;
  color: $navbar-inverse-color; // #43A395;
  font-weight: 500;
  text-decoration: none;
}

#monarch-navbar #feedback-trigger:hover {
  color: $navbar-inverse-brand-hover-color;
  background-color: $navbar-inverse-brand-hover-bg;

}


#monarch-navbar #feedback-handle {
  margin: auto;
  padding: 0;
}


#monarch-navbar #feedback-window-container.dropdown ul.simple-menu {
  position: fixed;
  width: 90%;
  padding: 0 !important;
  margin:auto !important;
  top: 50px;
  border: none;
  background: transparent;
}


@media (max-width: $grid-float-breakpoint) {
    #monarch-navbar .collapse.in #feedback-trigger {
        margin:2px 0 6px 9px;
    }

    #monarch-navbar #search {
        width:250px;
        margin:5px 0 5px 15px;
    }

    #monarch-navbar .nav-search-btn {
        margin:5px 0 0 5px;
    }

    #collapsed-navbar {
        background-color: #222; /* @navbar-inverse-bg */
        height:100%;
        padding:1px;
    }

    .navbar-brand {
        padding-left: 40% !important;
        margin:auto !important;
    }

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        background-color: #222; /* @navbar-inverse-bg */
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        background-color: transparent !important;
        margin: 0 5px 0 5px;
    }
    .navbar .navbar-right.navbar-form {
        margin: 0;
    }
    .navbar .navbar-right.navbar-form#search_form {
        border: none;
        margin: 0;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
      overflow: visible;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}
