/* Section 3: Content */
.content {
    display: inline-block;
    margin-left: 160px;
    padding: 20px 0px 40px 40px;
    width: 80%;
}
.title {
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
}
