/* Section 3: Content */
.content {
    padding: 20px 0px 0px 30px;
}
.title {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
}
.results {
    margin: 10px 0px;
}
.btn.btn-info {
    padding: 5px 15px;
}
#target {
    margin-left: 15px;
}
