
.search-results-count{
margin-left:5px;
margin-bottom:10px;
font-weight:bold;
}

/* ---- filter button ---- */

.search-results-button {
width:220px;
display: block;
padding: 5px 10px;
background: #EEE;
border: none;
border-radius: 7px;
background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
color: #222;
font-family: sans-serif;
text-align:left;
text-shadow: 0 1px white;
cursor: pointer;
}

.search-results-button:hover {
background-color: #8CF;
text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
color: #222;
}

.search-results-button:active,
.search-results-button.is-checked {
background-color: #28F;
}

.search-results-button.is-checked {
color: white;
text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.search-results-button:active {
box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.search-results-button-group:after {
content: '';
display: block;
clear: both;
margin-bottom:10px;
}

.search-results-button-group .search-results-button {
float: left;
border-radius: 0;
margin-left: 0;
margin-right: 1px;
}

/* ---- isotope ---- */

.search-results-table{
margin-top:5px;
}

/* clear fix */
.search-results-table:after {
content: '';
display: block;
clear: both;
}

/* ui group */

.search-results-ui-group {
display: inline-block;
margin-left:5px;
}

.search-results-ui-group strong {
font-size: 14px;
}

.search-results-ui-group ..search-results-button-group {
display: inline-block;
margin-right: 20px;
}

/* search-result-item */

.search-result-item {
width:100%;
}


/* overwrite the default CSS */
.search-result-item .hilite{
color:#b94a48;
font-weight: normal;
background-color:#f2dede;
}