.sources-container .content table {
	width: 100%;
	table-layout: fixed;
}


.sources-container .content table td {
	padding: 5px;
}
.sources-container .content img.source {
	max-width: 100px;
	width: 100px;
	height: auto;
	margin: auto;
	display: block;
}
