/* Content */
.title {
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
}
.team {
    background-color: #EEE;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    border: #AAA solid 1px;
}
.teamname {
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
    padding-top: 10px;
    height: 60px;
}
.teamlogo {
    display: inline-block;
    float: right;
    height: 50px;
}
.teamtochead {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    padding-top: 10px;
}
.teamtoc {
}
/* #ucsd { */
/*     height: 40px; */
/*     margin-top: 10px; */
/* } */
/* #pitt { */
/*     padding: 5px 10px; */
/* } */
.teammember {
    border-top: #428bca solid 1px;
    padding: 10px 0px;
}
.membername {
    font-weight: 500;
    font-size: 16px;
}
.membertitle {
    font-style: italic;
    margin-bottom: 5px;
}
.memberbio {
    line-height: 24px;
    font-weight: 200;
    font-family: Helvetica, Arial, sans-serif;
}
.memberhead {
    float: left;
}
.memberpicture {
    padding-left: 1em;
    max-height: 45px;
    height: auto;
}
.contactlogo {
    padding-right: 0.5em;
    max-height: 20px;
    height: auto;    
}
