.teamlogo {
    display: inline-block;
    float: right;
    height: 50px;
}

.teammember {
    border-top: #428bca solid 1px;
    padding: 10px 0px;
}


.membername {
    font-weight: 500;
    font-size: 16px;
}
.membertitle {
    font-style: italic;
    margin-bottom: 5px;
}
.memberbio {
    line-height: 24px;
    font-weight: 200;
    font-family: Helvetica, Arial, sans-serif;
}
.memberhead {
    float: left;
}
.memberpicture {
    padding-left: 1em;
    max-height: 45px;
    height: auto;
}
.contactlogo {
    padding-right: 0.5em;
    max-height: 20px;
    height: auto;
}
