.well.well-sm.team {
    padding: 0;
}

.well.well-sm.team h3 {
    padding: 0;
    xmargin: 0;
}

img.teamlogo {
    display: inline-block;
    height: 50px;
    position: relative;
    top: -15px;
    float: right;
}

.teammember {
    border-top: #428bca solid 1px;
    padding: 10px 0px;
}


.membername {
    font-weight: 500;
    font-size: 16px;
}
.membertitle {
    font-style: italic;
    margin-bottom: 5px;
}
.memberbio {
    line-height: 24px;
    font-weight: 200;
    font-family: Helvetica, Arial, sans-serif;
}
.memberhead {
    float: left;
}
.memberpicture {
    padding-left: 1em;
    max-height: 45px;
    height: auto;
}
.contactlogo {
    padding-right: 0.5em;
    max-height: 20px;
    height: auto;
}
