/**
 * Those logos are included by css instead of img tags to make an example of the url() shorthand
 * The images / assets will be automatically included at build time - inlined if <5kb to gain on http requests
 */
@media screen and (min-width:$break-point) {
  div {
    background-repeat: no-repeat;
    background-position: center;
    transition: background 0.5s;
  }
}
