@import "variables";

/*

@import "footer";
@import "logos";


html {
  font-family: Arial,sans-serif;
}

h1,
h2,
h3,
h5,
h6 {
  color: $brand-primary;
}

a {
  color: $brand-primary;
}

@media screen and (min-width:$break-point) {
  p.crop {
    width: 90%;
  }
  img.logo {
    transition: opacity 0.5s;
  }
  img.logo:hover {
    opacity: 0.4;
  }
}

.clearfix {
  clear: both;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
*/

#monarch-content-fragment {
  margin: 0;
  padding: 0;
}

@import "primary-logo-animation";
