    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="content">
            <div class="wrapperforfooter">
            <div class="jumbotron">
                <div id="description">
                    {{#alerts}}
                    <div class="alert">
                        {{{.}}}
                    </div>
                    {{/alerts}}
                    <img id="monarch-logo" class="downloadline" src="/image/logo.png"/>
                    <h1 class="downloadline">Monarch Phenotype Profile Analysis</h1>
                    <a class="downloadline downloadline-left btn btn-large btn-default btn-monarch-main monarch-feedback-dark"
                            href="mailto:info@monarchinitiative.org">Your feedback welcome!</a>
                    {{#isPhenotype}}
                    <p>Find models and phenotypes similar to a set of abnormal phenotypes of interest.</p>
                    {{/isPhenotype}}
                </div>
                <div id="categories">
                    {{#doesFileExceedMax}}
                    <a href="#query"><div  class="tab contenttab second">Search</div></a>
                    <a href="#upload"><div id="initialtab" class="tab contenttab second">Upload</div></a>
                    <div class="tab greyed-out">Results</div>
                    {{/doesFileExceedMax}}
                    {{^doesFileExceedMax}}
                      {{^hasInputItems}}
                      <a href="#query"><div id="initialtab" class="tab contenttab second">Search</div></a>
                      <a href="#upload"><div class="tab contenttab second">Upload</div></a>
                      <div class="tab greyed-out">Results</div>
                      {{/hasInputItems}}
                      {{#hasInputItems}}
                      <a href="#query"><div class="tab contenttab second">Search</div></a>
                      <a href="#upload"><div class="tab contenttab second">Upload</div></a>
                      <a href="#result"><div id="initialtab" class="tab contenttab">Results</div></a>
                      {{/hasInputItems}}
                    {{/doesFileExceedMax}}
                </div>
            </div>
            <div id="complete-info">
              {{#doesFileExceedMax}}
                <div id="query" class="category">
              {{/doesFileExceedMax}}
              {{^doesFileExceedMax}}
                {{^hasInputItems}}
                <div id="query" class="first category">
                {{/hasInputItems}}
                {{#hasInputItems}}
                <div id="query" class="category">
                {{/hasInputItems}}
              {{/doesFileExceedMax}}
                <div class="row-fluid">
                 <form role="form" action="/labs/analyze/{{datatype}}/" method="GET">
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <div id="search-phenotypes" class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title text-center">Phenotypes</h4>
                      </div>
                      <div class="arrow-right"></div>
                        <input id="analyze_auto_target" name="input_items" value="{{input_items}}" type="hidden"/>
                        <div id="analyze-searchlist" class="form-group">
                          <label for="analyze_auto_input"><h4>Add to search list</h4>
                            {{#isPhenotype}}
                            <p class="example small">Type phenotype name for autocomplete (e.g.
                            Renal agenesis, Multicystic kidney dysplasia, etc.)</p>
                            {{/isPhenotype}}
                          </label>
                          <input id="analyze_auto_input" type="text" class="form-control"
                          placeholder="Enter {{datatype}} here"/>
                        </div>
                        <div id="analyze-profile" class="form-group">
                            <label for="analyze_auto_list"><h4>Search list / {{datatype}} profile</h4>
                            {{#isPhenotype}}
                            <p class="example small">Search for profiles similar to this list of phenotypes.</p>
                            {{/isPhenotype}}
                            </label>
                            <ul id="analyze_auto_list" class="list-group">
                            <li id="analyze-empty-item" class="list-group-item">Empty: Add items using the input above.</li>
                            </ul>
                        </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title text-center">Settings</h4>
                      </div>
                      <div class="row">
                        <div id="analyze-search" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                          <div class="pheno-radio-button">
                            <label id="pheno-search">
                              <input id="srch" type="radio" checked="true" value="search" name="mode"> Search</label>
                          </div>
                          <div class="explain">
                            Search for model genes, genotypes, and semantically similar diseases
                          </div>
                          <div id="search-form-group">
                            <div class="row">
                              <div class="form-group" id="analyze-target">
                                <label for="target" class="col-6 control-label search-label">Target Species:</label>
                                <div class="col-6">
                                  <select id="target" name="target_species">
                                    <option value="all" selected="selected" >All</option>
                                    <option value="10090">Mouse (genes)</option>
                                    <option value="7955">Zebrafish (genes)</option>
                                    <option value="9606">Human (diseases)</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="form-group" id="analyze-type">
                              <div class="row">
                                <label for="type" class="col-6 control-label search-label">Target Type:</label>
                                <div class="col-6">
                                  <select id="type" name="target_type" disabled>
                                    <option value="all" selected="selected" disabled>All</option>
                                    <option value="disease" disabled>Disease</option>
                                    <option value="gene" disabled>Gene</option>
                                    <option value="genotype" disabled>Genotype</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div id="analyze-limit" class="form-group">
                              <div class="row">
                                <label for="analyze_limit_input" class="col-6 control-label search-label">Maximum number of results:</label>
                                <div class="col-6">
                                  <input class="form-control" id="analyze_limit_input" name="limit" type="text"
                                      value="{{limit}}"></input>
                                </div>
                              </div> 
                            </div>
                          </div>
                      </div>
                    
                    
                      <div id= "analyze-compare" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="pheno-radio-button">
                          <label id="pheno-compare">
                            <input id="compare" type="radio" value="compare" name="mode"> Compare</label>
                        </div>
                        <div class="explain">
                            Compare phenotypes against a set of genes<br><br>
                        </div>
                        <div id="compare-form-group">
                          <div id="gene-autocomplete">Enter Gene Symbol:<br>
                            <span class="small">
                              Autocomplete currently only supports human genes
                            </span>
                          </div>
                          <input id="auto_gene_input" type="text" class="form-control"
                          placeholder="e.g. LHX1" disabled>
                          <div id="gene-text-area">Gene IDs:<br>
                            <span class="small">
                                Enter genes with autocomplete above and/or direcly paste to the box below.
                                Gene IDs can be newline or comma separated
                            </span>
                          </div>
                       
                          <textarea id="gene-list" class="form-control" rows="3" placeholder="e.g. NCBIGene:3975, ENSEMBL:ENSG00000108753 " 
                                    name="gene_list" disabled></textarea>
                          <div id="gene-shortcuts">Add Genes:<br>
                              <span class="small">
                                Given the above list of genes, add additional genes to query
                                based on relationship:
                              </span>
                          </div>
                          <button id="ortholog" type="button" class="btn monarch-btn" disabled>Orthologs</button>
                          <button id="paralog" type="button" class="btn monarch-btn" disabled>Paralogs</button>
                        </div>
                        <div id="ajax-spinner">
                          <div class="spinner" >
                            <div class="spinner-container container1">
                              <div class="circle1"></div>
                              <div class="circle2"></div>
                              <div class="circle3"></div>
                              <div class="circle4"></div>
                            </div>
                            <div class="spinner-container container2">
                              <div class="circle1"></div>
                              <div class="circle2"></div>
                              <div class="circle3"></div>
                              <div class="circle4"></div>
                            </div>
                            <div class="spinner-container container3">
                              <div class="circle1"></div>
                              <div class="circle2"></div>
                              <div class="circle3"></div>
                              <div class="circle4"></div>
                            </div>
                          </div>
                          <div id='fetching'>Fetching Genes...</div>
                        </div>
                        <div id='error-msg'>Error Fetching Genes</div>
                        <div id="ortholog-text-area">Orthologs:<br>
                            <textarea id="ortholog-list" class="form-control" rows="2" placeholder="" name="ortholog_list" disabled></textarea>
                        </div>
                        <div id="paralog-text-area">Paralogs:<br>
                            <textarea id="paralog-list" class="form-control" rows="2" placeholder="" name="paralog_list" disabled></textarea>
                        </div>
                      </div>
                     </div>
                   </div>
                  </div>
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                      <button id="analyze-submit" type="submit" class="btn btn-primary">Submit</button>
                      <button id="reset" class="btn btn-warning" type="reset">Reset</button>
                  </div>
                </form>
                </div>
                </div>
                {{#doesFileExceedMax}}
                <div id="upload" class="first category">
                {{/doesFileExceedMax}}
                {{^doesFileExceedMax}}
                <div id="upload" class="category">
                {{/doesFileExceedMax}}
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="row-fluid">
                    <div class="panel panel-default">
                      <h4>Upload Results</h4>
                      <form role="form" enctype="multipart/form-data" action="/labs/analyze/{{datatype}}/" method="POST">
                        <div id="browse">
                          <span class="btn btn-file monarch-btn">
                            Browse...<input id="upload-file" type="file" name="upload_file">
                          </span>
                          <div id="file-names">
                            {{#doesFileExceedMax}}
                            File size exceeds limit of 50 Mb
                            {{/doesFileExceedMax}}
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Upload</button>
                      </form>
                      </div>
                      </div>
                      <div class="row-fluid">
                          <form role="form" action="/labs/analyze/{{datatype}}/" method="POST">
                            <div class="form-group">
                              <div class="past-data">
                                <h4>Or paste similarity data below:</h4>
                                <div id="paste-buttons">
                                  <button id="example-similarity" type="button" class="btn monarch-btn">Example</button>
                                  <button id="upload-reset" class="btn btn-warning" type="reset">Reset</button>
                                </div>
                              </div>
                              <textarea id="user-results" class="form-control" rows="14" placeholder="" name="user_results"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                      </div> 
                </div>
                {{#hasInputItems}}
                <div id="result" class="first category">
                    <div id ="phen_vis"></div>
                    <div id="result-table">
                      {{#hasTable}}
                        <h3 class="downloadline">Results</h3>
                        <a href="{{{downloadURL}}}" class="btn btn-default downloadline downloadline-left monarch-blue">JSON</a>
                        {{#hasResults}}
                          {{#singleSpecies}}
                            <p>Species: {{{speciesHref}}}</p>
                          {{/singleSpecies}}
                          <input id="analyze_auto_species" name="current_target_species" value="{{target_filter.species}}" type="hidden"/>
                          {{{resultsTable}}}
                          </table>
                        {{/hasResults}}
                        {{^hasResults}}
                        <div class="text">Unfortunately, your search produced no results.</div>
                        {{/hasResults}}
                      {{/hasTable}}
                    </div>
                </div>
                <div id="splitLabels" style="display:none">{{splitLabels}}</div>
                {{/hasInputItems}}
            </div>
            </div> <!-- closes wrapperforfooter -->
            {{{includes.footer}}}
        </div>
    </div>