<hr>
<footer>
  <!-- <div id="footer"> -->
  <div style="padding: 10px 40px 10px; text-align: center; font-weight: 200; font-size: 12px;">
    Except where otherwise noted, this work is licensed under a Creative Commons Attribution
    3.0 License.<br/>
    The Monarch Initiative is a collaboration between Oregon Health & Science University,
    University of California, San Diego, Lawrence Berkeley National Laboratory, the University of
    Pittsburgh, Sanger Institute, and Charité - Universitätsmedizin Berlin
    and is supported generously by a NIH Office of the Director Grant #5R24OD011883.
  </div>
</footer>
