<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>    
      <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
      
      <!-- CSS. -->
      {{#pup_tent_css_libraries}}
      <link rel="stylesheet" type="text/css" href="{{{.}}}">
      {{/pup_tent_css_libraries}}
    
      <!-- JS variables. -->
      {{#pup_tent_js_variables}}
      <script type="text/javascript">var {{name}} = {{{value}}};</script>
      {{/pup_tent_js_variables}}
    
      <!-- JS libraries. -->
      {{#pup_tent_js_libraries}}
      <script type="text/javascript" src="{{{.}}}"></script>
      {{/pup_tent_js_libraries}}
      
      <!-- JS launcher. -->
      <script type="text/javascript">
      jQuery(document).ready(function(){
      {{#monarch_launchable}}
      {{.}};
      {{/monarch_launchable}}
      });
      </script>
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="utf-8"/>
  </head>
  <body>
      <div class="monarch-container">
        <div class="content">
          <div class="wrapperforfooter">
            
   
          </div> <!-- closes wrapperforfooter -->
        </div>
      </div>
  </body>

  <body ng-controller="MainCtrl">

<div chromosome id="chr13" chr="13" rel-size="false" axis="true" assembly="37" width='900' height="20" mode="single" centromere="line"></div>

<chromosome  id="chr1" chr="1" rel-size="false" axis="true" assembly="37" width='900' height="20" mode="single" centromere="dot" geneview-map="true"></chromosome>

<!-- JS Script Dependencies -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/d3/d3.min.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>

<script src="angular-chromosome-vis.js"></script>
<script src="bower_components/jsdas/jsdas.min.js"></script>

<script>
    var demoApp = angular.module('demoApp', ['angularChromosomeVis']);
    demoApp.controller('MainCtrl', ['$scope', function() {}]);
</script>
</body>

</html>