<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>    
      <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="utf-8"/>
  </head>
  <body>
      <div class="monarch-container">
        <div class="content">
          <div class="wrapperforfooter">
            
   
          </div> <!-- closes wrapperforfooter -->
        </div>
      </div>
  </body>
</html>