<div class="monarch-container">
	{{{includes.navbar}}}
	<h1 class="text-center">Class Enrichment analyzer</h1>
    	<div id="class-enrichment-demo"/>
</div>
<script>
	$(document).ready(
	    function () {
	        $("#class-enrichment-demo").classenrichment({hostUrl: "http://duckworth.crbs.ucsd.edu:9000",
	        											 sampleSetLabel: "Genes sample set:",
	        											 backgroundLabel: "Bakground:",
	        											 pathLabel: "Path:",
	        											 sampleSetDefault: "PTCH1 ptch2",
	        											 backgroundDefault: "SO:0000704",
	        											 pathDefault: "<-[:GENO:0000408*0..1]-(feature)<-[:RO:0002351|IAO:0000583|GENO:0000382|RO:0002104|GENO:0000229|IAO:0000581|RO:0002516|http://purl.obolibrary.org/obo/cl#has_high_plasma_membrane_amount|RO:0002224|RO:0002520|GENO:0000531|BFO:0000051|RO:0002518|GENO:0000337|RO:0002473|RO:0002551|GENO:0000532|IAO:0000407|GENO:0000230|GENO:0000234|http://purl.obolibrary.org/obo/cl#has_low_plasma_membrane_amount|GENO:0000231|GENO:0000385|GENO:0000235|RO:0002180|GENO:0000233|RO:0002230|GENO:0000521|RO:0002524|IAO:0000039*]-(genotype)-[:RO:0002200*]->"});
	    }
	);
</script>
