    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="content">
            <div class="wrapperforfooter">
            <div class="jumbotron">
                <img id="monarch-logo-horizontal" class="downloadline" src="/image/logo-horizontal-sneak.png"/>
                <a id="feedback-main" class="downloadline downloadline-left btn btn-large btn-default btn-monarch-main monarch-feedback-dark"
                        href="mailto:info@monarchinitiative.org">Your feedback welcome!</a>
                <div class="tagline">
                    Enabling navigation across a rich landscape of phenotypes, diseases,
                    models, and genes for translational
                    research. <a href="/page/about">Find out more</a>.<br/>
                    <a href="http://mail.monarchinitiative.org/mailman/listinfo/users">Sign up for our listserve to receive announcements</a>.
                </div>
            </div>
            
            <div id="main-container">
                <div class="graph-container"></div>
            </div>

            
            </div> <!-- closes wrapperforfooter -->
            {{{includes.footer}}}
        </div> <!-- closes content -->
    </div> <!-- closes container -->
    <script type="text/javascript">
        jQuery(document).ready(function(){
            datagraph.useCrumb = true; 
            var graph;
           /* d3.json("/labs/datagraph.json",function(error,data) {
                graph = data.dataGraph;
                datagraph.init(".graph-container",json);
            });*/
            
            jQuery.getJSON( "/labs/datagraph.json", function(data) {
                graph = data.dataGraph;
                datagraph.init(".graph-container",graph);
            });
        });
    </script>