    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="content">
            <div class="wrapperforfooter">
            <div class="jumbotron monarch-phenotype-light">
                <div id="description">
                    {{#alerts}}
                    <div class="alert">
                      {{{.}}}
                    </div>
                    {{/alerts}}
                    <img id="monarch-logo" class="downloadline" src="/image/logo.png"/>
                    <h1 class="downloadline">Disease: {{label}}</h1>
                    <a href="{{{download.json}}}" class="btn btn-default downloadline downloadline-left monarch-phenotype-dark">JSON</a>
                    <a class="downloadline btn btn-large btn-default btn-monarch-main monarch-feedback-dark"
                            href="mailto:info@monarchinitiative.org">Your feedback welcome!</a>
                     <p>
                        {{#hasDef}}
                        {{definitions}}<br/>
                        {{/hasDef}}
                        {{#hasComment}}
                        {{comment}}<br/>
                        {{/hasComment}}
                        {{#hasHeritability}}
                        {{heritability}}<br />
                        {{/hasHeritability}}
                        Source: {{{primary_xref}}}
                    </p>
                </div>
                <div id="categories">
                    <a href="#overview"><div id="initialtab" class="tab contenttab">Overview</div></a>
                    {{{includes.phenotype_anchor}}}
                    <div class="tabcontainer">
                        <div class="tabhover">View phenotypically similar diseases and genes in a grid</div>
                        {{#hasPhenotypes}}
                            <a href="#compare"><div class="tab contenttab">Compare</div></a>
                        {{/hasPhenotypes}}
                        {{^hasPhenotypes}}
                            <div class="tab greyed-out">Compare</div>
                        {{/hasPhenotypes}} 
                    </div>
                </div>
            </div>
            <div id="complete-info">
                <div id="overview" class="first category">
                    {{#hasAka}}
                    <div class="ids">
                        <b>AKA:</b>
                        {{aka}}
                    </div>
                    {{/hasAka}}
                    {{#hasXrefs}}
                    <div class="ids">
                        <b>xref IDs:</b> {{{xrefs}}}
                    </div>
                    {{/hasXrefs}}
                    <h3>Classification</h3>
                    {{{includes.classificationComponent}}}
                </div>
                <div id="mainTable" class="category">
                    <div id="r3" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      
                      <!-- Quiet rollover. -->
                      <div class="panel panel-default">
                      <!-- <div class="panel-heading"> -->
                      <!--   <h3 class="panel-title">BS3 Tests</h3> -->
                      <!-- </div> -->
                      <div class="panel-body">

                      <div id="results-area" class="row">
                      
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                          <div>
                          <h4>Filter results</h4>
        
                         <div id="bs3results-filter" class="bs3filter">
                           Loading...
                         </div>
        
                         </div>      
                      </div>
        
                      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
          
                        <div id="bs3results-pager-top" class="bs3pager">
                        </div>
                        <div id="bs3results">
                          pending...
                        </div>
                        <div id="bs3results-pager-bottom" class="bs3pager-bottom">
                        </div>
                      </div>

                     </div>

                   <!-- <div class="clearfix"></div> -->
                   </div>
                 </div>
            </div>
            </div>
            <div id="compare" class="category">
                <div id="phen_vis"></div>
            </div>
            </div>
            </div> <!-- closes wrapperforfooter -->
            {{{includes.footer}}}
        </div>
    </div>
