    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="content">
            <div class="wrapperforfooter">
            <div class="jumbotron monarch-disease-light">
                <div id="description">
                    <img id="monarch-logo" class="downloadline" src="/image/logo.png"/>
                    <h1 class="downloadline">ID: {{id}}</h1>
                    <a href="{{{download.json}}}" class="btn btn-default downloadline downloadline-left monarch-phenotype-dark">JSON</a>
                    <a class="downloadline btn btn-large btn-default btn-monarch-main monarch-feedback-dark"
                            href="mailto:info@monarchinitiative.org">Your feedback welcome!</a>
                </div>
                   <div id="categories"> 
<div class="tabcontainer"> 
  <div class="tabhover">Stuff where ID is the subject</div>
   <a href="#subject"><div id="initialtab" class="tab contenttab">Subject</div></a>
   </div>
   
  <div class="tabcontainer"> 
  <div class="tabhover">Stuff where ID is the object</div>
   <a href="#object"><div class="tab contenttab">Object</div></a>
   </div>
                </div>
            </div>
            <div id="complete-info">

                <div id="subject" class="first category">
  <div id="r3" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      
    <!-- Quiet rollover. -->
    <div class="panel panel-default">
      <!-- <div class="panel-heading"> -->
        <!--   <h3 class="panel-title">BS3 Tests</h3> -->
      <!-- </div> -->
      <div class="panel-body">

        <div id="results-area" class="row">
                      
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <div>
              <h4>Filter results</h4>
        
              <div id="sub-filter" class="bs3filter">
                Loading...
             </div>
        
            </div>      
          </div>
        
          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
          
            <div id="sub-pager-top" class="bs3pager">
            </div>
            <div id="sub">
              pending...
            </div>
            <div id="sub-pager-bottom" class="bs3pager-bottom">
            </div>
          
          </div>

       </div>

      <!-- <div class="clearfix"></div> -->
      </div>
    </div>
  </div>
</div>
<div id="object" class="category">
  <div id="r3" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      
    <!-- Quiet rollover. -->
    <div class="panel panel-default">
      <!-- <div class="panel-heading"> -->
        <!--   <h3 class="panel-title">BS3 Tests</h3> -->
      <!-- </div> -->
      <div class="panel-body">

        <div id="results-area" class="row">
                      
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <div>
              <h4>Filter results</h4>
        
              <div id="ob-filter" class="bs3filter">
                Loading...
             </div>
        
            </div>      
          </div>
        
          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
          
            <div id="ob-pager-top" class="bs3pager">
            </div>
            <div id="ob">
              pending...
            </div>
            <div id="ob-pager-bottom" class="bs3pager-bottom">
            </div>
          
          </div>

       </div>

      <!-- <div class="clearfix"></div> -->
      </div>
    </div>
  </div>
</div>

            </div>
            </div> <!-- closes wrapperforfooter -->
            {{{includes.footer}}}
        </div>
    </div>
