<div class="container" style="position:relative;" data-spy="scroll" data-target="#scrollnav" >
  <!-- <div class="row"> -->
    <div id="scrollnav" class="span3">
      <ul class="nav nav-list affix">
        <li><a href="#moose">Moose</a></li>
        <li><a href="#bear">Bear</a></li>
        <li><a href="#beaver">Beaver</a></li>
        <li><a href="#raccoon">Raccoon</a></li>
        <li><a href="#bobcat">Bobcat</a></li>
      </ul>
    </div>
    <div id="scrollcontent" class="span9 my-content">
      <section id="moose">
          Mooses are cool and big and stuff.
	  <br /><br /><br /><br /><br /><br /><br /><br />
	  <br /><br /><br /><br /><br /><br /><br /><br />
      </section>
      <section id="bear">
          You better stay away from bears, they are bad news.
	  <br /><br /><br /><br /><br /><br /><br /><br />
	  <br /><br /><br /><br /><br /><br /><br /><br />
      </section>
      <section id="beaver">
          Beavers like to slap their tail to scare predators and children.
	  <br /><br /><br /><br /><br /><br /><br /><br />
	  <br /><br /><br /><br /><br /><br /><br /><br />
      </section>
      <section id="raccoon">
        Raccoons like french fries, don't ask me how I know.
	  <br /><br /><br /><br /><br /><br /><br /><br />
	  <br /><br /><br /><br /><br /><br /><br /><br />
      </section>
      <section id="bobcat">
        I would like to know if bobcats go crazy for catnip like my house cat does.
	  <br /><br /><br /><br /><br /><br /><br /><br />
	  <br /><br /><br /><br /><br /><br /><br /><br />
      </section>
    </div>
  <!-- </div> -->
</div>
