## Try to not include files for the behave test suite's python virtualenv.
tests/behave/bin
tests/behave/include
tests/behave/lib
tests/behave/local
tests/behave/.Python
tests/behave/pip-selfcheck.json
tests/behave/selenium/*
tests/behave/webdriver.log
tests/resources/phenopacket-schema.json

## Ignore npm libs.
node_modules

## Other stuff?
.project
.pl-history
ringojs*
cache/phenotypeprofile/key*json
semantic.cache
*/semantic.cache
.DS_Store
ringojs-0.9
*~
tools/
.emacs.*
log
.idea/**
*.iml
*.ipr
*.iws
templates/labs/jbrowse
*.swp
*.swo
serverStarted.dat
start-server.log
npm-debug.log
dist/
webpack-assets.json
conf/golr-conf.json
conf/monarch-team.json
hide/**
000000hide/**

