/**These styles are specific to the widgets instruction page (templates/page/widgets.mustache)*/
body{
	margin-left:25px;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

ol.li, .title, .sectiontitle, h1, .subsectiontitle, .header{
	font-weight:bold;
	color:#44A293;
} 

.header{
	font-size:2.0em;
	margin-left:15px;
	margin-bottom:15px;
}

#phenogrid.header{
	border-top: 0px solid black;
	
	padding-bottom:15px;
}

#phenogrid .title{
	font-size: 1.8em;
	font-weight:bold;
}

#phenogrid #sort_div{
	margin-top:10px;
}

#viscontent .shortselects {
    left: 770px;
    top: 450px;
}

#phenogrid .shortselects {
    top: 360x;
}


subsectiontitle{
	font-size:1.0em;
}
		

#title{
	float:left;

}

#text {
    clear:both;
}
	     

#title b{
//  position:absolute;
  top:100px;
  left:73px;
}

#title2{
	
	float:left;
//	position: absolute;
	top:130px;
	left:72px;
}
#organism_div {  
//	position:absolute;
	top:97px;
	left:610px;
}
.wrapperforfooter .title{
    font-size: 32px;
}

#calculation_div {
//	position:absolute;
	top:130px;
	left:620px; 
}

#phencontent{
	top: -20px;
	position: relative;
}
.headtitle img{
	vertical-align:bottom;
}

li{ padding-bottom: 7px;}

div .title{
//	margin-top:-410px;
	clear:both;
}

#viscontent { 
    height: 350px;
    width: 100%;
    clear: both;
}

#footer {
	margin-top: 20px;
}

