#phen_vis {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}


#pg_errmsg {
	padding-top: 30px;
	font-size:1.2em;
	/**font-weight:bold;*/
	stroke:#ea763b;
}

#pg_gridline {
	fill: #ffffff;
	fill-opacity: 0;
	stroke: #e5e5e5;
	stroke-width: 1;
}

#pg_globalview {
	fill: #ffffff;
	stroke: #000000;
	stroke-width: 2;
}


.pg_row_accent,
.pg_col_accent {
	/*stroke:#ea763b;*/
	stroke:#4CA092;
	stroke-width: 2;
	fill: #4CA092;   //#ffffff;
	fill-opacity: 0.1;    //0.05;
}

/*.pg_gene_accent {
	/*stroke:#ea763b;*/
	stroke:#4CA092;
	stroke-width: 2;
	fill: #4CA092;
	fill-opacity: 0.1;
}*/

.pg_scroll_text {
	font-size: 9px;
}

#pg_prebl {
	clear:both;
	/*background-color: #9999FF;*/
	float:left;
}

#phen_vis .a_text {
	text-anchor:end;
	opacity: 1.0;
	font-size: 12px;
}

#pg_scorelist {
	font-size:10px;
	fill: #0F473E;
}

#pg_detail_text {
	font-size: 10px;
	padding: 8px;
	/* background-color:#ea763b;*/
	background-color: #A5D5D3;
	border: 1px solid #858585;
	-webkit-border-radius: 8px;
	border-radius: 8px; 
	-moz-border-radius: 8px;
}

#pg_hpoDiv {
	text-align:left;
}

#pg_svg_area {
	float:left;
	margin-top: -35px;
	padding-top: 35px;
	/*height:500px;  !important;*/
}

#pg_selectionrect {
	fill: grey;
	opacity: 0.5
}

.pg_instruct {
	font-size:12px;
}

.pg_tip {
	width: 80px;
	height:10px;
	font-size:10px;
	font-weight:bold;
}

#pg_tip {
	font-size: 10px;
	margin-left:-20px;
	stroke-width: 1px;
	stroke:#25349A;
}

#pg_diseasetitle {
	font-weight:bold;
	font-size: 0.8em;
	margin-left:-20px;
}


#pg_toptitle {
	font-size:1.4em;
	font-weight:bold;
}


#pg_sort_div {
	float: left;
	width:180px;
	font-weight:bold;
}

#pg_calc_div {
	float: left;
	width:120px;
	font-weight:bold;
}

#pg_org_div {
	float: left;
	width:200px;
	font-weight:bold;
}

#pg_axis_div {
	float: left;
	width: 120px;
	font-weight:bold;
}


#pg_organism,
#pg_calculation,
#pg_sortphenotypes,
#pg_axisflip {
	margin-top: 5px; 
	margin-left: 5px;
}


.pg_faq_img {
	height:15px;
	margin-left: 5px;
}

#pg_detail_content {
	z-index:500;
}


#pg_logo {
	height:90px;
}

/** jQDialog styles */
.ui-dialog-titlebar {
	background-color:#253494;
	color:#FFFFFF;
}

.ui-dialog-content {
	font-size:11px;
	font-family: arial;
	color:#000000;
}

.ui-dialog-content a {
	color: #253494;
}

.ui-dialog-buttonpane {
	background-color: #253494;
}

.ui-dialog-buttonset {
	background-color: #25349A;
}

.ui-dialog-osx {
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px; 
	border-width: 3px;
	-moz-border-radius: 0 0 8px 8px;
}

/** end jquery stuff*/

/*#redtext,
#bluetext,
#greentext {
	fill: black;
}

#matches input {
	padding-top:5px;
}*/

#pg_matches,
#pg_unmatchedlabel,
#pg_unmatchedlabelhide {
	clear:both;
	font-weight: bold;
	color: rgb(68,162,147);
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom:20px;
}

#pg_unmatched a {
	margin-left:19px;
}

#pg_unmatched table {
	font-size: 0.8em;
	padding-bottom:10px;
	margin-top:10px;
}

#phenogrid_controls {
	float:left;
	clear:both;
	margin-top:-50px;
	margin-left:10px;
}

#pg_svg_container {
	margin-top:40px;
}

#pg_specieslist {
	font-weight:bold;
	font-size:1.2em;
}


/** for spinner*/
.cube1,
.cube2 {
	background-color: #333;
	width: 10px;
	height: 10px;
	top: 100;
	left: 300;

	-webkit-animation: cubemove 1.8s infinite ease-in-out;
	animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
	25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
	50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
	75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
	100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
	25% { 
		transform: translateX(42px) rotate(-90deg) scale(0.5);
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	} 50% { 
		transform: translateX(42px) translateY(42px) rotate(-179deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	} 50.1% { 
		transform: translateX(42px) translateY(42px) rotate(-180deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	} 75% { 
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	} 100% { 
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
}

#unmatchedimg,
#unmatchedhideimg {
	font-size:1.1em;
	font-weight:bold;
	color: #428bca;
	vertical-align:middle;
}

#unmatchedimg {
	font-size:1.4em;
}

.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.faqdialog {
	background: white;
}

.expandbtn {
    padding: 0;
    border: none;
    background: transparent url('./widgets/phenogrid/image/ExpandAllIcon.png') no-repeat;
    margin-left: auto;
    margin-right: auto;
    width: 18px;
    height: 17px;
	background-color: white;
	//box-shadow: 1px 1px 1px #888888;
}

.collapsebtn {
    padding: 0;
    border: none;
    background: transparent url('/widgets/phenogrid/image/CollapseAllIcon.png') no-repeat;
    margin-left: auto;
    margin-right: auto;    
    width: 18px;
    height: 17px;
	background-color: white;
	//box-shadow: 1px 1px 1px #888888;	
}

.dialogBG {
	background-color: white;
}

/*.spinner {
	background: url('/widgets/phenogrid/image/throbber.gif') no-repeat;
	top: 10px;
	left: 100px;
	position: absolute;
}*/
