/**
 * Data Graph
**/

.configure label{
	margin-bottom:0;
}
.scale label{
    margin-bottom:0;
}
.zero label{
    margin-bottom:0;
}

.title{
    line-height:37px;
    vertical-align: middle;
    border-bottom: solid;
    border-width: 1px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.interaction{
   margin-left: 10px;
   margin-top: 6px;
   position: relative;
}
.interaction li{
    list-style-type: none;
}
.breadcrumbs{
   display:inline;
   position: relative;
}
.breadcrumbs text{
   fill:white;
   cursor:default;
}
.settings{
   border: 1px solid #ddd;
   display: inline;
   right:0;
   margin-right: 5px;
   position:absolute;
}
.configure {
	padding-right:5px;
	padding-left:2px;
}
.scale {
	padding-right:5px;
    padding-left:2px;
}
.zero {
    padding-right:5px;
    padding-left:2px;
}
.tip {
    position: absolute;
    font-size: 12px;
    color:white;
    line-height: 14px;
    display: none;
    background: #1D1E1F;
    background:rgba(0,0,0,0.7);
    padding: 2px 5px;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 150px;
    z-index: 10;
}

.datagraph-caption {
    padding-top: 1em;
}

#graph-message{
	text-align: center;
	padding-bottom:12px;
    font-weight:bold;
    font-size: 20px;
}

#windcatcher{
    margin: 0 auto;
}

/* AJAX Spinner credit to https://github.com/oskargustafsson/CSS-spinners
   Code based on https://github.com/oskargustafsson/CSS-spinners/blob/440051e/style.css
*/

/* GENERAL */

@-webkit-keyframes fade {
  from { opacity: 1; }
  to { opacity: 0.2; }
}
@keyframes fade {
  from { opacity: 1; }
  to { opacity: 0.2; }
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* WIND CATCHER */

@-webkit-keyframes windcatcherSpin {
  from { -webkit-transform: rotateY(0deg) rotateX(-20deg); }
  to { -webkit-transform: rotateY(360deg) rotateX(-20deg); }
}
@keyframes windcatcherSpin {
  from { transform: rotateY(0deg) rotateX(-20deg); }
  to { transform: rotateY(360deg) rotateX(-20deg); }
}

@-webkit-keyframes windcatcherBg {
  0% { background-color: rgb(68, 162, 147); }
  50% { background-color: rgb(54,129,117); }
  51% { background-color: rgb(133, 204, 192); }
  70% { background-color: rgb(71, 169, 153); }
  100% { background-color: rgb(68, 162, 147); }
}
@keyframes windcatcherBg {
  0% { background-color: rgb(68, 162, 147); }
  50% { background-color: rgb(54,129,117); }
  51% { background-color: rgb(133, 204, 192); }
  70% { background-color: rgb(71, 169, 153); }
  100% { background-color: rgb(68, 162, 147); }
}

.spinner.windcatcher {
  width: 4em;
  perspective: 50em;
  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
}

.spinner.windcatcher .blade {
  height: 0.4em;
  background: rgb(68, 162, 147);
  margin-bottom: 0.1em;
  -webkit-animation: windcatcherSpin 4s linear infinite, windcatcherBg 2s linear infinite;
  animation: windcatcherSpin 4s linear infinite, windcatcherBg 2s linear infinite;
}

.spinner.windcatcher .blade:nth-child(1) { -webkit-animation-delay: 0s; animation-delay: 0s; }
.spinner.windcatcher .blade:nth-child(2) { -webkit-animation-delay: 0.25s; animation-delay: 0.25s; }
.spinner.windcatcher .blade:nth-child(3) { -webkit-animation-delay: 0.5s; animation-delay: 0.5s; }
.spinner.windcatcher .blade:nth-child(4) { -webkit-animation-delay: 0.75s; animation-delay: 0.75s; }
.spinner.windcatcher .blade:nth-child(5) { -webkit-animation-delay: 1s; animation-delay: 1s; }
.spinner.windcatcher .blade:nth-child(6) { -webkit-animation-delay: 1.25s; animation-delay: 1.25s; }
.spinner.windcatcher .blade:nth-child(7) { -webkit-animation-delay: 1.5s; animation-delay: 1.5s; }
.spinner.windcatcher .blade:nth-child(8) { -webkit-animation-delay: 1.75s; animation-delay: 1.75s; }