/**
 * Data Graph
**/

.configure label{
	margin-bottom:0;
}
.scale label{
    margin-bottom:0;
}
.zero label{
    margin-bottom:0;
}

.title{
    line-height:37px;
    vertical-align: middle;
    border-bottom: solid;
    border-width: 1px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.interaction{
   margin-left: 5px;
   margin-top: 5px;
   position: relative;
}
.interaction li{
    list-style-type: none;
}
.breadcrumbs{
   display:inline;
   position: relative;
}
.breadcrumbs text{
   fill:white;
   cursor:default;
}
.settings{
   border: 1px solid #ddd;
   display: inline;
   top:18px;
   right:5px;
   margin:0;
   position:absolute;
}
.configure {
	padding-right:5px;
	padding-left:2px;
}
.scale {
	padding-right:5px;
    padding-left:2px;
}
.zero {
    padding-right:5px;
    padding-left:2px;
}
.tip {
    position: absolute;
    font-size: 12px;
    color:white;
    line-height: 14px;
    display: none;
    background: #1D1E1F;
    background:rgba(0,0,0,0.7);
    padding: 2px 5px;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 150px;
    z-index: 10;
}

.datagraph-caption {
    padding-top: 1em;
}

#graph-loader,
#second-loader {
  height: 125px;
}

.graph-message{
	text-align: center;
	padding-bottom:12px;
    font-weight:bold;
    font-size: 20px;
}

.windcatcher-spinner{
    margin: 0 auto;
}

/* AJAX Spinner credit to https://github.com/oskargustafsson/CSS-spinners
   Code based on https://github.com/oskargustafsson/CSS-spinners/blob/440051e/style.css
*/

/* GENERAL */

@-webkit-keyframes fade {
  from { opacity: 1; }
  to { opacity: 0.2; }
}
@keyframes fade {
  from { opacity: 1; }
  to { opacity: 0.2; }
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* WIND CATCHER */

@-webkit-keyframes windcatcherSpin {
  from { -webkit-transform: rotateY(0deg) rotateX(-20deg); }
  to { -webkit-transform: rotateY(360deg) rotateX(-20deg); }
}
@keyframes windcatcherSpin {
  from { transform: rotateY(0deg) rotateX(-20deg); }
  to { transform: rotateY(360deg) rotateX(-20deg); }
}

@-webkit-keyframes windcatcherBg {
  0% { background-color: rgb(68, 162, 147); }
  50% { background-color: rgb(54,129,117); }
  51% { background-color: rgb(133, 204, 192); }
  70% { background-color: rgb(71, 169, 153); }
  100% { background-color: rgb(68, 162, 147); }
}
@keyframes windcatcherBg {
  0% { background-color: rgb(68, 162, 147); }
  50% { background-color: rgb(54,129,117); }
  51% { background-color: rgb(133, 204, 192); }
  70% { background-color: rgb(71, 169, 153); }
  100% { background-color: rgb(68, 162, 147); }
}

.spinner.windcatcher {
  width: 4em;
  perspective: 50em;
  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
}

.spinner.windcatcher .blade {
  height: 0.4em;
  background: rgb(68, 162, 147);
  margin-bottom: 0.1em;
  -webkit-animation: windcatcherSpin 4s linear infinite, windcatcherBg 2s linear infinite;
  animation: windcatcherSpin 4s linear infinite, windcatcherBg 2s linear infinite;
}

.spinner.windcatcher .blade:nth-child(1) { -webkit-animation-delay: 0s; animation-delay: 0s; }
.spinner.windcatcher .blade:nth-child(2) { -webkit-animation-delay: 0.25s; animation-delay: 0.25s; }
.spinner.windcatcher .blade:nth-child(3) { -webkit-animation-delay: 0.5s; animation-delay: 0.5s; }
.spinner.windcatcher .blade:nth-child(4) { -webkit-animation-delay: 0.75s; animation-delay: 0.75s; }
.spinner.windcatcher .blade:nth-child(5) { -webkit-animation-delay: 1s; animation-delay: 1s; }
.spinner.windcatcher .blade:nth-child(6) { -webkit-animation-delay: 1.25s; animation-delay: 1.25s; }
.spinner.windcatcher .blade:nth-child(7) { -webkit-animation-delay: 1.5s; animation-delay: 1.5s; }
.spinner.windcatcher .blade:nth-child(8) { -webkit-animation-delay: 1.75s; animation-delay: 1.75s; }



.ajax-spinner {
    display:none;
}
.fetching {
    font-size: 12px;
    line-height: 40px;
}

.error-msg {
    font-size: 13px;
    display:none;
    line-height: 40px;
}

.leaf-msg {
	padding-top:10px;
	font-size: 14px;
	line-height: 20px;
    display:none;
}

.ortholog-spinner {
  margin: 10px;
  width: 20px;
  height: 20px;
  float: left;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #333;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ortholog-spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@media (max-width: 1000px) {
  .legend-checkbox {
    transform: scale(1.2);
    margin: 3px 3px 3px 0 !important;
    vertical-align: middle;
  }
}
@media (min-width: 1000px) {	
  .legend-checkbox {
    transform: scale(.8);
    margin: 0 0 0 0 !important;
    vertical-align: middle;
  }
}