<!DOCTYPE html>
<html>
<head>
    <title>Monarch Analysis</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    <script type="text/javascript" src="/js/Analyze.js"></script>
    <script type="text/javascript" src="/js/modeltype.js"></script>
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"/>
    {{/stylesheets}}
<!--     <link rel="stylesheet" type="text/css" href="/css/search.css"/> -->
    <link rel="stylesheet" type="text/css" href="/css/imagehover.css"/>
    <link rel="stylesheet" type="text/css" href="/css/monarch-specific.css"/>
    <script src="../js/tabs.js"></script>
    <script src="../js/tables.js"></script>
    <script src="../js/stupidtable.min.js"></script>
    <meta charset="utf-8"/>
</head>
<body>
    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="sidebar">
            <a href="/"><img src="/image/logo-sneak.png" width="100" class="img-rounded"/></a>
            <ul class="nav nav-list">
                <li class="nav-header">Find</li>
                <li class="nav-item"><a href="/disease">Disease</a></li>
                <li class="nav-item"><a href="/phenotype">Phenotype</a></li>
                <li class="nav-item"><a href="/model">Model</a></li>
                <li id="navigation" class="nav-header">Navigate</li>
                <li id="que" class="special nav-item"><a href="#query">Query</a></li>
                {{#hasInputItems}}
                <li id="res" class="special nav-item"><a href="#result">Table View</a></li>
                <li id="gri" class="special nav-item"><a href="#grid">Grid View</a></li>
                {{/hasInputItems}}
            </ul>
        </div>
        <div class="content">
            <div class="jumbotron">
                <div id="description">
                    {{#alerts}}
                    <div class="alert">
                        {{{.}}}
                    </div>
                    {{/alerts}}
                    <h1>Monarch Analysis: {{datatype}}</h1>
                </div>
                <div id="categories">
                    <a href="#query"><div id="initialtab" class="tab contenttab quetab">Query</div></a>
                    {{#hasInputItems}}
                    <a href="#result"><div class="tab contenttab restab">Table View</div></a>
                    <a href="#grid"><div class="tab contenttab gritab">Grid View</div></a>
                    {{/hasInputItems}}
                    {{^hasInputItems}}
                        <div class="tab greyed-out">Table View</div>
                        <div class="tab greyed-out">Grid View</div>
                    {{/hasInputItems}}
                </div>
            </div>
            <div id="complete-info">
                <div id="query" class="first category">
                    <form role="form" action="/analyze/{{datatype}}/" method="GET">
                        <input id="analyze_auto_target" name="input_items" value="{{input_items}}" type="hidden"/>
                        <div class="form-group">
                            <label for="analyze_auto_input"><h4>Add to search list</h4></label>
                            <input id="analyze_auto_input" type="text" class="form-control"
                            placeholder="Enter {{datatype}} here"/>
                        </div>
                        <div class="form-group">
                            <label for="analyze_auto_list"><h4>Search list / {{datatype}} profile</h4></label>
                            <ul id="analyze_auto_list" class="list-group">
                            <li class="list-group-item">Empty: Add items using the input above.</li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="analyze_limit_input"><h4>Maximum number of results</h4></label>
                            <input id="analyze_limit_input" name="limit" type="text"
                            class="form-control" value="{{limit}}"></input>
                        </div>              
                        <div class="form-group">
                            <label for="target"><h4>Target</h4></label>
                            <select id="target" name="target_species">
                            <option value="" selected="selected" >All</option>
                            <option value="10090">Mouse (genes)</option>
                            <option value="7955">Zebrafish (genes)</option>
                            <option value="9096">Human (diseases)</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-info">Search</button>  
                    </form>
                </div>
                {{#hasInputItems}}
                <div id="result" class="category">
                    <h3 class="downloadline">Results</h3>
                    <a href="{{{base_url}}}.json" class="btn btn-info downloadline">JSON</a>
                    {{#hasResults}}
                    <table class="{{css.table}}">
                    <p>{{{resultsTable}}}</p>
                    </table>
                    {{/hasResults}}
                    {{^hasResults}}
                    <div class="text">Unfortunately, your search produced no results.</div>
                    {{/hasResults}}
                </div>
                <div id="grid" class="category">
                    <input id="analyze_auto_species" name="current_target_species" value="{{target_filter.species}}" type="hidden"/>
                    <div id ="phen_vis"></div>
                </div>
                {{/hasInputItems}}
            </div>
            {{{includes.footer}}}
        </div>
    </div>
</body>
</html>
