<!DOCTYPE html>
<html>
  <head>
    <title>Monarch Analysis: {{datatype}}</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    <script type="text/javascript" src="/js/Analyze.js"></script>
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"></link>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="../css/disease.css"></link>
    <meta charset=”utf-8”> 
  </head>
  <body>
    <div class="container">
      {{{includes.navbar}}}
      <div class="row">
        <div class="col-lg-2">
          {{{includes.navlist}}}
        </div>
        <div class="col-lg-9">

          <h1>Monarch Analysis: {{datatype}}</h1>

	  <hr />
	  <div>
            <form role="form"
	       action="/analyze/{{datatype}}/"
	       method="GET">
	      <input id="analyze_auto_target"
		     name="input_items"
		     value=""
		     type="hidden" />
	      <div class="form-group">
		<label for="analyze_auto_input">Add to search list</label>
		<input id="analyze_auto_input" type="text" class="form-control"
		       placeholder="Enter {{datatype}} here...">
	      </div>
	      <div class="form-group">
		<label for="analyze_auto_list">Search list / {{datatype}} profile</label>
		<ul id="analyze_auto_list" class="list-group">
		  <li class="list-group-item">Empty:
		    Add items using the input above.</li>
		</ul>
	      </div>
              <div class="form-group">
		<label for="analyze_limit_input">Maximum number of results</label>
		<input id="analyze_limit_input" name="limit" type="text"
		        class="form-control" value="{{limit}}"></input>
	      </div>	      
              <button type="submit" class="btn btn-primary">Search!</button>  
            </form>
	  </div>
	  <hr />

          {{#hasInputItems}}
          <h3>Results</h3>
	  <a href="{{{base_url}}}.json" class="btn btn-success">JSON</a>
          {{#hasResults}}
          <table class="{{css.table}}">
            {{{resultsTable}}}
          </table>
          {{/hasResults}}
          {{/hasInputItems}}
        </div>
      </div>
      {{{includes.footer}}}
    </div>
  </body>
</html>
