<!DOCTYPE html>
<html>
<head>
    <title>Monarch Analysis</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    <script type="text/javascript" src="/js/Analyze.js"></script>
    <script type="text/javascript" src="/js/modeltype.js"></script>
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"/>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="/css/search.css"/>
    <link rel="stylesheet" type="text/css" href="/css/imagehover.css"/>
    <meta charset="utf-8"/>
</head>
<body>
    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="sidebar">
            {{{includes.navlist}}}
        </div>
        <div class="content">
            <div id="description">
                {{#alerts}}
                <div class="alert">
                {{{.}}}
                </div>
                {{/alerts}}
                <div class="title">Monarch Analysis: {{datatype}}</div>
            </div>
            <div id="categories">
                {{#hasInputItems}}
                <a href="#query">
                <div id="initialtab" class="tab contenttab onttab">Query</div>
                </a>
                <a href="#grid">
                <div class="tab contenttab onttab">Grid View</div>
                </a>
                <a href="#resultlist">
                <div class="tab contenttab phentab">Table View</div>
                </a>
                {{/hasInputItems}}
            </div>
            <div id="complete-info">
                <div id="query" class="first category">
                    <form role="form" action="/analyze/{{datatype}}/" method="GET">
                        <input id="analyze_auto_target" name="input_items" value="{{input_items}}" type="hidden"/>
                        <div class="form-group">
                            <label for="analyze_auto_input"><h4>Add to search list</h4></label>
                            <input id="analyze_auto_input" type="text" class="form-control"
                            placeholder="Enter {{datatype}} here"/>
                        </div>
                        <div class="form-group">
                            <label for="analyze_auto_list"><h4>Search list / {{datatype}} profile</h4></label>
                            <ul id="analyze_auto_list" class="list-group">
                            <li class="list-group-item">Empty: Add items using the input above.</li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="analyze_limit_input"><h4>Maximum number of results</h4></label>
                            <input id="analyze_limit_input" name="limit" type="text"
                            class="form-control" value="{{limit}}"></input>
                        </div>              
                        <div class="form-group">
                            <label for="target"><h4>Target</h4></label>
                            <select id="target" name="species">
                            <option value="" selected="selected" >All</option>
                            <option value="10090">Mouse (genes)</option>
                            <option value="7955">Zebrafish (genes)</option>
                            <option value="9096">Human (diseases)</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-info">Search</button>  
                    </form>
                </div>
                {{#hasInputItems}}
                <div id="resultlist" class="category">
                    <h3>Results</h3>
                    <a href="{{{base_url}}}.json" class="btn btn-info">JSON</a>
                    {{#hasResults}}
                    <table class="{{css.table}}">
                    <p>{{{resultsTable}}}</p>
                    </table>
                    {{/hasResults}}
                </div>
                <div id="grid" class="category">
                    <div id ="phen_vis"></div>
                </div>
                {{/hasInputItems}}
            </div>  
            {{{includes.footer}}}
        </div>
    </div>
</body>
</html>
