<!DOCTYPE html>
<html>
  <head>
    <title>Monarch Organ Systems</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"></link>
    {{/stylesheets}}
    <meta charset=”utf-8”> 
  </head>
  <body>
    <div class="container">
      {{{includes.navbar}}}
      <div class="jumbotron">
	<h1>Organ System of the month : Kidney</h1>
	<p>A paired organ which has the production of urine as its primary function.</p>
	<a href="/anatomy/UBERON_0002113" class="btn btn-large btn-success">Find out more</a>
      </div>
      <div class="row">
        <div class="col-lg-2">
          {{{includes.navlist}}}
        </div>
        <div class="col-lg-9">
          <h1>Organ System Highlights</h1>
          <ul>
            <li><a href="/anatomy/UBERON_0002038">substantia nigra</li>
            <li><a href="/anatomy/UBERON_0004446">phalangeal epiphyses</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
