<html>
<head>
    <title>Monarch Anatomical Structure: {{label}}</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    <script src="/js/tabs.js"></script>
    <script src="/js/stupidtable.min.js"></script>
    <script src="/js/tables.js"></script>
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"/>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="/css/monarch-specific.css"/>
</head>
<body>
    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="sidebar">
            <a href="/"><img src="/image/logo-sneak.png" width="100" class="img-rounded"/></a>
            <ul class="nav nav-list">
                <li class="nav-header">Find</li>
                    <li class="nav-item"><a href="/disease">Disease</a></li>
                    <li class="nav-item"><a href="/phenotype">Phenotype</a></li>
                    <li class="nav-item"><a href="/model">Model</a></li>
                <li id="navigation" class="nav-header">Navigate</li>
                    <li id="over" class="special nav-item"><a href="#overview">Overview</a></li>
                    <li id="phen" class="special nav-item"><a href="#phenotypes">Phenotypes</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="jumbotron">
                <div id="description">
                    <h1 class="downloadline">Anatomy: {{label}}</h1>
                    <a href="{{{download.json}}}.json" class="btn btn-info downloadline">JSON</a>
                    <p>
                    {{comments}}
                    </p>
                </div>
                <div id="categories">
                    <a href="#overview"><div id="initialtab" class="tab contenttab overtab">Overview</div></a>
                    <a href="#phenotypes"><div class="tab contenttab phentab">Phenotypes</div></a>
                    <!-- <div class="tab greyed-out">Phenotypes</div> -->
                </div>
            </div>
            <div id="complete-info">
                <div id="overview" class="first category">
                    <h3>Overview</h3>
                        <div class="ids">
                            <b>ID:</b> {{id}}
                        </div>
                    <h3 class="downloadline">Ontology</h3>
                        <table class="{{css.table}}">
                        {{{ontNavBox}}}
                        </table>
                </div>
                <div id="phenotypes" class="category">
                    <h3 class="downloadline">Phenotypes</h3>
                    <a href="{{{base_url}}}/phenotype_associations.json" class="btn btn-info downloadline">JSON</a>
                    <table class="{{css.table}}">
                    {{{phenotypeTable}}}
                    </table>
                </div>
            </div>
            {{{includes.footer}}}
        </div>
    </div>
</body>
</html>
