<html>
<head>
    <title>Monarch Anatomy: {{label}}</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    <script src="/js/tabs.js"></script>
    <script src="/js/stupidtable.min.js"></script>
    <script src="/js/tables.js"></script>
    {{{includes.analytics}}}
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"/>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="/css/monarch-main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/monarch-specific.css"/>
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/> 
</head>
<body>
    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="content">
            <div class="wrapperforfooter">
            <div class="jumbotron">
                <div id="description">
                    {{#alerts}}
                    <div class="alert">
                        {{{.}}}
                    </div>
                    {{/alerts}}
                    <img id="monarch-logo" class="downloadline" src="/image/logo.png"/>
                    <h1 class="downloadline">Anatomy: {{label}}</h1>
                    <a href="{{{base_url}}}.json" class="btn btn-default downloadline downloadline-left">JSON</a>
                    <a class="downloadline btn btn-large btn-default btn-monarch-main monarch-feedback-dark"
                            href="mailto:info@monarchinitiative.org">Your feedback welcome!</a>
                    <p>
                    {{comments}}
                    </p>
                </div>
                <div id="categories">
                    <a href="#overview"><div id="initialtab" class="tab contenttab">Overview</div></a>
                    <a href="#phenotypes"><div class="tab contenttab">Phenotypes</div></a>
                    <!-- <div class="tab greyed-out">Phenotypes</div> -->
                </div>
            </div>
            <div id="complete-info">
                <div id="overview" class="first category">
                    <h3>IDs</h3>
                        <div class="ids">
                            <b>URI:</b> <a href="{{{url}}}">{{{url}}}</a>
                        </div>
                        <div class="ids">
                            <b>AKA:</b>
                            {{aka}}
                        </div>
                        <div class="ids">
                            <b>IDs:</b>
                            {{ids}}
                        </div>
                    <h3>Classification</h3>
                    {{{includes.classificationComponent}}}
                </div>
                <div id="phenotypes" class="category">
                    <h3 class="downloadline">Phenotypes</h3>
                    <ul>
                      {{#phenotypeHrefs}}
                      <li>{{{.}}}</li>
                      {{/phenotypeHrefs}}
                    </ul>
                </div>
                <div id="genotypes" class="category">
                    <h3 class="downloadline">Genotype Associations</h3>
                    <a href="{{{base_url}}}/genotype_associations.json" class="btn btn-info downloadline">JSON</a>
                        <!-- <a href="{{{base_url}}}/genotype_associations.rdf" class="btn btn-info">RDF</a> -->
                        <!-- <a href="{{{base_url}}}/genotype_associations.nt" class="btn btn-info">n-triples</a> -->
                        <table class="{{css.table}}">
                        {{{genotypeTable}}}
                        </table>
                </div>
                <div id="diseases" class="category">
                    <h3>Disease</h3>
                    <table class="{{css.table}}">
                    {{{diseaseTable}}}
                    </table>
                </div>

            </div>
            </div> <!-- closes wrapperforfooter -->
            {{{includes.footer}}}
        </div>
    </div>
</body>
</html>
