<!DOCTYPE html>
<html>
<head>
    <title>Annotation</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    <script src="/js/tabs.js"></script>
    <script src="/js/stupidtable.min.js"></script>
    <script src="/js/tables.js"></script>
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"/>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="/css/monarch-specific.css"/>
    <link rel="stylesheet" type="text/css" href="/css/imagehover.css"/>
    <meta charset="utf-8"/>
</head>
<body>
    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="sidebar">
            <a href="/"><img src="/image/logo-sneak.png" width="100" class="img-rounded"/></a>
            <ul class="nav nav-list">
            </ul>
        </div>
        <div class="content">
            <div class="jumbotron">
                <div id="description">
                    {{#alerts}}
                    <div class="alert">
                        {{{.}}}
                    </div>
                    {{/alerts}}
                    <h1>Text Annotator</h1>
                    <p>
                      Provided by the
                      <a href="http://nif-services.neuinfo.org/servicesv1/resource_AnnotateService.html">
                        NIF Annotation Service
                      </a>
                    </p>
                </div>
            </div>
            <div id="complete-info">
                <div id="query" class="first category">
                    <form role="form" action="/annotate/text/" method="GET">
                      <p>Enter a phrase, piece of text or abstract:</p>
                      <textarea rows="10" cols="80"
                                id="annotate_auto_target" name="q">{{query}}</textarea>

                      </br>
                      <input type="checkbox" name="longestOnly"
                             {{#longestOnly}}
                             checked="true"
                             {{/longestOnly}}
                             value="true">Always use longest match</input>

                      </br>
                      <button type="submit" class="btn btn-info">Search</button>  
                    {{#hasResults}}
                    <h3 class="downloadline">Results</h3>
                    <table>
                    {{{resultsTable}}}
                    </table>
                    {{/hasResults}}
                    </form>
                </div>
            </div>
            {{{includes.footer}}}
        </div>
    </div>
</body>
</html>
