    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="content">
            <div class="wrapperforfooter">
            <div class="jumbotron">
                <div id="description">
                    {{#alerts}}
                    <div class="alert">
                        {{{.}}}
                    </div>
                    {{/alerts}}
                    <img id="monarch-logo" class="downloadline" src="/image/logo.png"/>
                    <h1 class="downloadline">Text Annotator</h1>
                    <a class="downloadline btn btn-large btn-default btn-monarch-main monarch-feedback-dark"
                            href="mailto:info@monarchinitiative.org">Your feedback welcome!</a>
                    <p>
                        Provided by the <a href="https://github.com/SciGraph/SciGraph">SciGraph</a> Annotation Service
                    </p>
                </div>
                <div id="categories">
                    <div class="tabcontainer">
                        {{#hasResults}}
                        <a href="#query"><div class="tab contenttab">Query</div></a>
                        {{/hasResults}}
                        {{^hasResults}}
                        <a href="#query"><div id="initialtab" class="tab contenttab">Query</div></a>
                        {{/hasResults}}
                    </div>
                    <div class="tabcontainer">
                        {{#hasResults}}
                        <a href="#markedup"><div id="initialtab" class="tab contenttab">Marked Up Text</div></a>
                        {{/hasResults}}
                        {{^hasResults}}
                            <div class="tab greyed-out">Marked Up Text</div>
                        {{/hasResults}}
                    </div>
                    <div class="tabcontainer">
                        {{#hasResults}}
                            <a href="#listview"><div class="tab contenttab">List View</div></a>
                        {{/hasResults}}
                        {{^hasResults}}
                            <div class="tab greyed-out">List View</div>
                        {{/hasResults}}
                    </div>
                </div>
            </div>
            <div id="complete-info">
                {{#hasResults}}
                    <div id="query" class="category">
                {{/hasResults}}
                {{^hasResults}}
                    <div id="query" class="first category">
                {{/hasResults}}
                    <form role="form" action="/annotate/text" method="GET">
                        <p>Enter a phrase, piece of text, or abstract:</p>
                        <textarea cols="80" rows="10" id="annotate_auto_target" name="q">
{{#query}}
{{query}} 
{{/query}}
{{^query}}
Lewis (1978) found 7 affected males and 5 affected females in 3 consecutive generations of a Caucasian kindred. As in the X-linked Nettleship-Falls form of ocular albinism (300500), the patients showed reduced visual acuity, photophobia, nystagmus, translucent irides, strabismus, hypermetropic refractive errors, and albinotic fundus with foveal hypoplasia. The skin lesions showed macromelanosomes as in X-linked ocular albinism. Deafness, which was accompanied by vestibular hypofunction, lentigines even in unexposed areas, optic nerve dysplasia, and dominant inheritance distinguished this form of ocular albinism. (In the LEOPARD syndrome (151100) vestibular function is normal.)

Bard (1978) described a kindred that was atypical of Waardenburg syndrome (see 193510) in several ways. Although the nasal root was prominent, one affected person had dystopia of the inner canthi or lower puncta. The face in some showed striking freckling of pale skin. Symptomatic vestibular disturbance was another unusual feature. Lewis (1989) expressed the opinion that the family reported by Bard (1978) as an instance of Waardenburg syndrome in fact had this disorder. Lewis (1989) had also been told of 2 other small families with the syndrome. Goldberg (1966) described a Waardenburg syndrome family with apparent ocular albinism.

Morell et al. (1997) presented an update of the clinical findings in the family of Bard (1978). The deafness was sensorineural and congenital. Heterochromia iridis was a prominent feature in 1 sibship in which both segmental iris bicolor and complete heterochromia occurred. Most of the affected individuals showed transillumination defects of the iris. Hypopigmentation of the fundus was mild in some, moderate in others, and severe in yet others. Almost all affected individuals had strabismus and visual acuity defects. One individual with a prominent white forelock, characteristic of Waardenburg syndrome, was pictured. 
{{/query}}
                        </textarea>
                        </br>
                        <input id="longestcheck" type="checkbox" name="longestOnly"
                        {{#longestOnly}} checked="true" {{/longestOnly}}
                        value="true">Always use longest match</input>
                        </br>
                        <button type="submit" class="btn btn-annotate btn-default btn-monarch-main monarch-blue">Search</button>  
                    </form>
                </div>
                {{#hasResults}}
                    <div id="markedup" class="first category">
                {{/hasResults}}
                {{^hasResults}}
                    <div id="markedup" class="category">
                {{/hasResults}}
                    <div id="markeduptext">{{{markedText}}}</div>
                </div>
                <div id="listview" class="category">
                    {{#hasResults}}
                        <table>
                        {{{resultsTable}}}
                        </table>
                        <form role="form" action="/analyze/phenotype/" method="GET">
                            <div><b>Phenotype Profile Size</b>: {{numPhenotypes}}</div>
                            <input type="hidden" name="input_items" value="{{inputItems}}"/>
                            <input type="hidden" name="target_species" value="all"/>
                            <input type="hidden" name="mode" value="search"/>
                            <button type="submit" class="btn btn-annotate btn-default btn-monarch-main monarch-blue">Search!</button>  
                        </form>
                    {{/hasResults}}
                    {{^hasResults}}
                        <div class="text">Unfortunately, your search produced no results.</div>
                    {{/hasResults}}
                </div>
            </div>
            </div> <!-- closes wrapperforfooter -->
            {{{includes.footer}}}
        </div>
    </div>
