{{{includes.navbar}}}

<div class="wrapperforfooter">
  <div class="container-fluid monarch-container">

    <div class="content content-bottom">
      <div class="section">
        <div class="sectiontitle">Blank IRI</div>
          <div class="text">
            This IRI represents a skolemized blank node. The Monarch Initiative
            uses skolemized IRIs to provide a consistent structure 
            across sources.  This IRI is not guaranteed to persist across releases.
          </div>
      </div>
    </div>
   </div>


<!-- Close top-level container. -->
</div>

<!-- Footer. -->
{{{includes.footer}}}