<html>
  <head>
    <title>Monarch Ontology Term: {{label}}</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"></link>
    {{/stylesheets}}
  </head>
  <body>
    <h1>{{label}}</h1>
    <div id="description">
      <p>
        {{description}}
      </p>
    </div>
    <div id="nav">
      <!-- parents, children -->
    </div>
  </body>
</html>
