<div class="text">MonarchInitiative.org is not intended for direct diagnostic use or medical decision-making. 
If you have any health questions about the information contained on this website, 
please contact a medical professional.

The Monarch Initiative sources variant interpretations as provided by the original source


For more information see our disclaimer

</div>