<h5 style="font-weight:bold; margin-top:3px">Disclaimer</h5>

<div class="text">MonarchInitiative.org is not intended for direct diagnostic use or medical decision-making. 
If you have any health questions about the information contained on this website, 
please contact a medical professional.
</div>

<div class="text" style="padding-top:5px">
The Monarch Initiative sources variant interpretations as provided by the original source 
and provides mappings to third party databases such as dbSNP when possible.
</div>

<div class="text" style="padding-top:5px">Case pages provide a subset of the information included in the original source, such as
phenotypes and variants of interest.  In addition, we provide similarity scores to diseases, other cases, and non-human models 
based on <a id="internal-link" href="#compare">phenotype profile comparisons computed by OwlSim</a>.
This analysis is not intended to supersede the analysis performed by the original source.

</div>


<div class="text" style="padding-top:10px">For more information see our <a href="/page/disclaimer">full disclaimer</a>.
</div>