<div class="text">The NIH Undiagnosed Disease Program (UDP) was started in 2008.
The program’s goals include making diagnosis and conducting research for individuals
and families with illnesses that remain undiagnosed despite an extensive medical
workup. In 2013, the program expanded to the Undiagnosed Diseases Network (UDN). 
The UDN performs similar work, but now includes a number of clinical and research
sites across the United States. Persons interested in learning more about the UDN,
are invited to visit the UDN website:<br>
<a href="https://undiagnosed.hms.harvard.edu/">
https://undiagnosed.hms.harvard.edu/</a>
</div>

<div class="text" style="padding-top:10px">
This case includes information from a participant in the Undiagnosed Diseases Program
(UDP) at the National Institutes of Health. For protection of participant privacy,
the case description does not include identifiable information.
Features of the participant’s medical condition are presented, along with genes of potential
interest. In addition, we provide similarity scores to diseases, other cases, and non-human models 
based on <a id="internal-link" href="#compare">phenotype profile comparisons computed by OwlSim</a>. 
If you are a researcher studying a listed gene or clinical feature, or if you have a
family member with a similar illness, please consider contacting the UDP. Contacting
the UDP will allow a discussion about options for collaboration and/or study participation.
Inquiries should be sent to David Adams, MD, PhD at david.adams[at]nih.gov.
Some UDN families and individuals have elected to post more extensive information on the web.
Those pages can be viewed at the following website:<br>
<a href="https://undiagnosed.hms.harvard.edu/updates/participant-pages/">
https://undiagnosed.hms.harvard.edu/updates/participant-pages/</a>
</div>



<h5 style="font-weight:bold; margin-top:15px">Disclaimer</h5>

<div class="text">MonarchInitiative.org is not intended for direct diagnostic use or medical decision-making. 
For more information see our <a href="/page/disclaimer">full disclaimer</a>.
</div>
