<!DOCTYPE html>
<html>
<head>
    <title>Monarch Disease: {{label}} ({{id}})</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
        <script type="text/javascript">
       $( document ).ready(function() {
       //I think the RingoJS code is calling the document.ready() each time a section
       //of code returns.  This causes my svg to get recreated several times.
       //the loaded_once variable flags this event to ensure it only happens once
          if (loaded_once != 1) {
	          createSvg();
	          loadData();
			  init();
			  createModelRegion();
			  update();
          }
       });
    </script>
    {{/scripts}}
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"></link>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="../css/disease.css"></link>
    <script src="../js/tabs.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset=”utf-8”>
</head>
<body>
    {{{includes.navbar}}}
    <div class="container">
    <div class="sidebar">
        {{{includes.navlistdisease}}}
    </div>
    <div class="content">
        <div class="jumbotron">
            <div id="description">
                <h1>Disease: {{label}}</h1>
                <p>
                {{comments}}
                </p>
            </div>
            <div id="categories">
                <a href="#overview"><div id="initialtab" class="tab overtab">Overview</div></a>
                <a href="#phenotype"><div class="tab phentab">Phenotypes</div></a>
                <a href="#gene"><div class="tab gentab">Genes</div></a>
                <div class="second-row-divider"></div>
                <a href="#allele"><div class="tab alletab second">Alleles</div></a>
                <a href="#model"><div class="tab modtab">Model</div></a>
                <a href="#sim"><div class="tab simtab">Similarity</div></a>
                <a href="#pathways"><div class="tab pathways">Pathways</div></a>
            </div>
        </div>
        <div id="complete-info">
            <div id="overview" class="category">
                <h3>IDs</h3>
                    <div class="ids">
                        <b>AKA: </b>
                        {{#has_exact_synonym}}
                        {{.}},
                        {{/has_exact_synonym}}
                    </div>
                    <div class="ids">
                        <b>IDs: </b>
                        {{#database_cross_reference}}
                        {{.}},
                        {{/database_cross_reference}}
                    </div>
                <h3>Download Disease Information</h3>
                    <a href="{{{base_url}}}.json" class="btn btn-info">JSON</a>
                    <!-- <a href="{{{base_url}}}.rdf" class="btn btn-success">RDF</a> -->
                    <a href="{{{base_url}}}.nt" class="btn btn-info">n-triples</a>
                <h3>Ontology</h3>
                    <p>
                    <table class="{{css.table}}">
                    {{{ontNavBox}}}
                    </table>
                    </p>
            </div>
            <div id="phenotype" class="category">
                <h3>Download Phenotypes</h3>
                    <a href="{{{base_url}}}/phenotype_associations.json" class="btn btn-info">JSON</a>
                    <!--    <a href="{{{base_url}}}/phenotype_associations.rdf" class="btn btn-success">RDF</a> -->
                    <a href="{{{base_url}}}/phenotype_associations.nt" class="btn btn-info">n-triples</a>
                <h3>Phenotypes</h3>
                </span>
                <table class="{{css.table}}">
                {{{phenotypeTable}}}
                </table>
            </div>
            <div id="gene" class="category">
                <h3>Genes</h3>
                <table class="{{css.table}}">
                {{{geneTable}}}
                </table>
            </div>
            <div id="allele" class="category">
                <h3>Alleles</h3>
                <table class="{{css.table}}">
                {{{alleleTable}}}
                </table>
            </div>
            <div id="model" class="category">
                <h3>Download Models</h3>
                    <a href="{{{base_url}}}/models.json" class="btn btn-info">JSON</a>
                    <!--    <a href="{{{base_url}}}/models.rdf" class="btn btn-success">RDF</a> -->
                    <a href="{{{base_url}}}/models.nt" class="btn btn-info">n-triples</a>
                <h3>Models</h3>
                <table class="{{css.table}}">
                {{{modelTable}}}
                </table>
            </div>
            <div id="sim" class="category">
                <h3>Download Info on Similar Diseases</h3>
                <a href="{{{base_url}}}/sim.json" class="btn btn-info">JSON</a>
                <h3>Similar Diseases</h3>
                <table class="{{css.table}}">
                {{{simTable}}}
                </table>
            </div>
            <div id="pathways" class="category">
                <h3>Disease Pathways</h3>
                <a href="{{{base_url}}}/pathway.json" class="btn btn-info">JSON</a>
                <h3>Pathways</h3>
                <table class="{{css.table}}">
                    {{{pathwayTable}}}
                </table>
            </div>

        </div>
    </div>
</body>
</html>
