<!DOCTYPE html>
<html>
  <head>
    <title>Monarch Disease: {{label}} ({{id}})</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"></link>
    {{/stylesheets}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset=”utf-8”> 
  </head>
  <body>
    <div class="container">
      {{{includes.navbar}}}
      <div class="row">
        <div class="col-lg-2">
          {{{includes.navlist}}}
	  <li><a href="#ontology">Ontology</a></li>
	  <li><a href="#phenotype">Phenotypes</a></li>
	  <li><a href="#gene">Genes</a></li>
	  <li><a href="#allele">Alleles</a></li>
	  <li><a href="#model">Model</a></li>
	  <li><a href="#sim">Similarity</a></li>
        </div>
        <div class="col-lg-9">
          <div id="description">
            <h1>Disease: {{label}}</h1>
	    <a href="{{{base_url}}}.json" class="btn btn-success">JSON</a>
	    <a href="{{{base_url}}}.rdf" class="btn btn-success">RDF</a>
	    <a href="{{{base_url}}}.nt" class="btn btn-success">n-triples</a>
            <p>
              {{comments}}
            </p>
            <a href="https://github.com/cmungall/monarch-app/issues/3">todo - tidy this</a>
            <p>
              <i>AKA: </i> {{has_exact_synonym}}
            </p>
            <p>
              <i>IDs: </i> {{database_cross_reference}}
            </p>
          </div>
          <div id="ontontology">
            <h3>Ontology</h3>
            <p>
              <table class="{{css.table}}">
                {{{ontNavBox}}}
              </table>
            </p>
          </div>

          <div id="phenotype">
            <h3>Phenotypes</h3>
	    <a href="{{{base_url}}}/phenotype_associations.json" class="btn btn-success">JSON</a>
	    <a href="{{{base_url}}}/phenotype_associations.rdf" class="btn btn-success">RDF</a>
	    <a href="{{{base_url}}}/phenotype_associations.nt" class="btn btn-success">n-triples</a>
            <span class="text-warning">May be incoomplete/with false
              positives. See: <a href="https://support.crbs.ucsd.edu/browse/LAMHDI-140"></a>
            </span>
            <table class="{{css.table}}">
              {{{phenotypeTable}}}
            </table>
          </div>
          <div id="gene">
            <h3>Genes</h3>
            <table class="{{css.table}}">
              {{{geneTable}}}
            </table>
          </div>

          <div id="allele">
            <h3>Alleles</h3>
            <table class="{{css.table}}">
              {{{alleleTable}}}
            </table>
          </div>

          <div id="model">
	    <a href="{{{base_url}}}/models.json" class="btn btn-success">JSON</a>
	    <a href="{{{base_url}}}/models.rdf" class="btn btn-success">RDF</a>
	    <a href="{{{base_url}}}/models.nt" class="btn btn-success">n-triples</a>
            <h3>Models</h3>
            <table class="{{css.table}}">
              {{{modelTable}}}
            </table>
          </div>

          <div id="sim">
            <h3>Similar Diseases</h3>
	    <a href="{{{base_url}}}/sim.json" class="btn btn-success">JSON</a>
            <table class="{{css.table}}">
              {{{simTable}}}
            </table>
          </div>

        </div>

        <div class="col-lg-2">
          {{{includes.rightlist}}}
        </div>
      </div>
    </div>      
</div>      

</body>
</html>
