<html>
  <head>
    <title>Monarch Disease: {{label}}</title>
  </head>
  <body>
    <h1>{{label}}</h1>
    <div id="description">
    </div>

    <div class="details">
      <b class="detail-block-header">Phenotypes</b>
      <div class="detail-block-contents">
        <table>
          {{{tableOfPhenotypes}}}
        </table>
      </div>
    </div>
  </body>
</html>
