<!DOCTYPE html>
<html>
  <head>
    <title>Monarch Diseases</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"></link>
    {{/stylesheets}}
    <meta charset=”utf-8”> 
  </head>
  <body>
    <div class="container">
      {{{includes.navbar}}}
      <div class="jumbotron">
	<h1>Disease spotlight : Parkinson's disease</h1>
	<p>A neurodegenerative disease that has_material_basis_in
	degeneration of the central nervous system that often impairs
	the sufferer's motor skills, speech, and other
	functions. Monarch includes information on a number of
	different variants of PD.</p>
	<a href="/disease/DOID_14330" class="btn btn-large btn-success">Find out more</a>
      </div>
      <div class="row">
        <div class="col-lg-2">
          {{{includes.navlist}}}
        </div>
        <div class="col-lg-9">
          <h1>Highlighted diseases</h1>
          <span class="text-warning">NOTE: there will be oddities
          with the disease hierarchy until we have the latest
          ontology loaded into OntoQuest</span>

          <ul>
            <li><a href="/disease/DOID_14692">Smith-Lemli-Opitz syndrome</li>
            <li><a href="/disease/DOID_1932">Angelman syndrome</li>
            <li><a href="/disease/DOID_6683">Aarskog-Scott syndrome</li>
            <li><a href="/disease/DOID_3393">coronary heart disease</li>
          </ul>
          <p>
            Use the search bar above to find more diseases...
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
