<!DOCTYPE html>
<html>
<head>
    <title>Monarch Diseases and Phenotypes</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"/>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="/css/monarch-main.css"/>
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
    <meta charset="utf-8"/>
</head>
<body>
    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="content">
            <div class="wrapperforfooter">
            <div class="jumbotron">
                <img id="monarch-logo" class="downloadline" src="/image/logo-sneak.png"/>
                <h1 class="downloadline">Error</h1>
                <p>Sorry. Something went wrong.</p>
                <!-- Developer Error Message -->
                <!-- {{message}} -->
                <!-- Stack Trace: -->
                <!-- {{stackTrace}} -->
            </div>
            </div> <!-- closes wrapperforfooter -->
            {{{includes.footer}}}
        </div>
    </div>
</body>
</html>
