<footer id="footer"
    {{#monarch_footer_fade_p}}
    class="fadeable"
    {{/monarch_footer_fade_p}}>
    The Monarch Initiative is a collaboration between Oregon Health & Science University,
    University of California, San Diego, Lawrence Berkeley National Laboratory, the University of
    Pittsburgh, Sanger Institute, Charité - Universitätsmedizin Berlin, and Garvan Institute of Medical Research
    and is supported generously by a NIH Office of the Director Grant #5R24OD011883.<br/>
    Except where otherwise noted, this work is licensed under a Creative Commons Attribution
    3.0 License.
    {{#monarch_extra_footer_p}}
        Banner image distributed under the <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC-BY-SA
        3.0</a>, composed of images distributed under the <a
            href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC-BY-SA 3.0</a> by
        <a href="https://commons.wikimedia.org/wiki/File:GinkgoLeaves.jpg">Joe Schneid</a>,
        <a href="https://commons.wikimedia.org/wiki/File:High_School_Biology_Cover.jpg">CK-12 Foundation</a>,
        <a href="https://commons.wikimedia.org/wiki/File:White_flowers_b.jpg">Alvesgaspar</a>,
        <a href="https://commons.wikimedia.org/wiki/File:Astrocyte5.jpg">GerryShaw</a>, and
        <a href="https://commons.wikimedia.org/wiki/File:Ovamat4wb.jpg">Leo van der Ven</a>; all other under public
        domain.
    {{/monarch_extra_footer_p}}
</footer>
