<footer id="footer"
    {{#monarch_footer_fade_p}}
    class="fadeable"
    {{/monarch_footer_fade_p}}>
    The Monarch Initiative is a collaboration between Oregon Health & Science University, 
    The Jackson Laboratory, Lawrence Berkeley National Laboratory, the University of
    Pittsburgh, Sanger Institute, Charité - Universitätsmedizin Berlin, Garvan Institute of Medical Research, 
    and William Harvey Research Institute, Barts & The London School of Medicine & Dentistry, 
    Queen Mary University of London.
    Monarch is supported generously by a NIH Office of the Director Grant #5R24OD011883, 
    as well as by NIH-UDP: HHSN268201300036C, HHSN268201400093P, NCI/Leidos #15X143.<br/>
    We are grateful to the many <a href="https://monarchinitiative.org/about/sources">original 
    sources of our data</a> for allowing Monarch to integrate them in this way.
    Except where forbidden by the original sources, this work is licensed under a 
    Creative Commons Attribution 3.0 License.
    {{#monarch_extra_footer_p}}
        The Aperts cameo is composed of images distributed under the <a
            href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC-BY-SA 3.0</a> by
        <a href="https://commons.wikimedia.org/wiki/File:Celldeath.jpg">pschemp</a>,
        <a href="https://commons.wikimedia.org/wiki/File%3A%D0%9F%D0%BB%D0%B0%D0%B3%D0%B8%D0%BE%D1%86%D0%B5%D1%84%D0%B0%D0%BB%D0%B8%D1%8F.jpg">
            Medical advises</a>,
        <a href="https://commons.wikimedia.org/wiki/File:Patient_with_Apert_syndrome.jpg">Hohoff et al</a>; 
        all others adapted from licensed Adobe images or from images under public
        domain.
    {{/monarch_extra_footer_p}}
</footer>
