<div id="footer">
    Except where otherwise noted, this work is licensed under a Creative Commons Attribution
    3.0 License.<br>
	The Monarch Initiative is a collaboration between OHSU, UCSD, LBNL, the University of
	Pittsburgh, Sanger, and Charité and is supported generously by a NIH Office of the
	Director Grant #5R24OD011883.
</div>
