<!DOCTYPE html>
<html>
<head>
    <title>Monarch Gene: {{label}} ({{id}})</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    <script type="text/javascript" src="/widgets/modeltype/js/modeltype.js"></script>
   <script type="text/javascript" src="/js/genepage.js"></script>    <!-- TODO -->
    <script src="/js/tabs.js"></script>
    <script src="/js/stupidtable.min.js"></script>
    <script src="/js/tables.js"></script>
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"/>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="/css/monarch-specific.css"/>
    <link rel="stylesheet" type="text/css" href="/css/imagehover.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
</head>
<body>
    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="sidebar">
            <a href="/"><img src="/image/logo-sneak.png" width="100" class="img-rounded"/></a>
            <ul class="nav nav-list">
                <li class="nav-header">Find</li>
                    <li class="nav-item"><a href="/disease">Disease</a></li>
                    <li class="nav-item"><a href="/gene">Gene</a></li>
                    <li class="nav-item"><a href="/phenotype">Phenotype</a></li>
                    <li class="nav-item"><a href="/model">Model</a></li>
                <li id="navigation" class="nav-header">Navigate</li>
                    <li id="ont" class="special nav-item"><a href="#ontology">Overview</a></li>
                    {{#hasPhenotypes}}
                    <li id="phen" class="special nav-item"><a href="#phenotypes">Phenotypes</a></li>
                    {{/hasPhenotypes}}
                    {{#hasDiseases}}
                    <li id="gen" class="special nav-item"><a href="#diseases">Diseases</a></li>
                    {{/hasDiseases}}
                    {{#hasAlleles}}
                    <li id="alle" class="special nav-item"><a href="#alleles">Alleles</a></li>
                    {{/hasAlleles}}
                    {{#hasInteractions}}
                    <li id="mod" class="special nav-item"><a href="#interaction">Interactions</a></li>
                    {{/hasInteractions}}
                    {{#hasSim}}
                    <li id="simi" class="special nav-item"><a href="#similarity">Related Genes</a></li>
                    {{/hasSim}}
                    {{#hasPathways}}
                    <li id="path" class="special nav-item"><a href="#pathways">Pathways</a></li>
                    {{/hasPathways}}
            </ul>
        </div>
        <div class="content">
            <div class="wrapperforfooter">
            <div class="jumbotron">
                <div id="description">
                    <h1 class="downloadline">Gene: {{label}}</h1>
                    <a href="{{{base_url}}}.json" class="btn btn-info downloadline">JSON</a>
                    <!-- <a href="{{{base_url}}}.rdf" class="btn btn-success">RDF</a> -->
    <!--                 <a href="{{{base_url}}}.nt" class="btn btn-info">n-triples</a> -->
                    <p>
                    {{description}}
                    <br/>
					Organism: {{species}} [{{taxon.id}}] <br />
                    {{comments}}
                    </p>
                </div>
                <div id="categories">
                    <div class="tabcontainer">
                        <a href="#ontology"><div id="initialtab" class="tab contenttab onttab">Overview</div></a>
                    </div>
                    <div class="tabcontainer">
                        <div class="tabhover">View phenotypes related to this gene</div>
                        {{#hasPhenotypes}}
                            <a href="#phenotypes"><div class="tab contenttab phentab">Phenotypes ({{phenotypeNum}})</div></a>
                        {{/hasPhenotypes}}
                        {{^hasPhenotypes}}
                            <div class="tab greyed-out">Phenotypes (0)</div>
                        {{/hasPhenotypes}}
                        </div>
                    <div class="tabcontainer">
                        <div class="tabhover">View diseases related to this gene</div>
                        {{#hasDiseases}}
                            <a href="#diseases"><div class="tab contenttab distab">Diseases ({{diseaseNum}})</div></a>
                        {{/hasDiseases}}
                        {{^hasDiseases}}
                            <div class="tab greyed-out">Diseases (0)</div>
                        {{/hasDiseases}}
                    </div>
                    <div class="tabcontainer">
                        <div class="tabhover">View alleles of this gene</div>
                        {{#hasAlleles}}
                            <a href="#alleles"><div class="tab contenttab alletab">Alleles ({{alleleNum}})</div></a>
                        {{/hasAlleles}}
                        {{^hasAlleles}}
                            <div class="tab greyed-out">Alleles (0)</div>
                        {{/hasAlleles}}
                    </div>
                    <div class="second-row-divider"></div>
                    <div class="tabcontainer">
                        <div class="tabhover">View gene interactions</div>
                        {{#hasInteractions}}
                            <a href="#model"><div class="tab contenttab modtab">Interactions ({{interactionNum}})</div></a>
                        {{/hasInteractions}}
                        {{^hasInteractions}}
                            <div class="tab greyed-out">Interactions (0)</div>
                        {{/hasInteractions}}
                    </div>
                    <div class="tabcontainer">
                        <div class="tabhover">View related genes</div>
                        {{#hasSim}}
                            <a href="#similarity"><div class="tab contenttab simitab">Related Genes ({{simNum}})</div></a>
                        {{/hasSim}}
                        {{^hasSim}}
                            <div class="tab greyed-out">Related Genes (0)</div>
                        {{/hasSim}}
                    </div>
                    <div class="tabcontainer">
                        <div class="tabhover">View pathways that involve this gene</div>
                        {{#hasPathways}}
                            <a href="#pathways"><div class="tab contenttab pathtab">Pathways ({{pathwayNum}})</div></a>
                        {{/hasPathways}}
                        {{^hasPathways}}
                            <div class="tab greyed-out">Pathways (0)</div>
                        {{/hasPathways}}
                    </div>
                </div>
            </div>
            <div id="complete-info">
                <div id="ontology" class="first category">
                    <h3>IDs</h3>
                        <div class="ids">
                            <b>Gene:</b>
                            {{label}}
                        </div>
                        <div class="ids">
                            <b>Description:</b>
                            {{description}}
                        </div>
                        <div class="ids">
                            <b>Gene Location:</b>
                            {{location}}
                        </div>
                        <div class="ids">
                            <b>IDs:</b>
                            {{{refList}}}
                        </div>
                        {{#hasSuperClasses}}
                        <div class="superclasses">
                          <h4>Is a subtype of</h4>
                          <table class="{{css.table}}">
                            {{{superClassTable}}}
                          </table>
                        </div>
                        {{/hasSuperClasses}}
                        {{#hasEquivalentClasses}}
                        <div class="equivs">
                          <h4>Is equivalent to</h4>
                          <table class="{{css.table}}">
                            {{{equivalentClassTable}}}
                          </table>
                        </div>
                        {{/hasEquivalentClasses}}
                        {{#hasSubClasses}}
                        <div class="subs">
                          <h4>Has subtype</h4>
                          <table class="{{css.table}}">
                            {{{subClassTable}}}
                          </table>
                        </div>
                        {{/hasSubClasses}}
                </div>
                {{#hasPhenotypes}}
                <div id="phenotypes" class="category">
                    <h3 class="downloadline">Phenotypes</h3>
                    <a href="{{{base_url}}}/phenotype_associations.json" class="btn btn-info downloadline">JSON</a>
                    <!--    <a href="{{{base_url}}}/phenotype_associations.rdf" class="btn btn-success">RDF</a> -->
    <!--                     <a href="{{{base_url}}}/phenotype_associations.nt" class="btn btn-info">n-triples</a> -->
                    <table class="{{css.table}}">
                     {{{phenotypeTable}}}
                    </table>
                </div>
                {{/hasPhenotypes}}
                {{#hasDiseases}}
                <div id="diseases" class="category">
                    <h3 class="downloadline">Diseases</h3>
                    <a href="{{{base_url}}}/disease_associations.json" class="btn btn-info downloadline">JSON</a>
                    <table class="{{css.table}}">
                    {{{diseaseTable}}}
                    </table>
                </div>
                {{/hasDiseases}}
                {{#hasAlleles}}
                <div id="alleles" class="category">
                    <h3>Alleles</h3>
                    <table class="{{css.table}}">
                    {{{alleleTable}}}
                    </table>
                </div>
                {{/hasAlleles}}
                {{#hasInteractions}}
                <div id="interaction" class="category">
                    <h3 class="downloadline">Similar Interactions</h3>
                    <a href="{{{base_url}}}/interactions.json" class="btn btn-info downloadline">JSON</a>
            <div id ="phen_vis"></div>
                </div>
                {{/hasInteractions}}
                {{#hasSim}}
                <div id="similarity" class="category">
                    <h3 class="downloadline">Related Genes</h3>
                    <a href="{{{base_url}}}/sim.json" class="btn btn-info downloadline">JSON</a>
                    <table class="{{css.table}}">
                    {{{simTable}}}
                    </table>
                </div>
                {{/hasSim}}
                {{#hasPathways}}
                <div id="pathways" class="category">
                    <h3 class="downloadline">Gene Pathways</h3>
                    <a href="{{{base_url}}}/pathway.json" class="btn btn-info downloadline">JSON</a>
                    <table class="{{css.table}}">
                        {{{pathwayTable}}}
                    </table>
                </div>
                {{/hasPathways}}
            </div>
            </div> <!-- closes wrapperforfooter -->
            {{{includes.footer}}}
        </div>
    </div>
</body>
</html>
