<!DOCTYPE html>
<html>
<head>
    <title>Monarch Genes</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"></link>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="../css/monarch-main.css"></link>
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
    <meta charset=”utf-8”></meta>
</head>
<body>
    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="content">
            <div class="wrapperforfooter">
            <div class="jumbotron monarch-gene-light">
                <img id="monarch-logo" class="downloadline" src="/image/logo.png"/>
                <h1 class="downloadline">Gene spotlight: Dystrophin, DMD</h1>
                <a href="/gene/NCBIGene:1756" class="downloadline btn btn-large btn-default btn-monarch-main monarch-gene-dark">Find out more</a>
                <p>DMD encodes dystrophin, which plays a vital role in striated
                   muscle fiber and is part of the dystrophin-associated protein
                   complex, also known as the costamere.</p>
            </div>
            <div class="col-lg-9">
                <h1>Highlighted genes</h1>
                <ul>
                    <li><a href="/gene/NCBIGene:2048">EPHB2 (human)</a></li>
                    <li><a href="/gene/NCBIGene:388552">BLOC1S3 (human)</a></li>
                    <li><a href="/gene/NCBIGene:7291">TWIST1 (human)</a></li>
                    <li><a href="/gene/NCBIGene:20423">Shh (mouse)</a></li>
                </ul>
                <h1>Gene set highlight: Genes involved in neural crest development</h1>
                <ul>
                    <li><a href="/gene/NCBIGene:20348">Sema3c (mouse)</a></li>
                    <li><a href="/gene/NCBIGene:796461">nrg1 (zebrafish)</a></li>
                    <li><a href="/gene/NCBIGene:12166">Bmpr1a (mouse)</a></li>
                    <li><a href="/gene/NCBIGene:8854">RALDH2 (human)</a></li>
                </ul>
            </div>
            </div> <!-- closes wrapperforfooter -->
            {{{includes.footer}}}
        </div>
     </div>
</body>
</html>
