{{{includes.navbar}}}
<div class="container-fluid" style="margin: 1em;">

  <div class="text-center">
    <h1>
      Gene
    </h1>
  </div>

  <!-- Open first row section. -->
  <div class="row">

    <!-- Blurb. -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
      <div class="panel panel-default">
	<p>
	  Monarch <b>Gene</b> integrates information from a wide range
	  of species and sources. Each specific page includes
	  identifiers, nomenclature, genotypes, phenotypes,
	  variations, pathways, aggregated literature, and external
	  links to relevant resources. Here we summarizes the
	  phenotypically-curated data in the system.
	</p>
      </div>
    </div>

    <!-- Annotation Graph-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
      <div class="panel panel-default">
        <div class="disease-gene-container"></div>
	<p class="datagraph-caption">
	  This <em>interactive graph</em> displays the number of
	  disease-gene associations for human diseases per major
	  disease category.  You can explore the distribution of
	  disease subtypes by clicking on the wedge symbol, or visit
	  the disease page itself by clicking on the disease name. You
	  can navigate back to less-specific disease categories by
	  clicking on the breadcrumbs listed in the top left-hand
	  corner.
	</p>
      </div>
    </div>

    <!-- Disease spotlight -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-default">
        <h4>Gene Spotlight: {{{spotlight.label}}}</h4>
        <div>
          <p>{{spotlight.description}}</p>
          <ul>
            <li>Name:  {{spotlight.name}}</li>
            <li>Taxon: {{spotlight.taxon}} </li>
            <li>Variant Genotypes: {{spotlight.genotype_count}} </li>
            <li>Phenotypes: {{{spotlight.phenotypes}}}</li>
            <li>Diseases: {{{spotlight.diseases}}}</li>
            <li>Pathways: {{{spotlight.pathways}}}</li>
            <li>Publications: {{spotlight.publication_count}}</li>
          </ul>
	</div>
        <p class="text-right">{{{spotlight.link}}}</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
