<!DOCTYPE html>
<html>
<head>
    <title>Monarch Genotype: {{label}} ({{id}})</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    <script src="/js/tabs.js"></script>
    <script src="/js/stupidtable.min.js"></script>
    <script src="/js/tables.js"></script>
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"/>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="/css/monarch-specific.css"/>
    <link rel="stylesheet" type="text/css" href="/css/imagehover.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
</head>
<body>
    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="sidebar">
            <a href="/"><img src="/image/logo-sneak.png" width="100" class="img-rounded"/></a>
            <ul class="nav nav-list">
                <li class="nav-header">Find</li>
                    <li class="nav-item"><a href="/disease">Disease</a></li>
                    <li class="nav-item"><a href="/phenotype">Phenotype</a></li>
                    <li class="nav-item"><a href="/gene">Gene</a></li>
                    <li class="nav-item"><a href="/model">Model</a></li>
                <li id="navigation" class="nav-header">Navigate</li>
                    <li id="over" class="special nav-item"><a href="#overview">Overview</a></li>
                    {{#hasPhenotypes}}
                    <li id="phen" class="special nav-item"><a href="#phenotypes">Phenotypes</a></li>
                    {{/hasPhenotypes}}
                    {{#hasDiseases}}
                    <li id="dis" class="special nav-item"><a href="#disease">Disease</a></li>
                    {{/hasDiseases}}
                    {{#hasGenes}}
                    <li id="gen" class="special nav-item"><a href="#genes">Genes</a></li>
                    {{/hasGenes}}
                    {{#hasSim}}
                    <li id="simi" class="special nav-item"><a href="#similarity">Similarity</a></li>
                    {{/hasSim}}
            </ul>
        </div>
        <div class="content">
            <div class="wrapperforfooter">
            <div class="jumbotron monarch-model-light">
                <div id="description">
                    <h1 class="downloadline">Genotype: {{label}}</h1>
                    <a href="{{{base_url}}}.json" class="btn btn-default downloadline monarch-model-dark">JSON</a>
                    <p>
                        Organism: {{taxon.label}} [{{taxon.id}}] <br />
						Source : {{{primary_xref}}}
                    </p>
                </div>
                <div id="categories">
                    <a href="#overview"><div id="initialtab" class="tab contenttab overtab">Overview</div></a>
                    <div class="tabcontainer">
                        <div class="tabhover">View phenotypes related to this model</div>
                        {{#hasPhenotypes}}                
                            <a href="#phenotypes"><div class="tab contenttab phentab">Phenotypes ({{phenotypeNum}})</div></a>
                        {{/hasPhenotypes}}
                        {{^hasPhenotypes}}
                            <div class="tab greyed-out">Phenotypes (0)</div>
                        {{/hasPhenotypes}}
                    </div>
                    <div class="tabcontainer">
                        <div class="tabhover">Placeholder text</div>
                        {{#hasDiseases}}
                            <a href="#disease"><div id="longertab" class="tab contenttab distab">Related Diseases ({{diseaseNum}})</div></a>
                        {{/hasDiseases}}
                        {{^hasDiseases}}
                            <div class="tab greyed-out">Related Diseases (0)</div>
                        {{/hasDiseases}}
                    </div>
                    <div class="second-row-divider"></div>
                    <div class="tabcontainer">
                        <div class="tabhover">View genes known to be variant in this model</div>
                        {{#hasGenes}}
                            <a href="#genes"><div class="tab contenttab gentab">Genes ({{geneNum}})</div></a>
                        {{/hasGenes}}
                        {{^hasGenes}}
                            <div class="tab greyed-out">Genes (0)</div>
                        {{/hasGenes}}
                    </div>
                    <div class="tabcontainer">
                        <div class="tabhover">View models that have phenotypes in common</div>
                        {{#hasSim}}
                            <a href="#similarity"><div class="tab contenttab simitab">Similar Models ({{simNum}})</div></a>
                        {{/hasSim}}
                        {{^hasSim}}
                            <div class="tab greyed-out">Similar Models (0)</div>
                        {{/hasSim}}
                    </div>
                </div>
            </div>
            <div id="complete-info">
                <div id="overview" class="first category">
                    <div class="ids">
                        <b>ID:</b> {{id}} <br />
                    </div>
                </div>
                {{#hasPhenotypes}}
                <div id="phenotypes" class="category">
                    <div id="annotationscore">
                        <span class="annotatetext">Annotation Sufficiency:</span>
                        <span class="stars">{{annotationScore}}</span>
                        <span class="annotatequestion">?</span>
                        <span class="annotatehelp">
                            The annotation score reflects how the breadth and depth of
                            annotations for this genotype compares to all of the other phenotypic
                            profiles in our corpus. A high score means that the genotype is richly
                            annotated, both across a diverse set of phenotypic categories,
                            as well as in the number and specificity of each of the phenotypes.
                        </span>
                    </div>
                    <table class="{{css.table}}">
                    {{{phenotypeTable}}}
                    </table>
                </div>
                {{/hasPhenotypes}}
                {{#hasDiseases}}
                <div id="disease" class="category">
                    <table class="{{css.table}}">
                    {{{diseaseTable}}}
                    </table>
                </div>
                {{/hasDiseases}}
                {{#hasGenes}}
                <div id="genes" class="category">
                    <table class="{{css.table}}">
                    {{{geneTable}}}
                    </table>
                </div>
                {{/hasGenes}}
                {{#hasSim}}
                <div id="similarity" class="category">
                    <table class="{{css.table}}">
                    {{{simTable}}}
                    </table>
                </div>
                {{/hasSim}}
            </div>
            </div> <!-- closes wrapperforfooter -->
            {{{includes.footer}}}
        </div>
    </div>
</body>
</html>
