{{{includes.navbar}}}

<div class="wrapperforfooter">
  <div class="container-fluid monarch-container">

<div class="content content-bottom">
  <div class="text-center">
    <h1>
      Explore Genotypes
    </h1>
  </div>

  <!-- Open first row section. -->
  <div class="row">

    <!-- Blurb. -->
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
        	<p>
        	  Monarch <b>Genotype</b> integrates information from a variety
        	  of sources. Each specific page includes the abnormal genes
        	  and variations, phenotypes, and aggregated literature, with
        	  external links to relevant resources. Here we summarizes
        	  the curated genotype-phenotype data in the system.
        	</p>
        </div>
      </div>
              
          <!-- Spotlight -->
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Model Spotlight: {{{spotlight.link}}}</h4>
          <div>
            <p>{{spotlight.description}}</p>
            <ul>
              <li>Taxon: {{spotlight.taxon}} </li>
              <li>Genes: {{{spotlight.genes}}} </li>
              <li>Phenotypes: {{{spotlight.phenotypes}}}</li>
              <li>Publications: {{{spotlight.publications}}}</li>
            </ul>
          </div>
        </div>
      </div>
    
    </div>

    <!-- Annotation Graph-->
    <div class="col-xs-12 col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
        <div class="dove-container">
      
          <div id="graph-loader">
             <div class="graph-message">Loading Graph...</div>
             <div class="windcatcher-spinner spinner windcatcher">
               <div class="blade"></div>
               <div class="blade"></div>
               <div class="blade"></div>
               <div class="blade"></div>
               <div class="blade"></div>
               <div class="blade"></div>
               <div class="blade"></div>
               <div class="blade"></div>
             </div>
             </div>
          </div>
        	<p class="datagraph-caption">
        	  This <em>interactive graph</em> displays the number of
        	  phenotype associations for genotypes per major
        	  phenotypic category. You can explore the distribution of
        	  more specific phenotypes by clicking on the Y axis labels, or
        	  visit the phenotype page itself by clicking on the corresponding bar.
              You can navigate back to less-specific phenotypes by
        	  clicking on the breadcrumbs listed in the top left-hand
        	  corner. Organisms can be added and removed from the graph by clicking
              on the legend labels.
        	</p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Footer. -->
<hr/>
{{{includes.footer}}}
