<div id="{{{href}}}" class="category">
  <div id="r3" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      
    <!-- Quiet rollover. -->
    <div class="panel panel-default">
      <!-- <div class="panel-heading"> -->
        <!--   <h3 class="panel-title">BS3 Tests</h3> -->
      <!-- </div> -->
      <div class="panel-body">

        <div id="results-area" class="row">
    <!--                  
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <div>
              <h4>Filter results</h4>
        
              <div id="{{{div}}}-filter" class="bs3filter">
                Loading...
             </div>
        
            </div>      
          </div> -->
        
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          
            <div id="{{{div}}}-pager-top" class="bs3pager">
            </div>
            <div id="{{{div}}}">
              pending...
            </div>
            <div id="{{{div}}}-pager-bottom" class="bs3pager-bottom">
            </div>
          
          </div>

       </div>

      <!-- <div class="clearfix"></div> -->
      </div>
    </div>
  </div>
</div>