<div id="{{{href}}}" class="category">
  <div id="r3" class="col-xs-12">
    {{#isPhenotypeTable}}
    {{#isLeafNode}}
    <div id="annotationscore">
      <span class="annotatetext">Annotation Sufficiency:</span>
      <span class="score-spinner"></span>
      <span class="stars"></span>
      <span class="annotatequestion">?</span>
      <span class="annotatehelp">
           The annotation score reflects how the breadth and depth of
           annotations for this disease compares to all of the other phenotypic
           profiles in our corpus. A high score means that the disease is richly
           annotated, both across a diverse set of phenotypic categories,
           as well as in the number and specificity of each of the phenotypes.
      </span>
    </div>
    {{/isLeafNode}}
    {{/isPhenotypeTable}}
      
    <!-- Quiet rollover. -->
        <div id="results-area" class="row">
                     
          <div class="col-xs-12 col-md-3" style="padding:0;">
              <h4 style="margin-top:0px;">Filter results</h4>
        
              <div id="{{{div}}}-filter" class="bs3filter">
                Loading...
             </div>
        
          </div>
        
          <div class="col-xs-12 col-md-9" style="padding:5px;margin:0;">
          
            <div id="{{{div}}}-pager-top" class="bs3pager">
            </div>
            <div id="{{{div}}}">
              &nbsp;&nbsp;&nbsp;&nbsp;<br>
              &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div id="{{{div}}}-pager-bottom" class="bs3pager-bottom">
            </div>
          
          </div>

      <!-- <div class="clearfix"></div> -->
      </div>
    </div>
  </div>
</div>