{{{includes.navbar}}}

<div class="wrapperforfooter">
<div id="monarch-home-container" class="container-fluid monarch-container">

  <div class="jumbotron monarch-home-splash">
    <span class="monarch-home-splash-text">
      <strong>The Monarch Initiative</strong>
    </span>
  </div>

  <div class="row">
    <div id="col-1" class="col-xs-12 col-md-8">
      <div id="monarch-tabber" class="monarch-tabber">
        <div class="row monarch-tabber-controls">
          <div class="monarch-tabber-control">
            <a href="/page/about" class="btn btn-block btn-sm monarch-tabber-on-item monarch-tabber-control-btn">
              <span class="monarch-nav-item-title">Overview</span>
              <br/>
              <img src="/image/carousel-monarch.png"
                   class="monarch-nav-embedded-image" alt="Overview" />
            </a>
          </div>

          <div class="monarch-tabber-control">
            <a data-monarch-legacy href="/disease" class="btn btn-block btn-sm monarch-tabber-off-item monarch-tabber-control-btn">
              <span class="monarch-nav-item-title">Diseases</span>
              <br/>
              <img src="/image/carousel-diseases.png"
                   class="monarch-nav-embedded-image" alt="Diseases" />
            </a>
          </div>

          <div class="monarch-tabber-control">
            <a href="/phenotype" class="btn btn-block btn-sm monarch-tabber-off-item monarch-tabber-control-btn">
              <span class="monarch-nav-item-title">Phenotypes&nbsp;</span>
              <br/>
              <img src="/image/carousel-phenotypes.png"
                   class="monarch-nav-embedded-image" alt="Phenotypes" />
            </a>
          </div>

          <div class="monarch-tabber-control">
            <a href="/model" class="btn btn-block btn-sm monarch-tabber-off-item monarch-tabber-control-btn">
              <span class="monarch-nav-item-title">Models</span>
              <br/>
              <img src="/image/carousel-models.png" class="monarch-nav-embedded-image" alt="Models" />
            </a>
          </div>

          <div class="monarch-tabber-control">
            <a href="/gene" class="btn btn-block btn-sm monarch-tabber-off-item monarch-tabber-control-btn">
              <span class="monarch-nav-item-title">Genes</span>
              <br/>
              <img src="/image/carousel-genes.png"
                   class="monarch-nav-embedded-image" alt="Genetics" />
            </a>
          </div>
        </div>
      </div>

      <div id="monarch-carousel" class="monarch-carousel">
        <div class="monarch-carousel-item monarch-carousel-item-selected">
          <a role="button" href="/page/about">
            <div class="center-block text-center">
              <img class="img-fluid monarch-carousel-item-image" src="/image/carousel-overview.png"
                   alt="Explore Monarch" />
            </div>
          </a>
        </div>

        <div class="monarch-carousel-item monarch-carousel-item-unselected">
          <a role="button" href="/disease">
            <div class="center-block text-center" style="clear:both;">
              <img class="img-fluid monarch-carousel-item-image" src="/image/explore-graph-dis.png"
                   alt="Explore Diseases" />
            </div>
          </a>
        </div>

        <div class="monarch-carousel-item monarch-carousel-item-unselected">
          <a role="button" href="/phenotype">
            <div class="center-block text-center" style="clear:both;">
              <img class="img-fluid monarch-carousel-item-image" src="/image/explore-graph-phe.png"
                   alt="Explore Phenotypes" />
            </div>
          </a>
        </div>

        <div class="monarch-carousel-item monarch-carousel-item-unselected">
          <a role="button" href="/model">
            <div class="center-block text-center" style="clear:both;">
              <img class="img-fluid monarch-carousel-item-image" src="/image/explore-graph-mod.png"
                   alt="Explore Models" />
            </div>
          </a>
        </div>

        <div class="monarch-carousel-item monarch-carousel-item-largest monarch-carousel-item-unselected">
          <a role="button" href="/gene">
            <div class="center-block text-center" style="clear:both;">
              <img class="img-fluid monarch-carousel-item-image" src="/image/explore-graph-gen.png"
                   alt="Explore Genes" />
            </div>
          </a>
        </div>
        <a id="monarch-tabber-next" class="monarch-tabber-control-next">
          <div class="monarch-tabber-chevron monarch-tabber-right-chevron">
          </div>
        </a>
        <a id="monarch-tabber-prev" class="monarch-tabber-control-prev">
          <div class="monarch-tabber-chevron monarch-tabber-left-chevron">
          </div>
        </a>
      </div>

      <div id="cameocontainer" class="container">
        <div class="row flex monarch-home-cameo-row">
          <div class="col-xs-6">
            <div class="card py-0">
              <div class="card-header py-0">
                <h4 class="card-title py-0 pt-1">
                  Patient Variant Analysis
                </h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="monarch-home-cameo-text">
                    Combine genotype and phenotype data across species for patient variant prioritization, functional annotation and pathogenicity determination.
                  </div>

                  <div class="center-block text-center">
                    <a href="/page/exomes">
                      <img
                        src="./image/variation-cameo.png"
                         class="img-fluid monarch-home-cameo-image"
                         alt=""/>
                    </a>
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <div class="center-block text-center">
                  <a class="btn btn-primary monarch-home-cameo-button" href="/page/exomes">
                    Exome Tool Suite
                  </a>
                </div>
                <br/>
              </div>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="card py-0">
              <div class="card-header py-0">
                <h4 class="card-title py-0 pt-1">
                  Patient Archive
                </h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="monarch-home-cameo-text">
                    Securely share &amp; discuss patients with colleagues all around the world.
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>

                  <div class="center-block text-center">
                    <a href="http://patientarchive.org/">
                      <img
                        src="./image/patient-archive-cameo.png"
                         class="img-fluid monarch-home-cameo-image"
                         alt=""/>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="center-block text-center">
                  <a class="btn btn-primary monarch-home-cameo-button" href="http://patientarchive.org/">
                    Patient Archive
                  </a>
                </div>
                <br/>
              </div>
            </div>
          </div>

        </div>

        <div class="row flex monarch-home-cameo-row">
          <div class="col-xs-6">
            <div class="card py-0">
              <div class="card-header py-0">
                <h4 class="card-title py-0 pt-1">
                  Text Mining
                </h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="monarch-home-cameo-text">
                    Use our text mining engines to annotate phenotypes/diseases in your free text. Then optionally compare those phenotypes across species to find candidate models of disease.
                  </div>

                  <div class="center-block text-center">
                    <a href="/annotate/text">
                      <img
                        src="./image/text-mining-cameo.png"
                         class="img-fluid monarch-home-cameo-image"
                         alt=""/>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="center-block text-center">
                  <a class="btn btn-primary monarch-home-cameo-button" href="/annotate/text">
                    Text Mining
                  </a>
                </div>
                <br/>
              </div>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="card py-0">
              <div class="card-header py-0">
                <h4 class="card-title py-0 pt-1">
                  Literature
                </h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="monarch-home-cameo-text">
                    Find literature relevant to a set of phenotypes of interest
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>

                  <div class="center-block text-center">
                    <a href="http://pubmed-browser.human-phenotype-ontology.org/">
                      <img
                        src="./image/literature-cameo.png"
                         class="img-fluid monarch-home-cameo-image"
                         alt=""/>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="center-block text-center">
                  <a class="btn btn-primary monarch-home-cameo-button" href="http://pubmed-browser.human-phenotype-ontology.org/">
                    Phenotype PubMed Browser
                  </a>
                </div>
                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="col-2" class="col-xs-12 col-md-4">
      <div id="hpo-panel" class="card py-0">
        <div class="card-header py-1 my-0">
          <h5 class="card-title py-0 my-0">
            <a
              href="https://medium.com/@MonarchInit/finally-a-medical-terminology-that-patients-doctors-and-machines-can-all-understand-97ccbd97d2e8"              target="_blank">
              target="_blank">
              Plain language for describing human diseases
            </a>
          </h5>
        </div>
        <div class="card-body">
          <a target="_blank" href="http://human-phenotype-ontology.github.io">
          <img
            src="/image/hpo-logo.jpg"
            class="pull-right img-fluid monarch-home-hpo-logo-image"
            alt="Human Phenotype Ontology" />
          </a>

          <span>
            We have developed the <a target="_blank" href="http://human-phenotype-ontology.github.io">Human Phenotype Ontology (HPO)</a>, a vocabulary to describe human disease features (phenotypes). The HPO now includes synonyms that patients, doctors, and machines can all understand.
          </span>
          <div class="center-block text-center" style="clear:both;padding:0;margin:12px 0;">
            <a
              href="https://medium.com/@MonarchInit/finally-a-medical-terminology-that-patients-doctors-and-machines-can-all-understand-97ccbd97d2e8"
              target="_blank">
              <img
                src="/image/hpo-apert-cameo.png"
                class="img-fluid monarch-home-hpo-image"
                alt="HPO" />
            </a>
          </div>
          <div class="center-block text-center">
            <a
              class="btn btn-primary monarch-home-hpo-button" href="https://medium.com/@MonarchInit/finally-a-medical-terminology-that-patients-doctors-and-machines-can-all-understand-97ccbd97d2e8"
              target="_blank">
              View Announcement
            </a>
          </div>
        </div>
      </div>


      <div class="card py-0">
        <div class="card-header py-0 pt-2">
          <h5 class="card-title py-0">Compare Phenotypes</h5>
        </div>
        <div class="card-body">
          <span class="">
            Find models and diseases similar to a set of abnormal phenotypes of interest and then visualize their overlap.
          </span>
          <br/>
          <div class="center-block text-center" style="clear:both;">
            <a data-monarch-legacy href="/analyze/phenotypes">
              <img src="/image/Phenogrid3Compare.png"
                   class="img-fluid monarch-home-phenotype-image"
                   alt="Explore Diseases" />
            </a>
          </div>
          <br/>
          <div class="center-block text-center">
            <a data-monarch-legacy class="btn btn-primary monarch-home-phenotype-button" href="/analyze/phenotypes">
              Go to Phenotype Analysis
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div id="blog" class="col-xs-12">

          <div
            class="card news-panel">
            <div class="card py-0">
              <div class="card-header py-0">
                <h4 class="card-title py-0 pt-1">
                News and Events
                </h4>
            </div>
            <div class="card-body news-list">
              <p>
                <a href="http://icbo2018.cgrb.oregonstate.edu/"> 
                <br> <b>Upcoming:</b> ICBO Conference, Aug 7, 2018 <br>
                </a>
                <a href="https://medium.com/@MonarchInit/exomiser-10-faster-leaner-better-c988650488be"> 
                <br> March 22, 2018: <b> Exomiser 10: Faster, Leaner, Better</b><br>
                </a>
                <a href="https://medium.com/@MonarchInit/tailoring-the-nci-thesaurus-for-semantic-interoperability-21305ccfe3a6">
                  <br> March 2, 2018: <b>Tailoring the NCI Thesaurus...</b><br><br>
                </a>
                <a href="https://medium.com/@MonarchInit/rare-disease-day-2018-a5b7e72df57b">
                  Feb 28, 2018: <b>Rare Disease Day 2018</b><br><br>
                </a>
                <a href="https://medium.com/@MonarchInit/two-new-collaborations-6523739d077c">
                  Oct 17, 2017: <b>Two New Collaborations</b><br><br>
                </a>
              </p>
              {{! #blog_results}}
                <!--div class="news-item">
                  <a href="{{link}}">
                     <span class="news-item-date">{{date}} &nbsp;</span>
                     <span class="news-item-title">{{title}}</span>
                  </a>
                  {{#category}}
                    <a href="{{link}}" class="label label-default">
                      {{label}}
                    </a>
                  {{/category}}
                </div-->
              {{! /blog_results}}
              <div class="news-more">
                <a href="https://medium.com/@MonarchInit/" alt="More posts">
                  More...
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="row">
        <!-- https://dev.twitter.com/web/embedded-timelines/parameters -->
        <div id="twitter" class="col-xs-12">

          <div
            class="card news-panel">
            <div class="card-header py-0">
              <h5 class="card-title">Tweets</h5>
            </div>
            <div class="card-body news-list">


              <a class="twitter-timeline"
                href="https://twitter.com/search?q=%40MonarchInit+OR+%40hp_ontology+OR+%40GA4GH+OR+%40UDNconnect+OR+ID21C"
                data-widget-id="527567015918051328"
                data-chrome="noheader nofooter nobxorders noscrollbar transparent"
                xdata-theme="dark"
                xdata-tweet-limit="1"
                data-preview=""
                height="320"
                width="520">
                Loading Tweets about "@MonarchInit OR @hp_ontology OR @GA4GH OR @UDNconnect"
              </a>
            </div>
          </div>

          <script>

          // From https://dev.twitter.com/web/javascript/loading - 7/26/2015
          !(function(d, s, id) {

            var js,
                fjs=d.getElementsByTagName(s)[0],
                p=/^http:/.test(d.location)?'http':'https';
            if(!d.getElementById(id)){
              js=d.createElement(s);
              js.id=id;
              js.src=p+"://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js,fjs);
            }

            // https://twittercommunity.com/t/auto-expand-photos-always-on-for-embedded-timeline/62510/48

            var hideRecursive = false;
            var hideTweetMedia = function() {
              var container = jQuery("#twitter").find(".twitter-timeline").contents().find(".timeline-Tweet-media");
                container.css("display", "none");
                jQuery("#twitter").css("height", "100%");
                container.css("border", "3px solid red");
                if (!hideRecursive) {
                  jQuery("#twitter").find(".twitter-timeline").contents().find(".timeline-TweetList").bind('DOMSubtreeModified propertychange',
                    function() {
                      hideTweetMedia(this);
                      hideRecursive = true;
                    }
                  );
                }
            };
            hideTweetMedia();
            jQuery('#twitter').on('DOMSubtreeModified propertychange',"#twitter-widget-0", function() {
                hideTweetMedia();
            });
          }(document, "script", "twitter-wjs"));
          </script>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

{{{includes.footer}}}

