<div class="monarch-container">
    {{{includes.navbar}}}
    <div class="content">
        <div class="wrapperforfooter">
            <div class="title">Monarch Labs</div>

            <!-- Two node path -->
            <div class="section">
                <div class="sectiontitle">Cytoscape.js path demo</div>
                <div class="block">
                    <div class="text">
                        <a href="/labs/cy-path-demo">Test</a> for dynamic path
                        browser using cytoscape.js.
                    </div>
                </div>
            </div>

            <!-- -->
            <div class="section">
                <div class="sectiontitle">Cytoscape.js explore demo</div>
                <div class="block">
                    <div class="text">
                        <a href="/labs/cy-explore-demo">Test</a> for dynamic browsing of node neighborhoods using
                        cytoscape.js.
                    </div>
                </div>
            </div>

            <!-- -->
            <div class="section">
                <div class="sectiontitle">Blog scratch</div>
                <div class="block">
                    <div class="text">
                        <a href="/labs/blog-scratch">Test</a> for different ways of interacting with an external
                        blog/resource.
                    </div>
                </div>
            </div>
            <!-- -->
            <div class="section">
                <div class="sectiontitle">Updated Homepage</div>
                <div class="block">
                    <div class="text">
                        <a href="/labs/datagraph">Test homepage</a> with dynamic phenotype distribution graph
                    </div>
                </div>
            </div>

            <!-- -->
            <div class="section">
                <div class="sectiontitle">JBrowse Demo</div>
                <div class="block">
                    <div class="text">
                        <a href="/labs/jbrowse-demo">JBrowse</a> embedded I hope.
                    </div>
                </div>
            </div>

        </div>
        <!-- closes wrapperforfooter -->
        {{{includes.footer}}}
    </div>
</div>