<div class="monarch-container">
    {{{includes.navbar}}}
    <div class="content">
        <div class="wrapperforfooter">
            <div class="title">Monarch Labs</div>

            <!-- Two node path -->
            <div class="section">
                <div class="sectiontitle">Cytoscape.js path demo</div>
                <div class="block">
                    <div class="text">
                        <a href="/labs/cy-path-demo">Test</a> for dynamic path
                        browser using cytoscape.js.
                    </div>
                </div>
            </div>

            <!-- -->
            <div class="section">
                <div class="sectiontitle">Cytoscape.js explore demo</div>
                <div class="block">
                    <div class="text">
                        <a href="/labs/cy-explore-demo">Test</a> for dynamic browsing of node neighborhoods using
                        cytoscape.js.
                    </div>
                </div>
            </div>

            <!-- -->
            <div class="section">
                <div class="sectiontitle">Old home</div>
                <div class="block">
                    <div class="text">
                        <a href="/labs/old-home">Old home</a> home page for reference.
                    </div>
                </div>
            </div>

            <!-- -->
            <div class="section">
                <div class="sectiontitle">Widget scratch</div>
                <div class="block">
                    <div class="text">
                        <a href="/labs/widget-scratch">Test</a> different AmiGO-developed widgets in a Monarch environment.
                    </div>
                </div>
            </div>

            <!-- -->
            <div class="section">
                <div class="sectiontitle">Updated Homepage</div>
                <div class="block">
                    <div class="text">
                        <a href="/labs/datagraph">Test homepage</a> with dynamic phenotype distribution graph
                    </div>
                </div>
            </div>

            <!-- -->
            <div class="section">
                <div class="sectiontitle">JBrowse Demo</div>
                <div class="block">
                    <div class="text">
                        <a href="/labs/jbrowse-demo">JBrowse</a> embedded I hope.
                    </div>
                </div>
            </div>

            <!-- -->
            <div class="section">
                <div class="sectiontitle">Gene JBrowse Demo</div>
                <div class="block">
                    <div class="text">
                        <a href="/labs/gene/NCBIGene:80331">Gene JBrowse</a> embedded.
                    </div>
                </div>
            </div>

            <!-- -->
            <div class="section">
                <div class="sectiontitle">Phenotype JBrowse Demo</div>
                <div class="block">
                    <div class="text">
                        <a href="/labs/phenotype/HP:0002367">Phenotype JBrowse</a> embedded.
                    </div>
                </div>
            </div>

        </div>
        <!-- closes wrapperforfooter -->
        {{{includes.footer}}}
    </div>
</div>
