<!DOCTYPE html>
<html>
  <head>
    <title>Monarch Labs</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    {{{includes.analytics}}}
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"/>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="/css/tour.css"/>
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
    <meta charset="utf-8"/> 
  </head>
  <body>
    <div class="monarch-container">
      {{{includes.navbar}}}
      <div class="content">
        <div class="wrapperforfooter">
          <div class="title">Monarch Labs</div>
	  
	  <!-- Two node path -->
          <div class="section">
            <div class="sectiontitle">Cytoscape.js path demo</div>
            <div class="block">
              <div class="text">
                <a href="/labs/cy-path-demo">Test</a> for dynamic path
                browser using cytoscape.js.
              </div>
            </div>
          </div>	  

	  <!-- -->
          <div class="section">
            <div class="sectiontitle">Cytoscape.js explore demo</div>
            <div class="block">
              <div class="text">
                <a href="/labs/cy-explore-demo">Test</a> for dynamic browsing of node neighborhoods using cytoscape.js.
              </div>
            </div>
          </div>	  
  
        </div> <!-- closes wrapperforfooter -->
        {{{includes.footer}}}
      </div>
    </div>
  </body>
</html>
