{{{includes.navbar}}}

<div class="wrapperforfooter">
  <div class="container-fluid monarch-container">

    <div class="content">
           <div class="card bg-light pt-3 px-3 m-0">
                <div id="description">
                    {{#alerts}}
                    <div class="alert alert-warning alert-block top-alert">
                        {{{.}}}
                    </div>
                    {{/alerts}}
                    <h4 class="downloadline">{{publicationTitle}}</h4>
                    <p>
                        <b>Authors</b>: {{{authorSpan}}}</br>
                        <b>Journal</b>: {{journal}} ({{year}})
                    </p>
                </div>
                <div id="categories">
                    <a href="#overview">
                    <div id="initialtab" class="tab contenttab">Overview</div>
                    </a>
                    {{{includes.association_anchor}}}
                </div>
            </div>
            <div id="complete-info">
               <div id="overview" class="first category">
                </div>
                {{{includes.association_table}}}
            </div>
        </div>
    </div>
</div> <!-- closes wrapperforfooter -->
{{{includes.footer}}}
