<!DOCTYPE html>
<html>
    <head>
        <title>Monarch Diseases and Phenotypes</title>
        {{#scripts}}
        <script type="text/javascript" src="{{url}}"></script>
        {{/scripts}}
        {{#stylesheets}}
        <link rel="stylesheet" type="text/css" href="{{url}}"></link>
        {{/stylesheets}}
        <link rel="stylesheet" type="text/css" href="/css/monarch-main.css"></link>
        <link rel="stylesheet" type="text/css" href="/css/main.css"></link>
        <meta charset=”utf-8”>
    </head>
    <body>
     {{{includes.navbar}}}
        <div class="container">
            <div    class="sidebar">
    {{{includes.navlist}}}
            </div>
            <div class="content">
            <div class="jumbotron">
                <h1>Welcome to Monarch!</h1>
                <a href="/page/tour" class="btn btn-large btn-info right-butn">About Monarch</a>
                <h2>Sneak Peek</h2>      
                <p>Model systems are the cornerstone of biomedical
                research to investigate biological processes, test
                gene-based disease hypotheses, and develop and test
                disease treatments. The vast knowledge that we have about
                model systems can be better utilized if semantically
                aggregated and made queryable based on any number of
                facets, such as phenotypic similarity, network analysis,
                gene expression and function, and genomics. The Monarch
                Initiative aims to provide easy-to-use tools to navigate
                this data landscape, services for other resources, and
                educational outreach regarding the production of
                structured data for biomedical discovery.</p> 
            </div>
            <div id="columns">
                <div id="column1" class="column">
                    <div class="entry">
                        <a href="/disease" class="entryheader">Diseases</a>
                        <div class="entrydescript">
                            <a href="/disease/DOID_14330">Parkinson's disease</a>:
                            A neurodegenerative disease that has material basis in
                            degeneration of the central nervous system that often
                            impairs the sufferer's motor skills, speech, and other
                            functions.<br>
                            <p>Other Diseases:
                            <a href="/disease/DOID_14692">Smith-Lemli-Opitz syndrome</a>,
                            <a href="/disease/DOID_1932">Angelman syndrome</a>,
                            <a href="/disease/DOID_6683">Aarskog-Scott syndrome</a>,
                            <a href="/disease/DOID_3393">coronary heart disease</a>,
                            <a href="/disease/DOID_12798">mucopolysaccharidosis</a>
                            </p>
                        </div>
                    </div>
                    <div class="entry">
                        <a href="/model" class="entryheader">Models</a>
                        <div class="entrydescript">
                            <p><a href="/model/MGI_3621984">Fat Aussie</a>:
                            The biochemical differences between simple steatosis, a
                            benign liver disease, and non-alcoholic steatohepatitis,
                            which leads to cirrhosis, are unclear. Fat aussie is an
                            obese mouse strain with a truncating mutation (foz) in the
                            Alms1 gene.</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="entry">
                        <a href="/phenotype" class="entryheader">Phenotypes</a>
                        <div class="entrydescript">
                            Large floppy ears: Replace this with something more sensible.<br>
                            <p>Related Phenotypes:
                            <a href="/phenotype/HP_0000003">Multicystic kidney dysplasia (human)</a>,
                            <a href="/phenotype/HP_0000104">Renal agenesis (human)</a>,
                            <a href="/phenotype/MP_0000854">abnormal cerebellum development (mouse)</a>,
                            <a href="/phenotype/WBPhenotype_0000655">GABA synaptic transmission variant (worm)</a>
                            </p>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="entryheader">Coming Soon</div>
                        <div class="entrydescript">
                            <ul>
                                <li>Cells</li>
                                <li>Organ Systems</li>
                                <li>Analysis Tools</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {{{includes.footer}}}
        </div>
    </body>
</html>
