<!DOCTYPE html>
<html>
<head>
    <title>Monarch Models</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"/>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="/css/monarch-main.css"/>
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
    <meta charset="utf-8"/>
</head>
<body>
    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="content">
            <div class="wrapperforfooter">
            <div class="jumbotron monarch-model-light">
                <img id="monarch-logo" class="downloadline" src="/image/logo-sneak.png"/>
                <h1 class="downloadline">Model spotlight: Blue Meanie Mouse</h1>
                <a href="/model/MGI:5313509" class="downloadline btn btn-large btn-default btn-monarch-main monarch-model-dark">Find out more</a>
                <p>
                  A mutation in Cc2d2a (coiled-coil and C2 domain
                  containing 2A) was identified in an ENU screen for
                  recessive cardiovascular development phenotypes in
                  Dr. Cecilia Lo's laboratory, NHLBI Cardiovascular
                  Development Consortium (CvDC). Homozygotes
                  demonstrate cardiovascular defects and congenital
                  heart defects ( such as transposition of the great
                  arteries, double outlet right ventricle, and
                  tricuspid atresia; Preaxial digit
                  duplication/polydactyly; duplex and cystic kidneys;
                  cleft palate; and eye defects.
                </p>
		  <A class="feedback downloadline btn btn-large btn-default
                btn-monarch-main" HREF="mailto:info@monarchinitiative.org">Your feedback welcome!</a>
            </div>
            <div class="col-lg-9">
                <h1>Highlighted models</h1>
                <ul>
                    <li><a href="/genotype/MGI:2668213">Mouse Tgfb2/Tgfb2 [involves: 129P2/OlaHsd * Black Swiss]</a></li>
                    <li><a href="/genotype/MGI:3047228">Mouse Vegfa/Vegfa [involves: 129S1/Sv * 129X1/SvJ]</a></li>
                </ul>
            </div>
            <div class="col-lg-9">
                <h1>Model set highlights of Charcot-marie-tooth Disease</h1>
                <ul>
                    <li><a href="/genotype/MGI:3043397">Mouse: Ndrg1/Ndrg1 [involves: 129S1/Sv * 129X1/SvJ * C57BL/6]</a></li>
                    <li><a href="/genotype/MGI:5515892">Mouse : Pmp22/Pmp22<+> [C57BL/6J-Pmp22/GrsrJ]</a></li>
                </ul>
            </div>
            </div> <!-- closes wrapperforfooter -->
            {{{includes.footer}}}
        </div>
    </div>
</body>
</html>
