    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="content">
            <div class="wrapperforfooter">
            <div class="jumbotron monarch-disease-light">
                <div id="description">
                    {{#alerts}}
                    <div class="alert">
                      {{{.}}}
                    </div>
                    {{/alerts}}
                    <img id="monarch-logo" class="downloadline" src="/image/logo.png"/>
                    <h1 class="downloadline">Model: {{label}}</h1>
                    <a class="downloadline btn btn-large btn-default btn-monarch-main monarch-feedback-dark"
                            href="mailto:info@monarchinitiative.org">Your feedback welcome!</a>
                    <p>
                    {{#taxon}}
                    Organism: {{{taxon_xref}}}<br/>
                    {{/taxon}}
                    </p>
                </div>
                <div id="categories">
                    {{{includes.phenogrid_anchor}}}
                    {{{includes.phenotype_anchor}}}
                    {{{includes.disease_anchor}}}
                    {{{includes.gene_anchor}}}
                    {{{includes.variant_anchor}}}
                    {{{includes.pathway_anchor}}}
                    {{#hasPhenotypes}}
                    <a href="#overview"><div class="tab contenttab">Overview</div></a>
                    {{/hasPhenotypes}}
                    {{^hasPhenotypes}}
                    <a href="#overview"><div id="initialtab" class="tab contenttab">Overview</div></a>
                    {{/hasPhenotypes}}
                </div>
            </div>
            <div id="complete-info">
                {{#hasPhenotypes}}
                <div id="overview" class="category">
                {{/hasPhenotypes}}
                {{^hasPhenotypes}}
                <div id="overview" class="first category">
                {{/hasPhenotypes}}
                    <h3>IDs</h3>
                        <div class="ids">
                            <b>URI:</b> <a href="{{{uri}}}">{{{uri}}}</a>
                        </div>
                        {{#hasAka}}
                            <div class="ids">
                                <b>AKA:</b>
                                {{aka}}
                            </div>
                        {{/hasAka}}
                        {{#hasXrefs}}
                            <div class="ids">
                                <b>Cross References:</b> {{{xrefs}}}
                            </div>
                        {{/hasXrefs}}
                        {{#hasEqual}}
                            <div class="ids">
                                <b>Equivalent IDs:</b> {{{equal_ids}}}
                            </div>
                        {{/hasEqual}}
                        {{#hasDef}}
                          <div class="ids">
                            <b>Description:</b> {{definitions}}
                          </div>  
                       {{/hasDef}}
                    </div>
                    {{{includes.phenotype_table}}}
                    {{{includes.disease_table}}}
                    {{{includes.gene_table}}}
                    {{{includes.variant_table}}}
                    {{{includes.pathway_table}}}
                    {{#hasPhenotypes}}
                    <div id="compare" class="first category">
                    {{/hasPhenotypes}}
                    {{^hasPhenotypes}}
                    <div id="compare" class="category">
                    {{/hasPhenotypes}}
                      <div id="phen_vis"></div>
                    </div>
                </div>
        
            </div> <!-- closes wrapperforfooter -->
            {{{includes.footer}}}
        </div>
    </div>
