<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8"/>

    <title>{{title}}</title>

    {{{includes.analytics}}}

    {{#bundleCSS}}
        <link rel="stylesheet" type="text/css" href="{{{.}}}">
    {{/bundleCSS}}

    <!-- CSS. -->
    {{#pup_tent_css_libraries}}
        <link rel="stylesheet" type="text/css" href="{{{.}}}">
    {{/pup_tent_css_libraries}}

    <!-- JS variables. -->
    {{#pup_tent_js_variables}}
        <script type="text/javascript">var {{name}} = {{{value}}};</script>
    {{/pup_tent_js_variables}}

    {{#bundleJS}}
        <script type="text/javascript" src="{{{.}}}"></script>
    {{/bundleJS}}

    <!-- JS libraries. -->
    {{#pup_tent_js_libraries}}
        <script type="text/javascript" src="{{{.}}}"></script>
    {{/pup_tent_js_libraries}}

    <!-- JS launcher. -->
    <script type="text/javascript">
        function loaderBody() {
            InitMonarchBBOPHandler();
            InitMonarchBBOPLinker();
            InitMonarchBBOPWidgetBrowse();
            InitMonarchBBOPWidgetDisplay();
            InitMonarchPage();
            InitTabs();
            InitFacetFilters();

            {{#monarch_launchable}}
                {{.}};
            {{/monarch_launchable}}
        }
    </script>

    <link rel="apple-touch-icon" href="#">
    <link rel="apple-touch-icon-precomposed" href="#">
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">

    <link rel="search" type="application/opensearchdescription+xml" href="/MonarchOpenSearch.xml" title="Search Monarch " />
    <link rel="search" type="application/opensearchdescription+xml" href="/MonarchOpenFetch.xml" title="Monarch Fetch" />
</head>

{{#home_page}}
<body
{{/home_page}}

{{^home_page}}
<body
{{/home_page}}
    id="monarch-body"
onload="loaderBody()">

{{&pup_tent_content}}

</body>
</html>








