<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Monarch Alpha</a>
    <!-- <p class="navbar-text pull-right">
      <a href="https://github.com/monarch-initiative/monarch-app/issues/2" class="navbar-link">Log In</a>
    </p> -->
    <div class="nav-collapse collapse">
      <ul class="nav navbar-nav">

        <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-th-large"></i> Browse
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li><a href="/disease/">Diseases</a></li>
        <li><a href="/phenotype/">Phenotypes</a></li>
        <li><a href="/model/">Models</a></li>
        <li><a href="/anatomy/">Cells & organ systems</a></li>
      </ul>
    </li>

    <!--    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-th-large"></i> Tools
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li><a href="/simsearch/genes">Analyze list of genes</a></li>
        <li><a href="/simsearch/phenotypes">Analyze list of phenotypes</a></li>
        <li><a href="http://www.sanger.ac.uk/resources/databases/exomiser/">Analyze list of variants</a></li>
      </ul>
    </li> -->

        <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-th-large"></i> Documentation
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li><a href="/page/software">Monarch Software</a></li>
        <li><a href="/page/services">Monarch RESTful API</a></li>
        <li><a href="/docs/index.html">Javascript API</a></li>
        <li><a href="https://github.com/monarch-initiative/monarch-app">GitHub
        Project</a></li>
	<!-- <li><a href="https://github.com/monarch-initiative/monarch-app/issues">Issue
       Tracker</a></li> -->
        <li><a href="/page/pubs">Publications</a></li>
        <li><a href="/page/glossary">Glossary</a></li>
      </ul>
    </li>


    <!-- 
     <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-th-large"></i> Download
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li><a href="http://monarchinitiative.org/?q=node/7">Data</a></li>
        <li><a href="http://monarchinitiative.org/?q=node/7">Analyses</a></li>
      </ul>
    </li> -->

        <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-th-large"></i> Contact
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li><a href="/page/tour">Monarch Tour</a></li>
        <li><a href="/page/team">Monarch Team</a></li>
        <li><a href="https://github.com/monarch-initiative/monarch-app/issues">Issue Tracker</a></li>
      </ul>
    </li>
      </ul>
    </div>
  </div>
</div>
<div style="height:48px;" id="spacer"></div>
