
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Monarch</a>
       	<p class="navbar-text pull-right">
          Logged in as <a href="#" class="navbar-link">COMING SOON</a>
        </p>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="/">Home</a></li> -->
            <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	        <i class="icon-th-large"></i> Browse
	        <b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	        <li><a href="/disease/">Diseases</a></li>
	        <li><a href="/phenotype/">Phenotypes</a></li>
	        <li><a href="/model/">Models</a></li>
	        <li><a href="/anatomy/">Cells and organ systems</a></li>
	      </ul>
	    </li>
            <li><a href="/page/about">About</a></li>
            <li><a href="http://monarchinitiative.org/?q=node/7">Downloads</a></li>
            <li><a href="http://monarchinitiative.org/?q=node/4">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
   <div style="height:48px;" id="spacer"></div>
   <form class="form-search search-bar" action="/search/" method="GET">  
     <input name="search_term" type="text" class="input-medium search-query">  
     <button type="submit" class="btn">Search</button>  
     (currently verryyyyy slow....)
   </form> 
