<!--    <img src="http://monarchinitiative.org/sites/default/files/logo-1_1.png" class="img-rounded"/> -->
<a href="/"><img src="/image/logo-alpha.png" width="100" class="img-rounded"/></a>
<ul class="nav nav-list">
    <form class="form-search search-bar" action="/search/" method="GET">  
         <input name="search_term" type="text" class="input-medium search-query">  
         <button type="submit" class="btn btn-primary">Search</button>  
    </form> 
    <li class="nav-header">Find</li>
        <li class="nav-item"><a href="/disease">Disease</a></li>
        <li class="nav-item"><a href="/phenotype">Phenotype</a></li>
        <li class="nav-item"><a href="/model">Model</a></li>
    <li id="navigation" class="nav-header">Navigate</li>
        <li id="over" class="special nav-item"><a href="#overview">Overview</a></li>
        <li id="ont" class="special nav-item"><a href="#ontology">Ontology</a></li>
        <li id="phen" class="special nav-item"><a href="#phenotype">Phenotypes</a></li>
        <li id="gen" class="special nav-item"><a href="#gene">Genes</a></li>
        <li id="alle" class="special nav-item"><a href="#allele">Alleles</a></li>
        <li id="mod" class="special nav-item"><a href="#model">Model</a></li>
        <li id="simi" class="special nav-item"><a href="#sim">Similarity</a></li>
        <li id="downl" class="special nav-item"><a href="#down">Download</a></li>
    <!-- 
    This last item is actually part of the rightlist template. However, it looks like
    the recent searches features has not been implemented yet. So this is a temporary
    placeholder.
 -->
    <li class="nav-header">Recent Search</li>
        <li class="nav-item"><a href="#">Parkinsons</a></li>
<!--     {{{includes.rightlist}}} -->
</ul>
