    <!--    <img src="http://monarchinitiative.org/sites/default/files/logo-1_1.png" class="img-rounded"/> -->
    <a href="/"><img src="/image/logo.png" width="100" class="img-rounded"/></a>
        <ul class="nav nav-list">
	    <li class="nav-header">Find a...</li>
	    <li><a href="/disease">Disease</a></li>
	    <li><a href="/phenotype">Phenotype</a></li>
	    <li><a href="/model">Model</a></li>
	    <li class="nav-header">Navigate to...</li>
	</ul>
