<!--    <img src="http://monarchinitiative.org/sites/default/files/logo-1_1.png" class="img-rounded"/> -->
<a href="/"><img src="/image/logo-sneak.png" width="100" class="img-rounded"/></a>
<ul class="nav nav-list">
    <li class="nav-header">Find</li>
        <li class="nav-item"><a href="/disease">Disease</a></li>
        <li class="nav-item"><a href="/phenotype">Phenotype</a></li>
        <li class="nav-item"><a href="/model">Model</a></li>
    <li id="navigation" class="nav-header">Navigate</li>
        <li id="phen" class="special nav-item"><a href="#phenotypes">Phenotypes</a></li>
        <li id="ont" class="special nav-item"><a href="#ontology">Ontology</a></li>
        <li id="gen" class="special nav-item"><a href="#genes">Genes</a></li>
        <li id="alle" class="special nav-item"><a href="#alleles">Alleles</a></li>
        <li id="mod" class="special nav-item"><a href="#model">Model</a></li>
        <li id="simi" class="special nav-item"><a href="#similarity">Similarity</a></li>
        <li id="path" class="special nav-item"><a href="#pathways">Pathways</a></li>
</ul>
