<!--    <img src="http://monarchinitiative.org/sites/default/files/logo-1_1.png" class="img-rounded"/> -->
<a href="/"><img src="/image/logo-alpha.png" width="100" class="img-rounded"/></a>
<ul class="nav nav-list">
    <li class="nav-header">Search</li>
    <li><div class="ui-widget">
        <input id="search" class="input-medium search-query"></input>
    </li>
    <li class="nav-header">Find</li>
        <li class="nav-item"><a href="/disease">Disease</a></li>
        <li class="nav-item"><a href="/phenotype">Phenotype</a></li>
        <li class="nav-item"><a href="/model">Model</a></li>
    <li id="navigation" class="nav-header">Navigate</li>
        <li id="over" class="special nav-item"><a href="#overview">Overview</a></li>
        <li id="phen" class="special nav-item"><a href="#phenotypes">Phenotypes</a></li>
        <li id="dis" class="special nav-item"><a href="#disease">Disease</a></li>
        <li id="gen" class="special nav-item"><a href="#genes">Genes</a></li>
        <li id="simi" class="special nav-item"><a href="#similarity">Similarity</a></li>
</ul>
