<!--    <img src="http://monarchinitiative.org/sites/default/files/logo-1_1.png" class="img-rounded"/> -->
<a href="/"><img src="/image/logo-alpha.png" width="100" class="img-rounded"/></a>
<ul class="nav nav-list">
    <form class="form-search search-bar" action="/search/" method="GET">  
         <input name="search_term" type="text" class="input-medium search-query">  
         <button type="submit" class="btn btn-primary">Search</button>  
    </form> 
    <li><div class="ui-widget">
       <label for="search"></label>
       <input id="search" value="search"></input></LI>
    <li class="nav-header">Find</li>
        <li class="nav-item"><a href="/disease">Disease</a></li>
        <li class="nav-item"><a href="/phenotype">Phenotype</a></li>
        <li class="nav-item"><a href="/model">Model</a></li>
    <li id="navigation" class="nav-header">Navigate</li>
        <li id="over" class="special nav-item"><a href="#overview">Overview</a></li>
        <li id="ont" class="special nav-item"><a href="#ontology">Ontology</a></li>
        <li id="dis" class="special nav-item"><a href="#disease">Disease</a></li>
        <li id="geno" class="special nav-item"><a href="#geno">Genotypes</a></li>
        <li id="simi" class="special nav-item"><a href="#sim">Similarity</a></li>
        <li id="downl" class="special nav-item"><a href="#down">Download</a></li>
</ul>
