<!--    <img src="http://monarchinitiative.org/sites/default/files/logo-1_1.png" class="img-rounded"/> -->
<a href="/"><img src="/image/logo-sneak.png" width="100" class="img-rounded"/></a>
<ul class="nav nav-list">
    <li class="nav-header">Find</li>
        <li class="nav-item"><a href="/disease">Disease</a></li>
        <li class="nav-item"><a href="/phenotype">Phenotype</a></li>
        <li class="nav-item"><a href="/model">Model</a></li>
</ul>
