{{{includes.navbar}}}

<div id="monarch-node" class="wrapperforfooter">
    <div class="container-fluid monarch-container">
        <div class="node-content">
            <div class="jumbotron monarch-node-jumbotron">
                <div id="description">
                    {{#alerts}}
                    <div class="alert alert-warning alert-block top-alert">
                        {{{.}}}
                    </div>
                    {{/alerts}}
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <div class="node-type-label">
                                <img class="node-logo" src="{{{node_logo}}}"/>
                                {{node_label}}
                                {{^isLeafNode}}
                                Group
                                {{/isLeafNode}}
                            </div>
                        </div>
                        <div class="col-xs-9 col-sm-10">
                            <div class="node-label">{{label}}
                    {{#taxon}}
                            &nbsp;({{{taxon.label}}})
                    {{/taxon}}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="categories">
                    <a href="#overview">
                        <div id="initialtab" class="tab contenttab">Overview</div>
                    </a>

                    {{{includes.phenotype_anchor}}}
                    {{{includes.disease_anchor}}}
                    {{{includes.gene_anchor}}}
                    {{{includes.genotype_anchor}}}
                    {{{includes.model_anchor}}}
                    {{{includes.variant_anchor}}}
                    {{{includes.function_anchor}}}
                    {{{includes.anatomy_anchor}}}
                    {{{includes.homolog_anchor}}}
                    {{{includes.ortholog_phenotype_anchor}}}
                    {{{includes.ortholog_disease_anchor}}}
                    {{{includes.pathway_anchor}}}
                    {{{includes.interaction_anchor}}}
                    {{{includes.phenogrid_anchor}}}
                </div>
            </div>


            <div class="node-info">
                <div id="overview-panel" class="first category">
                    {{#hasDef}}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="node-description">
                            {{definitions}}
                            </div>
                        </div>
                    </div>
                    {{/hasDef}}
                    
                    {{#hasDisclaimer}}
                    

                    <div id="disclaimer-container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="node-description">
                                {{{includes.disclaimer}}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {{/hasDisclaimer}}
                    
                    <div id="mygene-container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="node-description" id="mygene-description">
                                </div>
                            </div>
                        </div>
                    </div>
                    {{#hasHeritability}}
                        <div class="ids">
                            <b>Heritability:</b>&nbsp;&nbsp;{{inheritance}}
                        </div>
                    {{/hasHeritability}}
                    {{#hasModifier}}
                        <div class="ids">
                            <b>Clinical Modifiers:</b>&nbsp;&nbsp;{{modifier}}
                        </div>
                    {{/hasModifier}}
                    {{#hasAka}}
                    <div class="ids">
                        <b>AKA:</b>&nbsp;&nbsp;{{aka}}
                    </div>
                    {{/hasAka}}

                    {{#hasXrefs}}
                    <div class="ids">
                        <b>References:</b>&nbsp;&nbsp;{{{xrefs}}}
                    </div>
                    {{/hasXrefs}}

                    {{#hasTypes}}
                      <div class="ids">
                            <b>Type:</b> {{{types}}}
                        </div>
                    {{/hasTypes}}

                    {{#hasComment}}
                    <div class="ids">
                        <b>Comment:</b>&nbsp;&nbsp;{{comment}}
                    </div>
                    {{/hasComment}}
                    {{#hasEqual}}
                    <div class="ids">
                        <b>Equivalent IDs:</b>&nbsp;&nbsp;{{{equivalentClasses}}}
                    </div>
                    {{/hasEqual}}
                    <div class="ids">
                        <b>URI:</b>&nbsp;&nbsp;<a href="{{{iri}}}">{{{iri}}}</a>
                    </div>
                    {{#hasSource}}
                    <div class="ids">
                        <b>Source:</b>&nbsp;&nbsp;{{{source}}}
                    </div>
                    {{/hasSource}}
                    <div id="mytrack-container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="node-description" id="mygene-feature">
                                </div>
                            </div>
                        </div>
                    </div>
                    {{#hasVariant}}
                        {{{includes.exac_table}}}
                    {{/hasVariant}}
                    {{#hasDownloads}}
                    <div class="downloads">
                      <div class="row">
                        <br>
                        <div class="col-xs-12">
                        <h3>Downloads</h3>
                        <div class = "button-container">
                        {{{includes.downloads}}}
                        </div>
                        </div>
                       </div>
                    </div>
                    {{/hasDownloads}}
                    {{#hasBrw}}
                    <div class="row">
                        <br>
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="padding:5px 10px 7px 10px;">
                                  <h5 class="panel-title">{{node_label}} Classification
                                    <a
                                      class="pull-right"
                                      target="_blank"
                                      href="{{{classificationBrowserURL}}}">
                                      <i class="fa fa-info-circle fa-lg fa-fw" style="color:darkgray;">
                                      </i>
                                    </a>
                                  </h5>
                                </div>
                                <div class="panel-body" style="margin:0;padding:5px 0;">
                                    <div id="brw">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/hasBrw}}
                </div>
                {{{includes.phenotype_table}}}
                {{{includes.disease_table}}}
                {{{includes.gene_table}}}
                {{{includes.genotype_table}}}
                {{{includes.model_table}}}
                {{{includes.variant_table}}}
                {{{includes.homolog_table}}}
                {{{includes.function_table}}}
                {{{includes.anatomy_table}}}
                {{{includes.ortholog_phenotype_table}}}
                {{{includes.ortholog_disease_table}}}
                {{{includes.pathway_table}}}
                {{{includes.interaction_table}}}
                <div id="compare-panel" class="category">
                  <div id="phen_vis"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- closes wrapperforfooter -->
    {{{includes.footer}}}

