<!DOCTYPE html>
<html>
  <head>
    <title>Monarch Diseases and Phenotypes</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"></link>
    {{/stylesheets}}
    <meta charset=”utf-8”> 
  </head>
  <body>
    <div class="container">
      {{{includes.navbar}}}
      <div class="jumbotron">
	<h1>Welcome to Monarch!</h1>
	<p>Sorry.. your page could not be found..</p>
	<a href="/page/tour" class="btn btn-large btn-success">Take the tour</a>
      </div>
    </div>
  </body>
</html>
