<!DOCTYPE html>
<html>
<head>
    <title>Monarch Diseases and Phenotypes</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"/>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="/css/monarch-main.css"/>
    <meta charset="utf-8"/> 
</head>
<body>
    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="sidebar">
        {{{includes.navlist}}}
        </div>
        <div class="content">
            <div class="wrapperforfooter">
            <div class="jumbotron">
                <h1>Not Found</h1>
                <p>Sorry. Your page could not be found.</p>
            </div>
            </div> <!-- closes wrapperforfooter -->
            {{{includes.footer}}}
        </div>
    </div>
</body>
</html>
