<div class="tabcontainer">
  <div class="tabhover">View phenotypically similar diseases and genes in a grid</div>
  {{#hasPhenotypes}}
    <a href="#compare"><div id="initialtab" class="tab contenttab">Compare</div></a>
  {{/hasPhenotypes}}
  {{^hasPhenotypes}}
  <div class="tab greyed-out">Compare</div>
  {{/hasPhenotypes}} 
</div>