<div class="tabcontainer">
  <div class="tabhover">View phenotypically similar diseases and genes in a grid</div>
    <a href="#compare"><div id="initialtab" class="tab contenttab">Compare</div></a>
</div>