<!DOCTYPE html>
<html>
<head>
    <title>Monarch Phenotype: {{label}} ({{id}})</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    <script src="/js/tabs.js"></script>
    <script src="/js/stupidtable.min.js"></script>
    <script src="/js/tables.js"></script>
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"/>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="/css/monarch-main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/monarch-specific.css"/>
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/> 
</head>
<body>
    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="content">
            <div class="wrapperforfooter">
            <div class="jumbotron monarch-phenotype-light">
                <div id="description">
                    {{#alerts}}
                    <div class="alert">
                      {{{.}}}
                    </div>
                    {{/alerts}}
                    <img id="monarch-logo" class="downloadline" src="/image/logo-sneak.png"/>
                    <h1 class="downloadline">Phenotype: {{label}}</h1>
                    <a href="{{{download.json}}}" class="btn btn-default downloadline downloadline-left monarch-phenotype-dark">JSON</a>
                    <a class="downloadline btn btn-large btn-default btn-monarch-main monarch-feedback-dark"
                            href="mailto:info@monarchinitiative.org">Your feedback welcome!</a>
                    <p>
                    {{#hasDef}}
                    {{definition}}<br/>
                    {{/hasDef}}
                    </p>
                </div>
                <div id="categories">
                    <a href="#overview"><div id="initialtab" class="tab contenttab overtab">Overview</div></a>
                    <div class="tabcontainer">
                        <div class="tabhover">View diseases with this phenotype</div>
                        {{#hasDiseases}}
                            <a href="#disease"><div class="tab contenttab distab">Disease ({{diseaseNum}})</div></a>
                        {{/hasDiseases}}
                        {{^hasDiseases}}
                            <div class="tab greyed-out">Disease (0)</div>
                        {{/hasDiseases}}
                    </div>
                    <div class="tabcontainer">
                        <div class="tabhover">View genotypes with this phenotype</div>
                        {{#hasGenotypes}}
                            <a href="#genotypes"><div class="tab contenttab genotab">Genotypes ({{genotypeNum}})</div></a>
                        {{/hasGenotypes}}
                        {{^hasGenotypes}}
                            <div class="tab greyed-out">Genotypes (0)</div>
                        {{/hasGenotypes}}
                    </div>
                </div>
            </div>
            <div id="complete-info">
                <div id="overview" class="first category">
                    <h3>IDs</h3>
                        <div class="ids">
                            <b>URI:</b> <a href="{{{url}}}">{{{url}}}</a>
                        </div>
                        {{#hasAka}}
                            <div class="ids">
                                <b>AKA:</b>
                                {{aka}}
                            </div>
                        {{/hasAka}}
                        {{#hasXrefs}}
                            <div class="ids">
                                <b>xref IDs:</b> {{{xrefs}}}
                            </div>
                        {{/hasXrefs}}
                    <h3>Classification</h3>
                    {{{includes.classificationComponent}}}
                </div>
                {{#hasDiseases}}
                <div id="disease" class="category">
                    <table class="{{css.table}}">
                    {{{diseaseTable}}}
                    </table>
                </div>
                {{/hasDiseases}}
                {{#hasGenotypes}}
                <div id="genotypes" class="category">
                    <table class="{{css.table}}">
                    {{{genotypeTable}}}
                    </table>
                </div>
                {{/hasGenotypes}}
            </div>
	    
            </div> <!-- closes wrapperforfooter -->
            {{{includes.footer}}}
        </div>
    </div>
</body>
</html>
