<!DOCTYPE html>
<html>
<head>
    <title>Monarch Phenotypes</title>
    {{#scripts}}
    <script type="text/javascript" src="{{url}}"></script>
    {{/scripts}}
    {{#stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{url}}"></link>
    {{/stylesheets}}
    <link rel="stylesheet" type="text/css" href="../css/monarch-main.css"></link>
    <meta charset=”utf-8”>
</head>
<body>
    {{{includes.navbar}}}
    <div class="container">
    <div class="sidebar">
        {{{includes.navlist}}}
    </div>
    <div class="content">
        <div class="jumbotron">
            <h1>Phenotype spotlight: Large floppy ears</h1>
            <p>TODO: Replace this with something sensible.</p>
            <a href="/phenotype/HP_0000386" class="btn btn-large btn-info">Find out more</a>
        </div>
        <div class="col-lg-9">
            <h1>Phenotype List</h1>
            <ul>
                <li><a href="/phenotype/HP_0000003">Multicystic kidney dysplasia (human)</a></li>
                <li><a href="/phenotype/HP_0000104">Renal agenesis (human)</a></li>
                <li><a href="/phenotype/MP_0000854">abnormal cerebellum development (mouse)</a></li>
                <li><a href="/phenotype/WBPhenotype_0000655">GABA synaptic transmission variant (worm TODO)</a></li>
            </ul>
        </div>
        {{{includes.footer}}}
    </div>
</body>
</html>
