<!DOCTYPE html>
<html>
<head>
    <title>Monarch Phenotypes</title>

    {{{includes.analytics}}}

    <!-- CSS. -->
    {{#pup_tent_css_libraries}}
    <link rel="stylesheet" type="text/css" href="{{{.}}}">
    {{/pup_tent_css_libraries}}

    <!-- JS variables. -->
    {{#pup_tent_js_variables}}
    <script type="text/javascript">var {{name}} = {{{value}}};</script>
    {{/pup_tent_js_variables}}

    <!-- JS libraries. -->
    {{#pup_tent_js_libraries}}
    <script type="text/javascript" src="{{{.}}}"></script>
    {{/pup_tent_js_libraries}}
    
    <!-- JS launcher. -->
    <script type="text/javascript">
    jQuery(document).ready(function(){
    {{#monarch_launchable}}
    {{.}};
    {{/monarch_launchable}}
    });
    </script>

    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
    <meta charset="utf-8"/>
</head>
<body style="padding-top: 50px;">
    {{{includes.navbar}}}
    <div class="container-fluid" style="margin: 1em;">
    <!-- Open first row section. -->
    <div class="row">
    <!-- Annotation Graph-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="panel panel-default">
          <div class="graph-container"></div>
          </div>
      </div>
      <!-- Disease spotlight -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="panel panel-default">
          <h4>Phenotype Spotlight: sed do eiusmod</h4>
          <div>Bacon ipsum dolor sit amet ad exercitation leberkas et ground
            round kielbasa. T-bone corned beef enim, in shankle laboris ut
            ham biltong chicken jowl cow drumstick est shank. Biltong
            brisket shank labore chicken ut. Nisi doner sint elit ea,
            cow deserunt flank enim consequat. Meatball short ribs
            laborum ball tip elit.</div>
          </div>
        </div>
        <!-- Getting started area or disease browser -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="panel panel-default">
            <p>Some kind of getting started area? Or maybe disease browser</p>
          </div>
        </div>
      </div>
      <!-- Close first row section. -->
      <!-- Open second row section. -->
      <div class="row">
        <!-- Recent updates -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="panel panel-default">
            <h4>Recent Updates</h4>
            {{#blog_results}}
            <ul>
              <li>
                <a href="{{link}}">{{title}}</a> <small>({{date}})</small>
              </li>
            </ul>
            {{/blog_results}}
            {{#blog_results.length}}
            <p class="text-right"><a href="http://monarch-initiative.blogspot.com/search/label/test">More</a></p>
            {{/blog_results.length}}
            {{^blog_results}}
            <p>No news is good news.</p>
            {{/blog_results}}
          </div>
        </div>
      </div>
      <!-- Close second row section. -->
    </div>
</body>
</html>
