{{{includes.navbar}}}

<div class="wrapperforfooter">
  <div class="container-fluid monarch-container sources-container">
    <div class="content">
      <h1 class="text-center">Data Sources</h1>
      <p>
      Monarch integrates a variety of externally curated data sources, primarily focused on genotype-phenotype and disease-phenotype associations.  The following are a list of the sources currently integrated and available for browsing in our website.
      We are continually adding new sources...if there is a data source you wish to be incorporated into our site, please contact us.
      </p>
      {{{sourcesTable}}}
    </div>
  </div>
</div>

<!-- Footer. -->

{{{includes.footer}}}
