<script id="monarch-launchables" type="text/javascript">/* monarch-launchable-safety-check */
	console.log('monarch-launchables');

    // pup_tent_js_variables
    {{#pup_tent_js_variables}}
	{{name}} = {{{value}}};
    {{/pup_tent_js_variables}}

    // monarch_launchable
	{{#monarch_launchable}}
	    {{.}};
	{{/monarch_launchable}}
</script>

{{&pup_tent_content}}
