+++++++++++++++monarch-script
	window.document.title = "{{{title}}}";
	// console.log("Setting title:", window.document.title);

    // pup_tent_js_variables
    {{#pup_tent_js_variables}}
	window.{{name}} = {{{value}}};
    {{/pup_tent_js_variables}}

    // monarch_launchable
	{{#monarch_launchable}}
	    {{.}};
	{{/monarch_launchable}}
---------------monarch-script

<div>
{{&pup_tent_content}}
</div>
