    {{{includes.navbar}}}
    <div class="monarch-container">
        <div class="content">
            <div class="wrapperforfooter">
            <div class="jumbotron">
                <img id="monarch-logo" class="downloadline" src="/image/logo.png"/>
                <h1 class="downloadline">{{message}}</h1>
                <p>Please check back later</p>
            </div>
            </div> <!-- closes wrapperforfooter -->
            {{{includes.footer}}}
        </div>
    </div>
