{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "env": {
    "browser": true,
  },
  "plugins": [
    "vue"
  ],
  "rules": {
    "comma-dangle": 0,
    "brace-style": [2, "stroustrup"],
    "no-console": 0,
    "padded-blocks": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "spaced-comment": 1,
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "import/prefer-default-export": "off",
    "arrow-parens": ["error", "as-needed"],
    "vue/html-self-closing": 0,
    "vue/html-indent": 1,
    "global-require": 0,
    "no-unused-vars": [0, { "argsIgnorePattern": "^_" }],
    "quote-props": [0]
  },
  "extends": [
    "plugin:vue/strongly-recommended",
    "airbnb-base"
  ],
}

