/**
 * Data Graph
**/

.graph-container{
    position: relative;
    width: 826px;
    float:left;
    /*background-color: #E8E8E8;*/
}

#graph {
    /*margin: 0px 0px 0px 700px;*/
    padding: 10px 0px 0px 0px;
}
.title{
    margin-left: 400px;
    padding-bottom: 10px;
    font-size : 20px;
    font-weight: bold;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.interaction{
   margin-left: 380px;
   margin-top: 10px;
   position: relative;
}
.interaction li{
    list-style-type: none;
}
form {
   display: inline;
   margin-left: 50px;
   margin-top: 5px;
   position:absolute;
}
.bartip {
    position: absolute;
    font-size: 12px;
    color:white;
    line-height: 14px;
    display: none;
    background: #1D1E1F;
    background:rgba(0,0,0,0.7);
    padding: 2px 5px;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 150px;
    z-index: 10;
}
.superbtn{
    background-color: #2C2B33;
    color: white;
}
.superbtn hover{
    background-color: #2C2B33;
}