/**
 * Data Graph
**/

.title{
    line-height:37px;
    vertical-align: middle;
    border-bottom: solid;
    border-width: 1px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.interaction{
   margin-left: 10px;
   margin-top: 6px;
   position: relative;
}
.interaction li{
    list-style-type: none;
}
.breadcrumbs{
   display:inline;
   position: relative;
}
.breadcrumbs text{
   fill:white;
   cursor:default;
}
.settings{    
   display: inline;
   right:0;
   margin-right: 5px;
   position:absolute;
}
.configure {
	padding-right:5px;
	padding-left:2px;
}
.scale {
	padding-right:5px;
    padding-left:2px;
}
.tip {
    position: absolute;
    font-size: 12px;
    color:white;
    line-height: 14px;
    display: none;
    background: #1D1E1F;
    background:rgba(0,0,0,0.7);
    padding: 2px 5px;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 150px;
    z-index: 10;
}

.datagraph-caption {
    padding-top: 1em;
}